* {
    padding: 0;
    margin: 0
}
body {
    text-align: left;
    font-size: 13px;
    font-family: "verdana", "tahoma";
    min-width: 970px;
    color: #333
}
.en {
    font-family: "verdana", "tahoma";
    text-align: left;
    direction: ltr;
    font-size: 14px;
    line-height: 25px
}
.ar {
    font-family: "tahoma", "arial";
    text-align: right;
    direction: rtl;
    font-size: 15px;
    line-height: 30px
}
.col3 ul {
    font-size: 13px
}
input,
textarea {
    font-family: "verdana", "tahoma";
    font-size: 14px;
    line-height: 20px!important;
    resize: none
}
h1 {
    text-align: center;
    font-size: 19px;
    font-weight: normal
}
.ph {
    line-height: 20px
}
a {
    text-decoration: none
}
a img {
    border: 0
}
ul {
    list-style: none
}
.ctr {
    text-align: center!important
}
.pn {
    direction: ltr;
    unicode-bidi: bidi-override;
    white-space: nowrap
}
p .pn {
    text-decoration: underline
}
.ar .pn {
    margin: 0 5px
}
.en .pn {
    margin: 0 5px
}
.hid {
    display: none!important
}
.db {
    float: none!important;
    display: block!important;
    width: auto!important
}
.top,
.top a,
.menu .w,
.bt,
.brd,
.ph,
.cct,
.col3 h4,
.gl,
.gr {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAdUlEQVQIW33MOw7EIAwEUDQHSbf32ttScgcaJEoo+NgmG5MVSqQoFE/jQRrsx4Mx5qN8lU2ZHS+a0pW6Ur9//JOIdBybsyMw8zzp7FprhDFGRymFT1JKjForIcZIyDkzQggM7z3DOSew1oruDcUs9tf0dF4GfsAmWGYOautYAAAAAElFTkSuQmCC);
    background-repeat: repeat-x;
    background-position: 0 -10px
}
.phx,
.lgb {
    -webkit-touch-callout: none
}
.sh,
.top,
.brd,
.col3 h4,
.ls li {
    -moz-box-shadow: 0 3px 3px #999;
    -o-box-shadow: 0 3px 3px #999;
    -webkit-box-shadow: 0 3px 3px #999;
    box-shadow: 0 3px 3px #999;
    margin-bottom: 5px
}
.bt {
    outline: none;
    color: #fff;
    background-color: #369;
    border: 0;
    padding: 0 10px!important;
    height: 35px!important;
    line-height: 35px!important;
    display: inline-block;
    border: 1px outset #999;
    -moz-box-shadow: 0px 2px 3px #333;
    -o-box-shadow: 0px 2px 3px #333;
    -webkit-box-shadow: 0px 2px 3px #333;
    box-shadow: 0px 2px 3px #333
}
input.bt {
    line-height: 15px!important
}
.ek {
    background: url(i/geni.png) no-repeat center
}
.ek {
    display: inline-block;
    width: 60px;
    height: 30px;
    position: absolute;
    top: 2px;
    right: 0;
    background-position: -482px -33px
}
.i {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    float: left
}
.im {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px
}
.i,
.im {
    background: url(i/gen.png) no-repeat center
}
.i1 {
    background-position: -31px -95px
}
.i2 {
    background-position: -32px -64px
}
.i3 {
    background-position: -30px -30px
}
.i4 {
    background-position: -32px -124px
}
.i99 {
    background-position: -32px 1px
}
.i.p {
    background-position: 10px 0;
    float: right
}
.i.rss {
    background-position: -71px -1px
}
.i.h {
    background-position: -31px -157px
}
.i.sn {
    background-position: -71px -38px
}
.im.arrowD {
    background-position: -95px -123px
}
.i.rss {
    width: 40px;
    height: 14px;
    display: inline-block;
    float: none
}
.i.sn {
    width: 30px;
    height: 30px;
    float: right;
}
.i.h {
    float: left;
    margin-right: 10px
}
.i.sn {
    float: none;
    height: 50px;
    width: 40px;
    margin: 0 10px;
    bottom: 0!important;
}
.bt {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px
}
.rct {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0
}
.w,
.col2w {
    width: 970px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #FFF
}
.tpb {
    overflow: hidden;
    width: 950px;
    margin-bottom: 5px
}
.tpb .lg {
    line-height: 0;
    float: left
}
.menu {
    color: #FFF;
    height: 30px;
    z-index: 30000;
    position: relative
}
.menu .w {
    background-color: #143D55!important;
    position: relative;
    overflow: hidden
}
.menu a {
    color: #fff;
    padding: 0 10px 0 5px;
    border-right: 1px solid #aaa;
    height: 30px;
    line-height: 30px;
    float: left;
    display: inline-block
}
.menu .i {
    margin-right: 5px;
    float: none
}
.c {
    position: absolute;
    right: 0px;
    top: 0;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 0 8px 0 0;
    -moz-border-radius: 0 8px 0 0;
    -o-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0
}
#m0 {
    -webkit-border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    -o-border-radius: 8px 0 0 0;
    border-radius: 8px 0 0 0
}
.srch {
    background-color: #ececec;
    margin-top: -5px;
    padding: 5px 0 0;
    overflow: visible;
    z-index: 21000;
    height: 54px;
    position: relative;
    width: 968px;
    border: 1px solid #ccc
}
.c .cf {
    bottom: -3px;
    margin: 0 5px
}
.c b {
    font-weight: normal;
    padding: 0 10px
}
.srch form {
    display: inline
}
.srch .bt {
    position: absolute;
    top: 16px;
    left: 480px;
    width: auto;
    font-size: 15px!important
}
.top {
    height: 30px;
    line-height: 30px;
    background-color: #333!important;
    color: #fff;
    overflow: hidden
}
.top a {
    color: #fff;
    display: inline-block;
    height: 30px
}
.tob {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px
}
.gl,
.gr {
    height: 30px;
    line-height: 30px;
    width: 50px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    background-color: #700;
    vertical-align: top
}
.gl {
    font-size: 13px;
    font-family: "verdana", "tahoma";
    border-right: 1px solid #999
}
.gr {
    line-height: 30px;
    font-size: 15px;
    font-family: "tahoma", "arial";
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    -moz-box-shadow: 2px 0px 3px #333;
    -o-box-shadow: 2px 0px 3px #333;
    -webkit-box-shadow: 2px 0px 3px #333;
    box-shadow: 2px 0px 3px #333
}
.tob a {
    background-color: #143D55!important
}
.tob .lg {
    left: 0;
    white-space: nowrap;
    font-size: 12px;
    padding: 0 5px;
    background-color: #700!important;
    border-right: 1px solid #999
}
.tob a.lg {
    background-color: #143D55!important
}
.pb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #41B419!important;
    padding: 0 10px 0 25px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
    -moz-box-shadow: -2px 0px 3px #333;
    -o-box-shadow: -2px 0px 3px #999;
    -webkit-box-shadow: -2px 0px 3px #999;
    box-shadow: -2px 0px 3px #333
}
.cf {
    width: 32px;
    height: 24px;
    margin: 0 10px;
    vertical-align: top;
    bottom: -8px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 100px 100px
}
.q {
    display: inline-block;
    background-color: #fff;
    width: 450px;
    height: 34px;
    border: 1px solid #ccc;
    position: absolute;
    top: 16px;
    left: 10px
}
.q input {
    width: 418px;
    outline: none;
    height: 30px;
    border: 0;
    position: absolute;
    left: 2px;
    top: 2px
}
.col2w {
    margin-bottom: 10px
}
.col2w .col1 {
    float: right;
    width: 760px
}
.col1 {
    overflow: hidden
}
.col2w .col3 {
    float: left;
    width: 200px
}
.sm .i {
    margin-top: 3px;
    margin-right: 10px
}
.smn {
    margin-bottom: 10px
}
.ad_t {
    float: right;
    display: inline
}
.ad_t div {
    width: 728px;
    height: 90px
}
.ad_m {
    margin-bottom: 15px;
}
.ad_m div {
    width: 300px;
    height: 250px
}
.ad_x {
    margin-bottom: 15px;
}
.ad_x div {
    width: 300px;
    height: 600px
}
.brd {
    background-color: #bdc9dc;
    color: #000;
    overflow: hidden;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    border-width: 0 1px;
    z-index: 1;
    position: relative
}
.brd a {
    padding: 0 0 0 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #FFF;
    background-color: #143e57;
    position: relative
}
.brd a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 20px solid #143e57;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 100%;
    z-index: 2
}
.brd a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 20px solid white;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    margin-right: 1px;
    left: 100%;
    z-index: 1
}
.brd a:first-child {
    padding-left: 10px
}
.brd a:nth-child(2) {
    background-color: #1b5374
}
.brd a:nth-child(2):after {
    border-left-color: #1b5374
}
.brd .rss {
    border: 0!important;
    padding: 0!important;
    margin: 9px 10px 0 30px;
    background-color: transparent!important
}
.brd .rss:after,
.brd .rss:before {
    border: none!important
}
.brd b {
    padding: 0;
    font-weight: normal;
    line-height: 30px
}
.ph {
    float: left;
    width: 650px;
    padding: 8px 5px 5px;
    overflow: hidden;
    margin: 0 0 10px 0;
    background-color: #ececec;
    border: 1px solid #ccc;
    position: relative;
    top: -5px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px
}
.phx {
    width: 398px!important;
    padding-right: 55px
}
.phx .bt {
    margin: 5px 0 10px
}
.lnk {
    color: #00e;
    border: 0
}
.rs {
    overflow: hidden
}
.ls {
    border-top: 0;
    border-bottom: 0;
    float: left;
    width: 660px
}
.ls li {
    padding: 5px 0 0;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 130px;
    position: relative;
    background-color: #e9e9e9;
    background-position: top right;
    background-repeat: repeat;
    margin: 0 0 25px 2px
}
li.vp {
    background-color: #f2d352;
    background-position: top right;
    background-repeat: repeat;
    border-bottom-color: #333
}
.vpdi {
    height: 44px;
    width: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: -30px
}
.ls .ig,.ls .igz {
    float: left;
    margin: 0 10px 150px 0;
    display: inline-block;
    width: 122px;
    height: 110px;
    text-align: center;
    position: relative;
    overflow: hidden
}
.list {
    float: right;
    position: relative;
    z-index: 100;
    margin: 0 0 0 5px;
    width: 300px
}
.cct {
    font-size: 13px;
    margin-top: 5px;
    padding: 0 5px;
    border-top: 1px solid #ccc;
    line-height: 30px;
    height: 30px;
    background-color: #bdc9dc;
    overflow: hidden;
    color: #333
}
.cct .k {
    float: left
}
.cct a {
    color: inherit
}
.cct .i {
    margin-left: 15px
}
.crd {
    position: absolute;
    padding: 2px 5px;
    color: #666;
    top: 89px;
    right: 0px;
    font-size: 11px;
    text-align: right;
    white-space: nowrap
}
.crd b {
    padding: 0 5px 0 0
}
.ms {
    float: right;
    margin-right: 5px
}
.ls p {
    padding: 0 5px;
    overflow: hidden;
    height: 95px
}
@media all and (max-width: 970px) {
    .w.rct,
    .c,
    #m0 {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0
    }
}
.col3 h4 {
    padding: 0 5px;
    background-color: #143D55;
    color: #fff;
    line-height: 37px;
    height: 37px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    font-weight: normal;
    font-size: 14px
}
.col3 ul {
    background-color: #f8f8f8;
    line-height: 35px;
    border: 1px solid #ccc;
    border-bottom: 0;
    position: relative;
    margin-top: -5px;
    z-index: 1
}
.col3 li {
    height: 35px;
    border-bottom: 1px solid #ccc
}
.col3 a {
    display: block;
    padding: 0 5px;
    font-weight: normal
}
.col3 a {
    color: #333
}
.rpd {
    display: none;
    height: auto;
    padding-bottom: 10px;
    text-align: center
}
.rpd b {
    display: block;
    margin-bottom: 3px;
    font-size: 14px
}
.rpd textarea {
    display: block;
    width: 640px;
    height: 56px;
    padding: 2px 3px;
    margin-bottom: 7px
}
.rpd .bt {
    margin: 0 50px;
    width: 80px
}
.qx {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 2px
}
.lgb {
    position: absolute;
    top: 0;
    right: -1px;
    height: 60px;
    width: 365px;
    text-align: center;
    overflow: hidden;
    z-index: 100000
}
.lgb a {
    color: #333
}
.lgb .h {
    line-height: 52px;
    padding: 7px 0 0;
    height: 52px;
    width: 299px;
    font-weight: bold;
    border-left: 1px solid #ccc;
    float: right
}
.bt.cl {
    background-color: #e12222
}
.bt.ok {
    background-color: #41B419
}
.sm .ov {
    display: block;
    padding: 0 5px;
    font-weight: bold;
    float: none;
    margin: 0;
    background-color: #ff9000;
    color: #fff
}
.ls.lsf {
    width: 300px!important;
    height: 200px;
    float: none;
    margin-bottom: 10px;
    background-color: #FFF
}
p.ani {
    padding: 0;
    height: 200px!important;
    width: 293px;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    padding-right: 5px
}
.lsf .drg {
    border: 1px solid #ccc;
    background-color: #FFF;
    position: absolute;
    right: 0px
}
p.ani .ig,p.ani .igz {
    text-align: left;
    width: 123px;
    height: 110px
}
p.ani .crd {
    left:0;
    right:auto;
    direction: rtl;
    bottom: 0;
    top: auto;
    line-height: 17px;
    background-color: #a00;
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px 3px 10px;
    -webkit-border-radius:0 8px 0 0;
    -moz-border-radius:0 8px 0 0;
    -o-border-radius:0 8px 0 0;
    border-radius:0 8px 0 0;
    opacity:1
}
p.ani .vpdi {
    vertical-align: middle
}
.sbr {
    padding-left: 15px!important
}
.sm .arrowD {
    float: right;
    top: 9px;
    position: relative
}
.mps {
    display: inline-block;
    padding: 0;
    text-align: center;
    line-height: 0;
    width: 200px;
    margin-bottom: 5px
}
.mps a {
    display: inline-block;
    padding: 0px;
    line-height: 0;
    margin-bottom: 5px
}
.mios {
    height: 60px;
    width: 200px;
    display: inline-block
}
.mandroid {
    height: 60px;
    width: 200px;
    display: inline-block
}
.ut {
    color: #666
}
.ut .i {
    margin-right: 5px;
    float: none
}
.ut .i.p {
    margin-right: 0px
}