* {
  padding: 0;
  margin: 0;
}

body {
  text-align: left;
  font-size: 13px;
  font-family: "verdana","tahoma";
  min-width: 970px;
  color: #333;
}

.en {
  font-family: "verdana","tahoma";
  text-align: left;
  direction: ltr;
  font-size: 14px;
  line-height: 25px;
}

.col3 ul {
  font-size: 13px;
}

input,
textarea {
  font-family: "verdana","tahoma";
  font-size: 14px;
  line-height: 20px!important;
  resize: none;
}

h1 {
  text-align: center;
  font-size: 19px;
  font-weight: normal;
}

a {
  text-decoration: none;
}





a img {
  border: 0;
}

ul {
  list-style: none;
}

.fl {
  float: right;
}

.pn {
  direction: ltr;
  unicode-bidi: bidi-override;
  white-space: nowrap;
}

p .pn {
  text-decoration: underline;
}

.en .pn {
  margin: 0 5px;
}

.u {
  height: 40px !important;
  width: 35px;
  position: static;
  margin-right: 10px;
  float: left;
  background-repeat: no-repeat;
}

.top,
.top a,
.menu .w,
.bt,
.brd,
.cct,
.col3 h4,
.col3 .on,
.opt,
.drd,
.gl,
.gr {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAdUlEQVQIW33MOw7EIAwEUDQHSbf32ttScgcaJEoo+NgmG5MVSqQoFE/jQRrsx4Mx5qN8lU2ZHS+a0pW6Ur9//JOIdBybsyMw8zzp7FprhDFGRymFT1JKjForIcZIyDkzQggM7z3DOSew1oruDcUs9tf0dF4GfsAmWGYOautYAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: 0 -10px;
}

.lgb {
  -webkit-touch-callout: none;
}

.sh,
.top,
.brd,
.col3 h4 {
  -moz-box-shadow: 0 3px 3px #999;
  -o-box-shadow: 0 3px 3px #999;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  margin-bottom: 5px;
}

.bt {
  outline: none;
  color: #fff;
  background-color: #369;
  border: 0;
  padding: 0 10px!important;
  height: 35px!important;
  line-height: 35px!important;
  display: inline-block;
  border: 1px outset #999;
  -moz-box-shadow: 0px 2px 3px #333;
  -o-box-shadow: 0px 2px 3px #333;
  -webkit-box-shadow: 0px 2px 3px #333;
  box-shadow: 0px 2px 3px #333;
}

input.bt {
  line-height: 15px!important;
}

.i {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  float: left;
}

.i {
  background: url(i/gen.png) no-repeat center;
}

.i1 {
  background-position: -31px -95px;
}

.i2 {
  background-position: -32px -64px;
}

.i3 {
  background-position: -30px -30px;
}

.i4 {
  background-position: -32px -124px;
}

.i99 {
  background-position: -32px 1px;
}

.i.p {
  background-position: 10px 0;
  float: right;
}

.i.fav {
  background-position: 3px -37px;
}

.i.h {
  background-position: -31px -157px;
}

.i.sn {
  background-position: -71px -38px;
}

.i.ab {
  background-position: 3px -101px;
}

.i.fav,
.i.ab,
.i.sn {
  width: 30px;
  height: 30px;
  float: right;
  /*background-position:3px -37px;*/
}

.i.h {
  /*background-position:-31px -157px;*/
  float: left;
  margin-right: 10px;
}

.i.sn {
  float: none;
  height: 50px;
  width: 40px;
  margin: 0 10px;
  bottom: 0!important;
  /*background-position:-71px -38px;*/
}

.bt {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.rct {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}

.w,
.col2w {
  width: 970px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.tpb {
  overflow: hidden;
  width: 950px;
  margin-bottom: 5px;
}

.tpb .lg {
  line-height: 0;
  float: left;
}

.menu {
  color: #FFF;
  height: 30px;
  z-index: 30000;
  position: relative;
}

.menu .w {
  background-color: #143D55!important;
  position: relative;
  overflow: hidden;
}

.menu a {
  color: #fff;
  padding: 0 10px 0 5px;
  border-right: 1px solid #aaa;
  height: 30px;
  line-height: 30px;
  float: left;
  display: inline-block;
}

.menu .i {
  margin-right: 5px;
  float: none;
}

.c {
  position: absolute;
  right: 0px;
  top: 0;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 0 8px 0 0;
  -moz-border-radius: 0 8px 0 0;
  -o-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}

#m0 {
  -webkit-border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -o-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}

.srch {
  background-color: #ececec;
  margin-top: -5px;
  padding: 5px 0 0;
  overflow: visible;
  z-index: 21000;
  height: 54px;
  position: relative;
  width: 968px;
  border: 1px solid #ccc;
}



.c .cf {
  bottom: -3px;
  margin: 0 5px;
}

.c b {
  font-weight: normal;
  padding: 0 10px;
}

.srch form {
  display: inline;
}

.srch .bt {
  position: absolute;
  top: 16px;
  left: 480px;
  width: auto;
  font-size: 15px!important;
}

.top {
  height: 30px;
  line-height: 30px;
  background-color: #333!important;
  color: #fff;
  overflow: hidden;
}

.top a {
  color: #fff;
  display: inline-block;
  height: 30px;
}

.tob {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.gl,
.gr {
  height: 30px;
  line-height: 30px;
  width: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  background-color: #700;
  vertical-align: top;
}

.gl {
  font-size: 13px;
  font-family: "verdana","tahoma";
  border-right: 1px solid #999;
}

.gr {
  line-height: 30px;
  font-size: 15px;
  font-family: "tahoma","arial";
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
  -moz-box-shadow: 2px 0px 3px #333;
  -o-box-shadow: 2px 0px 3px #333;
  -webkit-box-shadow: 2px 0px 3px #333;
  box-shadow: 2px 0px 3px #333;
}

.tob a {
  background-color: #143D55!important;
}

.tob .lg {
  left: 0;
  white-space: nowrap;
  font-size: 12px;
  padding: 0 5px;
  background-color: #700!important;
  border-right: 1px solid #999;
}

.tob a.lg {
  background-color: #143D55!important;
}

.pb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #41B419!important;
  padding: 0 10px 0 25px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  -moz-box-shadow: -2px 0px 3px #333;
  -o-box-shadow: -2px 0px 3px #999;
  -webkit-box-shadow: -2px 0px 3px #999;
  box-shadow: -2px 0px 3px #333;
}

.cf {
  width: 32px;
  height: 24px;
  margin: 0 10px;
  vertical-align: top;
  bottom: -8px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 100px 100px;
}

.q {
  display: inline-block;
  background-color: #fff;
  width: 450px;
  height: 34px;
  border: 1px solid #ccc;
  position: absolute;
  top: 16px;
  left: 10px;
}

.q input {
  width: 418px;
  outline: none;
  height: 30px;
  border: 0;
  position: absolute;
  left: 2px;
  top: 2px;
}

.col2w {
  margin-bottom: 10px;
}

.col2w .col1 {
  float: right;
  width: 760px;
}

.col1 {
  overflow: hidden;
}

.col2w .col3 {
  float: left;
  width: 200px;
}

.sm .i {
  margin-top: 3px;
  margin-right: 10px;
}

.ad_t {
  /*width:728px;
    height:90px;*/
  float: right;
  display: inline;
}

.ad_t div {
  width: 728px;
  height: 90px;
}

.ad_m {
  margin-bottom: 15px;
  /*width:300px;
    height:250px;*/
}

.ad_m div {
  width: 300px;
  height: 250px;
}

.ad_x {
  margin-bottom: 15px;
  /*width:300px;
    height:600px;*/
}

.ad_x div {
  width: 300px;
  height: 600px;
}

.brd {
  background-color: #bdc9dc;
  color: #000;
  overflow: hidden;
  height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  border-width: 0 1px;
  z-index: 1;
  position: relative;
}

.brd a {
  padding: 0 0 0 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #FFF;
  background-color: #143e57;
  position: relative;
}

.brd a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid #143e57;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 100%;
  z-index: 2;
}

.brd a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid white;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  margin-right: 1px;
  left: 100%;
  z-index: 1;
}

.brd a:first-child {
  padding-left: 10px;
}

.brd a:nth-child(2) {
  background-color: #1b5374;
}

.brd a:nth-child(2):after {
  border-left-color: #1b5374;
}

.brd a:nth-child(3) {
  background-color: #236b95;
}

.brd a:nth-child(3):after {
  border-left-color: #236b95;
}

.brd a:nth-child(4) {
  background-color: #287dae;
}

.brd a:nth-child(4):after {
  border-left-color: #287dae;
}

.rs {
  overflow: hidden;
}

.list {
  float: right;
  position: relative;
  z-index: 100;
  margin: 0 0 0 5px;
  width: 300px;
}

.cct {
  font-size: 13px;
  margin-top: 5px;
  padding: 0 5px;
  border-top: 1px solid #ccc;
  line-height: 30px;
  height: 30px;
  background-color: #bdc9dc;
  overflow: hidden;
  color: #333;
}

@media all and (max-width: 970px) {
  .w.rct,
  .c,
  #m0 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}

.col3 h4 {
  padding: 0 5px;
  background-color: #143D55;
  color: #fff;
  line-height: 37px;
  height: 37px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
}

.col3 ul {
  background-color: #f8f8f8;
  line-height: 35px;
  border: 1px solid #ccc;
  border-bottom: 0;
  position: relative;
  margin-top: -5px;
  z-index: 1;
}

.col3 li {
  height: 35px;
  border-bottom: 1px solid #ccc;
}

.col3 .on {
  background-color: #D9FAC8;
  color: #ff9000;
  font-weight: bold;
}

.col3 a,
.col3 b {
  display: block;
  padding: 0 5px;
  font-weight: normal;
}

li.on b {
  font-weight: bold;
}

.col3 a {
  color: #333;
}

.rpd {
  display: none;
  height: auto;
  padding-bottom: 10px;
  text-align: center;
}

.rpd b {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
}

.rpd textarea {
  display: block;
  width: 640px;
  height: 56px;
  padding: 2px 3px;
  margin-bottom: 7px;
}

.rpd .bt {
  margin: 0 50px;
  width: 80px;
}

.dt {
  width: 453px;
  margin: 5px 0 30px 2px;
  overflow: hidden;
  border: 1px solid #CEDaF4;
}

.dt .txt {
  margin: 5px;
}

.txt p {
  font-size: 19px;
  line-height: 40px;
  padding: 5px;
  background-color: #FFF;
}

.dthd {
  background-color: #F8F8F8;
  border-top: 1px solid #CEDaF4;
  min-height: 360px;
}

#disqus_thread {
  margin: 15px 5px 0;
  font-size: 25px;
  color: #000;
}

.drd {
  overflow: hidden;
  background-color: #efefef;
  border-top: 1px solid #CEDaF4;
}

.drd b,
.drd span {
  display: inline-block;
  padding: 6px;
  color: #666;
  white-space: nowrap;
}

.drd .mj {
  padding: 6px 20px;
  background-color: transparent!important;
  display: inline-block;
}

.txt b {
  padding: 5px;
  font-size: 19px;
  font-weight: normal;
  color: #236b95;
  display: block;
  border-bottom: 1px solid #CEDaF4;
}

.opt {
  overflow: hidden;
  border-top: 1px solid #CEDaF4;
  background-color: #bdc9dc;
  line-height: 30px;
}

.opt .i {
  float: left;
  margin-right: 5px;
}

.opt div {
  line-height: 30px;
  display: inline-block;
  padding: 2px 10px;
  border-right: 1px solid #CEDaF4;
}

.opt .d1 {
  border-left: 0;
}

.pics {
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #CEDaF4;
}

b.dhr {
  padding: 15px 5px 5px;
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  color: #236b95;
}

.sp1 {
  background-color: #ccc;
  border: 1px solid #FFF;
  overflow: hidden;
  vertical-align: bottom;
}

.lgb {
  position: absolute;
  top: 0;
  right: -1px;
  height: 60px;
  width: 365px;
  text-align: center;
  overflow: hidden;
  z-index: 100000;
}

.lgb a {
  color: #333;
}

.lgb .h {
  line-height: 52px;
  padding: 7px 0 0;
  height: 52px;
  width: 299px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  float: right;
}

.bt.cl {
  background-color: #e12222;
}

.sub {
  height: auto!important;
  border-bottom: 0!important;
}

.sub ul {
  border: 0;
  margin-top: 0;
  background-color: #ffffbf;
}

.sub li {
  overflow: hidden;
}

.sub b {
  display: inline;
  float: right;
  padding-left: 0;
}

.sub .ov,
.sm .ov {
  display: block;
  padding: 0 5px;
  font-weight: bold;
  float: none;
  margin: 0;
  background-color: #ff9000;
  color: #fff;
}

.sub .ovh {
  padding-left: 37px;
}

.sub span {
  float: left;
  margin: -2px 3px 0 -5px;
}