* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  font-family: "tahoma","arial";
  min-width: 970px;
  color: #333;
}

input {
  font-family: tahoma;
  font-size: 15px;
  line-height: 20px!important;
  resize: none;
}

h1 {
  text-align: center;
  font-size: 22px;
  direction: rtl;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

ul {
  list-style: none;
}

.u {
  height: 40px !important;
  width: 35px;
  position: static;
  margin-left: 10px;
  float: right;
  background-repeat: no-repeat;
}

.top,
.top a,
.menu .w,
.bt,
.gl,
.gr {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAdUlEQVQIW33MOw7EIAwEUDQHSbf32ttScgcaJEoo+NgmG5MVSqQoFE/jQRrsx4Mx5qN8lU2ZHS+a0pW6Ur9//JOIdBybsyMw8zzp7FprhDFGRymFT1JKjForIcZIyDkzQggM7z3DOSew1oruDcUs9tf0dF4GfsAmWGYOautYAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-position: 0 -10px;
}

.lgb {
  -webkit-touch-callout: none;
}

.sh,
.top {
  -moz-box-shadow: 0 3px 3px #999;
  -o-box-shadow: 0 3px 3px #999;
  -webkit-box-shadow: 0 3px 3px #999;
  box-shadow: 0 3px 3px #999;
  margin-bottom: 5px;
}

.bt {
  outline: none;
  color: #fff;
  background-color: #369;
  border: 0;
  padding: 0 10px!important;
  height: 35px!important;
  line-height: 35px!important;
  display: inline-block;
  border: 1px outset #999;
  -moz-box-shadow: 0px 2px 3px #333;
  -o-box-shadow: 0px 2px 3px #333;
  -webkit-box-shadow: 0px 2px 3px #333;
  box-shadow: 0px 2px 3px #333;
}

input.bt {
  line-height: 15px!important;
}

.i {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  float: right;
}

.i {
  background-repeat: no-repeat;
  background-position: center;
  /*background:url(i/gen.png) no-repeat center*/
}

.i1 {
  background-position: -31px -95px;
}

.i2 {
  background-position: -32px -64px;
}

.i3 {
  background-position: -30px -30px;
}

.i4 {
  background-position: -32px -124px;
}

.i99 {
  background-position: -32px 1px;
}

.i.p {
  background-position: 10px 0;
}

.i.sn {
  background-position: -71px -38px;
}

.i.sn {
  width: 30px;
  height: 30px;
  float: left;
  /*background-position:3px -37px;*/
}

.i.sn {
  float: none;
  height: 50px;
  width: 40px;
  margin: 0 10px;
  bottom: 0!important;
  /*background-position:-71px -38px;*/
}

.bt {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.rct {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}

.w {
  direction: rtl;
  width: 970px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.tpb {
  overflow: hidden;
  width: 950px;
  margin-bottom: 5px;
}

.tpb .lg {
  line-height: 0;
  float: left;
}

.menu {
  color: #FFF;
  height: 30px;
  z-index: 30000;
  position: relative;
}

.menu .w {
  background-color: #143D55!important;
  position: relative;
  overflow: hidden;
}

.menu a {
  color: #fff;
  padding: 0 5px 0 10px;
  border-left: 1px solid #aaa;
  height: 30px;
  line-height: 30px;
  float: right;
  display: inline-block;
}

.menu .i {
  margin-left: 5px;
  float: none;
}

.c {
  position: absolute;
  left: 0px;
  top: 0;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -o-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}

#m0 {
  -webkit-border-radius: 0 8px 0 0;
  -moz-border-radius: 0 8px 0 0;
  -o-border-radius: 0 8px 0 0;
  border-radius: 0 8px 0 0;
}

.srch {
  background-color: #ececec;
  margin-top: -5px;
  padding: 5px 0 0;
  overflow: visible;
  z-index: 21000;
  height: 54px;
  position: relative;
  width: 968px;
  border: 1px solid #ccc;
}

.c .cf {
  bottom: -3px;
  margin: 0 5px;
}

.c b {
  font-weight: normal;
  padding: 0 10px;
}

.srch form {
  display: inline;
}

.srch .bt {
  position: absolute;
  top: 16px;
  right: 480px;
  width: auto;
  font-size: 15px!important;
}

.top {
  height: 30px;
  line-height: 30px;
  background-color: #333!important;
  color: #fff;
  overflow: hidden;
}

.top a {
  color: #fff;
  display: inline-block;
  height: 30px;
}

.tob {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.gl,
.gr {
  height: 30px;
  line-height: 30px;
  width: 50px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  background-color: #700;
  vertical-align: top;
}

.gl {
  font-size: 13px;
  font-family: "verdana","tahoma";
  border-right: 1px solid #999;
}

.gr {
  line-height: 30px;
  font-size: 15px;
  font-family: "tahoma","arial";
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
  -moz-box-shadow: 2px 0px 3px #333;
  -o-box-shadow: 2px 0px 3px #333;
  -webkit-box-shadow: 2px 0px 3px #333;
  box-shadow: 2px 0px 3px #333;
}

.tob a {
  background-color: #143D55!important;
}

.pb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #41B419!important;
  padding: 0 10px 0 25px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  -moz-box-shadow: -2px 0px 3px #333;
  -o-box-shadow: -2px 0px 3px #999;
  -webkit-box-shadow: -2px 0px 3px #999;
  box-shadow: -2px 0px 3px #333;
}

.cf {
  width: 32px;
  height: 24px;
  margin: 0 10px;
  vertical-align: top;
  bottom: -8px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 100px 100px;
}

.q {
  display: inline-block;
  background-color: #fff;
  width: 450px;
  height: 34px;
  border: 1px solid #ccc;
  position: absolute;
  top: 16px;
  right: 10px;
}

.q input {
  width: 418px;
  outline: none;
  height: 30px;
  border: 0;
  position: absolute;
  right: 2px;
  top: 2px;
}

.col1 {
  overflow: hidden;
}

.ad_t {
  /*width:728px;
    height:90px;*/
  float: right;
  display: inline;
}

.ad_t div {
  width: 728px;
  height: 90px;
}

@media all and (max-width: 970px) {
  .w.rct,
  .c,
  #m0 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}

.lgb {
  position: absolute;
  top: 0;
  left: -1px;
  height: 60px;
  width: 365px;
  text-align: center;
  overflow: hidden;
  z-index: 100000;
}

.lgb a {
  color: #333;
}

.lgb .h {
  line-height: 52px;
  padding: 7px 0 0;
  height: 52px;
  width: 299px;
  font-weight: bold;
  border-right: 1px solid #ccc;
  float: left;
}