.account{
                    width:660px;
                    margin:20px 0 30px 0;
                    overflow:visible;                        
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: moz-none;
                    -ms-user-select: none;
                    user-select: none;
                }
                .account .j,.account .pj{
                    display:inline-block;
                    vertical-align:middle;
                    height:60px!important;
                    margin-bottom:0px!important;
                      margin-top: -10px
                 }
                .account .option:first-child{
                    margin:0 0 40px 0;
                }
                .option{
                    position:relative;
                    float:left;
                    margin:0 0 40px 40px;
                    background-color:#aff56d;
                    border:1px solid #aaa;
                    display:inline-block;
                    padding:5px 20px;                        
                    -webkit-border-radius:8px;
                    -moz-border-radius:8px;
                    -o-border-radius:8px;
                    border-radius:8px;
                    -moz-box-shadow:0 3px 3px #999;
                    -o-box-shadow:0 3px 3px #999;
                    -webkit-box-shadow:0 3px 3px #999;
                    box-shadow:0 3px 3px #999;
                    font-size:18px;
                    cursor:pointer;
                    text-align:center;
                    color:darkgreen;
                    line-height:1.3em;
                    overflow:visible;
                }
                .option:hover{
                    background-color:#ff9000!important;
                    color:#FFF!important
                }
                .option:active{                        
                    -moz-box-shadow:none;
                    -o-box-shadow:none;
                    -webkit-box-shadow:none;
                    box-shadow:none;
                }
                .full, .full:first-child{
                    width:500px;
                    height:45px;
                    margin:0 0 5px 42px!important
                }
                .half{
                    width:250px;
                    height:45px;
                }
                .quarter{
                    width:85px;
                    height:100px;
                }
                .notifier{
                    background-color:red;
                    padding:5px;
                    position:absolute;
                    top:-20px;
                    right:-20px;
                    color:#FFF;
                    width:40px;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    background:url(i/notifier.png) no-repeat center
                }
                .ar .notifier{
                    right:auto;
                    left:-20px
                }
                .option.active,.option.pending,.option.draft,.option.archive,
                .option.balance,.option.watchlist,.option.favorite{background-color:aliceblue}
                .option.settings{background-color:darkslategray;color:#FFF}
                .option.balance{text-align:left}
                .ar .option.balance{text-align:right}
                .pj.coin{margin:-10px 0 0 25px}
                .ar .pj.coin{margin:-10px 25px 0 0}
                .ar .option{float:right;
                    margin:0 40px 40px 0}
                .ar .full, .ar .full:first-child{
                    margin:0 42px 40px 0!important
                }
                .note{
                    width:300px;
                    display:inline-block;
                    float:right;
                    margin-top:20px;    
                }
                .note.ar{
                    float:left
                }
                .note a,.note p{                   
                    -webkit-border-radius:8px;
                    -moz-border-radius:8px;
                    -o-border-radius:8px;
                    border-radius:8px;
                    background-color:#EFEFEF;
                    color:#333;
                    border:1px solid #999
                }
                .note a.warn,.note p.warn{
                    background-color:#ffffbf
                }
                .note li{
                    position:relative;
                    margin-bottom:20px;
                }
                .note a{
                    display:block;
                    padding:5px 10px;
                }
                .note p{
                    padding:5px 10px;
                    display:block;
                }
                .close{
                    z-index:10000;
                    width:24px;
                    height:24px;
                    display:inline-block;
                    position:absolute;
                    top:-12px;
                    left:-12px;
                    cursor:pointer;
                    background:url(i/close-icon.png) no-repeat center;
                }
                .note.ar .close{
                    left:auto;
                    right:-12px;
                }
                .note a:hover{
                    background-color:#FF9000!important;
                    color:#FFF!important
                }
                
.shake { display: inline-block; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; }
.shake.on { -webkit-animation-name: shake-little; -ms-animation-name: shake-little; animation-name: shake-little; -webkit-animation-duration: 100ms; -ms-animation-duration: 100ms; animation-duration: 100ms; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running; }

@-webkit-keyframes shake-little { 0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  2% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  4% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  6% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  8% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  10% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  12% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  14% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  16% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  18% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  20% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  22% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  24% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  26% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  28% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  30% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  32% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  34% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  36% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  38% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  40% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  42% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  44% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  46% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  48% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  50% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  52% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  54% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  56% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  58% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  60% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  62% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  64% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  66% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  68% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  70% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  72% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  74% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  76% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  78% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  80% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  82% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  84% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  86% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  88% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  90% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  92% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  94% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  96% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  98% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); } }

@-ms-keyframes shake-little { 0% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  2% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  4% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  6% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  8% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  10% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  12% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  14% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  16% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  18% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  20% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  22% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  24% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  26% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  28% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  30% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  32% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  34% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  36% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  38% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  40% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  42% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  44% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  46% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  48% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  50% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  52% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  54% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  56% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  58% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  60% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  62% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  64% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  66% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  68% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  70% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  72% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  74% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  76% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  78% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  80% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  82% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  84% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  86% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  88% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  90% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  92% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  94% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  96% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  98% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); } }

@keyframes shake-little { 0% { transform: translate(0px, 0px) rotate(0deg); }
  2% { transform: translate(0px, 0px) rotate(-0.5deg); }
  4% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  6% { transform: translate(0px, -1px) rotate(-0.5deg); }
  8% { transform: translate(0px, 0px) rotate(-0.5deg); }
  10% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  12% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  14% { transform: translate(0px, 0px) rotate(-0.5deg); }
  16% { transform: translate(0px, 0px) rotate(-0.5deg); }
  18% { transform: translate(0px, -1px) rotate(-0.5deg); }
  20% { transform: translate(0px, 0px) rotate(-0.5deg); }
  22% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  24% { transform: translate(0px, 0px) rotate(-0.5deg); }
  26% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  28% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  30% { transform: translate(0px, 0px) rotate(-0.5deg); }
  32% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  34% { transform: translate(0px, -1px) rotate(-0.5deg); }
  36% { transform: translate(0px, -1px) rotate(-0.5deg); }
  38% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  40% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  42% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  44% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  46% { transform: translate(0px, -1px) rotate(-0.5deg); }
  48% { transform: translate(0px, 0px) rotate(-0.5deg); }
  50% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  52% { transform: translate(0px, 0px) rotate(-0.5deg); }
  54% { transform: translate(0px, 0px) rotate(-0.5deg); }
  56% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  58% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  60% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  62% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  64% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  66% { transform: translate(0px, -1px) rotate(-0.5deg); }
  68% { transform: translate(0px, -1px) rotate(-0.5deg); }
  70% { transform: translate(0px, -1px) rotate(-0.5deg); }
  72% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  74% { transform: translate(0px, -1px) rotate(-0.5deg); }
  76% { transform: translate(0px, 0px) rotate(-0.5deg); }
  78% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  80% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  82% { transform: translate(0px, -1px) rotate(-0.5deg); }
  84% { transform: translate(0px, 0px) rotate(-0.5deg); }
  86% { transform: translate(0px, 0px) rotate(-0.5deg); }
  88% { transform: translate(0px, 0px) rotate(-0.5deg); }
  90% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  92% { transform: translate(0px, 0px) rotate(-0.5deg); }
  94% { transform: translate(0px, -1px) rotate(-0.5deg); }
  96% { transform: translate(0px, 0px) rotate(-0.5deg); }
  98% { transform: translate(0px, 0px) rotate(-0.5deg); } }        


