.top,.top a,
.menu .w,.bt,
.dl li.h,.ls li.h,
.tbs,.tbs a:hover,.tbs b,
.menu a:hover,.c:hover,
.brd,.ph,.cct,
.nav a,.nav .op,
.lgb .h:hover,.lgb .h.on, 
.hoz a:hover,.hoz .on,
.col3 h4,.col3 .on,
.col3 a:hover,.sha,
.opt,.opt div:hover,.drd,
.phc,.lsi .nb,.oc,.oc .lnk:hover,
.mnb,.seli.h li,.menu a.on,
.partner li.h,
.gl,.gr{background-image:url(./i/titlebar.png)}
.ls li,.ftr{    
    background-image:url(./i/abg.jpg);
}
li.vp,.ls li.on,.sha,.partner .list{
    background-image:url(./i/gad.jpg);
}
.i{
    vertical-align:middle
}
.cf{
    position:static;
    vertical-align:middle;
    bottom:auto
}
.c .cf{
    margin:0 5px;
    bottom:auto
}
.c a{
    float:right;
    padding:0 10px;
}
input.bt{
    padding-bottom:5px;
    height:30px;
    line-height:10px;
}
.brd{
    border-bottom-width:1px;
}
.brd a{
    vertical-align:middle;
    padding:0 20px;
    border:0;
    border-right:1px solid #fff;
}
.brd b{
    display:inline-block;
}
.brd .rss{
    margin:0 10px;
}
.nav{
    display:block
}
.nav li{
    float:left;
}
.od{
    filter:alpha(opacity=75);
}
.ig .cnt{
    filter:alpha(opacity=70);
}
.mask{
    filter:alpha(opacity=85);
}
.ig .cnt{
    filter:alpha(opacity=70);
}
.pb{
    width:150px;
    padding-right:10px;
}
.srch .bt{
    width:60px
}
.col3 ul{
    position:static
}
.lm label,.lm .info{
    float:left;
}
.rj1{
    background-position:-361px -1px;
}
.rj2{
    background-position:-361px -31px;
}
.rj3{
    background-position:-391px -1px;
}
.rj4{
    background-position:-391px -31px
}
.cbx,.rbx,.et{
    position:absolute;
    right:10px;
    top:5px;
}
.act2 span.bt{
    vertical-align:top
}
.ls input.bt{
    line-height:28px!important
}
.top{
    line-height:28px;
}
.mapD .ipt{
    margin-left:28px!important
}
.mapD .qi{
    float:left
}
.nav{
    border:0;
}
.nav a{
    border:1px solid #ccc
}
.nav .next{
    width:80px
}
.ir {
    position:static
}
.ls li:hover{
    margin-bottom:25px
}
.seli li{
    width:626px
}
.seli li b,.seli li a{
    float:left
}
.rj.nxt{
    float:none!important
}