input.bt{
    padding-bottom:5px;
    height:30px;
    line-height:10px;
}
.brd{
    border-bottom-width:1px;
}
.brd a{
    direction:ltr;
    padding:0 20px;
    border-right:1px solid #fff;
}
.brd b{
    direction:rtl;
}
.od{
    filter:alpha(opacity=75);
}
.ig .cnt{
    filter:alpha(opacity=70);
}
.mask{
    filter:alpha(opacity=85);
}
.ig .cnt{
    filter:alpha(opacity=70);
}
.top{
    line-height:28px;
}
.nav a,.nav .op{
    border-left:2px solid #ccc;
}