#m0{
    border-radius:0px!important;
}
#m0:hover{
    border-radius:0;
}
.c{
    border-radius:0;
}
.top{
    line-height:28px;
}
.next a{    
    border-radius:0 8px 8px 0
}
.fst,.fst a,.prev a{    
    border-radius:8px 0 0 8px;
    border:0!important;
}
.prev a{
    border-right:2px solid #ccc!important;
}
.nav a,.nav .op{
    border-right:2px solid #ccc;
}
.next a,.next .op{
    border:0;
}
p.ani .crd{
    -webkit-border-radius:0 8px 0 0;
    -moz-border-radius:0 8px 0 0;
    -o-border-radius:0 8px 0 0;
    border-radius:0 8px 0 0;
}