/*.ek,.rss,.ico,.nw,.i,.cn,.fav,.loc,.adi,.usr,.eye,.hom,.im,.sdi,li.h span,.md span,.ab,.anb,.edx,.img span,.mx,.vtd span.mx{background:url(i/main.png) no-repeat center}
.fb-link,.tw-link,.gp-link,.yt-link{background:url(i/follow.png) no-repeat center}.fb-link{background-position:0px 0px}.gp-link{background-position:-32px 0px}.tw-link{background-position:-64px 0px}.yt-link{background-position:-96px 0px}
.ct.c0{background-image:url(i/f/globe.png);background-position:top right}.ct.c1{background-image:url(i/f/LB.png)}.ct.c110{background-image:url(i/f/IT.png)}.ct.c6{background-image:url(i/f/SY.png)}.ct.c9{background-image:url(i/f/QA.png)}.ct.c5{background-image:url(i/f/EG.png)}.ct.c4{background-image:url(i/f/SA.png)}.ct.c3{background-image:url(i/f/BH.png)}.ct.c2{background-image:url(i/f/AE.png)}.ct.c8{background-image:url(i/f/JO.png)}.ct.c7{background-image:url(i/f/KW.png)}.ct.c122{background-image:url(i/f/LY.png)}.ct.c10{background-image:url(i/f/SD.png)}.ct.c12{background-image:url(i/f/YE.png)}.ct.c145{background-image:url(i/f/MA.png)}.ct.c103{background-image:url(i/f/IN.png)}.ct.c122{background-image:url(i/f/LY.png)}.ct.c220{background-image:url(i/f/US.png)}.ct.c161{background-image:url(i/f/OM.png)}.ct.c25{background-image:url(i/f/AU.png)}.ct.c81{background-image:url(i/f/FR.png)}.ct.c49{background-image:url(i/f/CA.png)}.ct.c15{background-image:url(i/f/DZ.png)}.ct.c11{background-image:url(i/f/TN.png)}.ct.c230{background-image:url(i/f/PS.png)}.ct.c106{background-image:url(i/f/IQ.png)}.x{background:url(i/x.png) no-repeat center}
.cf{background-image:url(i/f/all.png)}
.loading,.pht.loading,.load{background: url(i/loading.gif) no-repeat center !important}
.i1{background-position:-37px 0 !important}.i2{background-position:-37px -33px !important}.i3{background-position:-37px -66px !important}.i4{background-position:-37px -132px !important}.i99{background-position:-37px -197px !important}li.h1 span{background-position:-79px -60px !important}li.h2 span{background-position:-79px -96px !important}li.h3 span{background-position:-82px -170px !important}li.h4 span{background-position:-125px -60px !important}li.h99 span{background-position:-79px -135px !important}
.pht,li.pid span{background: #fff url(i/photo.png) no-repeat center}
li.vid span,.vico{background: #fff url(i/video.png) no-repeat center}
.vtd .play,.splay,.pics .play{background:transparent url(i/play.png) no-repeat center}
.bt.play{background:transparent url(i/btplay.png) no-repeat center}
.ytbi{background:transparent url(i/youtube.png) no-repeat center}
.ybx{background:transparent url(i/eye-watch.png) no-repeat center}
.som{background:transparent url(i/som.png) no-repeat center}
.bwzen li{background:transparent url(i/bwz_en.png) no-repeat left center}
.bwzar li{background:transparent url(i/bwz_ar.png) no-repeat left center}
.img span,.mx{background-position:-128px -180px !important}
#channels .mx{background-position:-122px -175px}
.edx{background-position:-128px -254px}
#channels .edx{background-position:-123px -250px}
.cn.c1{background-position:-20px -44px}.cn.c103{background-position:-20px -253px}.cn.c6{background-position:-20px -88px}.cn.c9{background-position:-20px -55px}.cn.c5{background-position:-20px -11px}.cn.c4{background-position:-20px -110px}.cn.c3{background-position:-20px -33px}.cn.c2{background-position:-20px 0px}.cn.c8{background-position:-20px -121px}.cn.c7{background-position:-20px -99px}.cn.c106{background-position:-20px -22px}.cn.c230{background-position:-20px -66px}.cn.c10{background-position:-20px -77px}.cn.c12{background-position:-20px -143px}.cn.c110{background-position:-20px -132px}.cn.c122{background-position:-20px -154px}.cn.c220{background-position:-20px -163px}.cn.c145{background-position:-20px -176px}.cn.c25{background-position:-20px -187px}.cn.c81{background-position:-20px -198px}.cn.c49{background-position:-20px -209px}.cn.c161{background-position:-20px -220px}.cn.c15{background-position:-20px -231px}.cn.c11{background-position:-20px -242px}.cn.c219{background-position:0px -66px}#p1{background-image:url(i/ibuildings.png)}#p2{background-image:url(i/icars.png)}#p3{background-image:url(i/ijobs.png)}#p4{background-image:url(i/iservices.png)}#p99{background-image:url(i/iunknown.png);border-bottom:0 !important}
.form.loading{background-color:#F8F8F8 !important}
.tv{background: url(i/bl.png) no-repeat center}
.add{background: transparent url(i/add.png) no-repeat center}
.uploads{background: transparent url(i/uploads.png) no-repeat center}
#uTX{background:#F8F8F8 url(i/topban.jpg) no-repeat center}
.dlogo{background:#F8F8F8 url(i/dlogo.jpg) no-repeat center}
.eck{background:#FFF url(i/de_off.png) no-repeat center}
.eck:hover,.eck.rck{background-image:url(i/de_on.png)}
.ico.down{background-position:-1px -150px}
.ico.up{background-position:-1px -130px}
.rss{background-position:-115px -28px !important}
.ico.p0{background-position:-1px -226px !important}
.ico.p1{background-position:-1px -187px !important}
.ico.p2{background-position:-1px -208px !important}
.ek{background-position:-1px -245px !important}
.dk{background-position:-127px -180px !important}

.partner .fb-link,.partner .tw-link,.partner .gp-link,.partner .yt-link,.partner .lk-link{background:url(i/pfollow.png) no-repeat center}
.partner .fb-link{background-position:0px 2px}
.partner .gp-link{background-position:-24px 2px}
.partner .tw-link{background-position:-48px 3px}
.partner .yt-link{background-position:-72px 3px}
.partner .lk-link{background-position:-96px 3px}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:100010; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#cboxOverlay{background:url(i/s/overlay.png) repeat 0 0;}
#colorbox{}
#cboxTopLeft{width:21px; height:21px; background:url(i/s/controls.png) no-repeat -101px 0;}
#cboxTopRight{width:21px; height:21px; background:url(i/s/controls.png) no-repeat -130px 0;}
#cboxBottomLeft{width:21px; height:21px; background:url(i/s/controls.png) no-repeat -101px -29px;}
#cboxBottomRight{width:21px; height:21px; background:url(i/s/controls.png) no-repeat -130px -29px;}
#cboxMiddleLeft{width:21px; background:url(i/s/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(i/s/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(i/s/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(i/s/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(i/s/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious:hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(i/s/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext:hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(i/s/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(i/s/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(i/s/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose:hover{background-position:-25px -25px;}
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
.cboxIE6 #cboxTopLeft{background:url(i/s/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(i/s/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(i/s/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(i/s/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(i/s/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(i/s/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(i/s/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(i/s/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
.idps{display:block;overflow:hidden;width:100%}.idps ul,.idos ul{list-style:none}.idps li{width:64px;margin:10px;list-style:none}.idos h4 span,.idos h2 span{display:inline-block}.idps span,.idos span{width:58px;height:56px;display:block;cursor:pointer;cursor:hand;background-position:center;background-repeat:no-repeat}.google{background-image:url(i/s/i/google.png)}.facebook{background-image:url(i/s/i/facebook.png)}.live{background-image:url(i/s/i/msn.png)}.twitter{background-image:url(i/s/i/twitter.png)}.aol{background-image:url(i/s/i/aol.png)}.linkedin{background-image:url(i/s/i/linkedin.png)}.openid{background-image:url(i/s/i/openid.png)}.yahoo{background-image:url(i/s/i/yahoo.png)}.idos{line-height:25px}.idos .openid,.idhs span{vertical-align:middle;margin:10px;cursor:default}.idos input{font-family:"lucida grande","tahoma";padding:5px;border:1px solid #999;width:350px;font-size:13px}.idos .bt{float:none;width:200px;margin:10px}.idos .bta{background-color:transparent;border:0;color:#00e;margin:10px;width:auto;cursor:pointer}.idos .bta:hover{text-decoration:underline}.idhs h4{color:#369;font-size:19px;direction:ltr}.idhs .bt{width:350px}
.idos h2{font-size:16px}

*/
.j,.rj,.ek,.d{background-image:url(i/geni.png)}
.fia{background-image:url(i/alert.png)}
.i,.im,.mc24{background-image:url(i/gen.png)}
.q0 a:hover,.ftr b{background-image:url(i/ftro.png)}



#uTX{background:#F8F8F8 url(i/topban.jpg) no-repeat center}
.vpdi.en{background:url(i/opde.png) no-repeat center}
.vpdi.ar{background:url(i/opd.png) no-repeat center}
.ic,.to,.et,.qb,.adn{background-image:url(i/main_m.png)}
.cbx,.rbx{background-image:url(i/form_m.png)}
.pj{background-image:url(i/panel.png)}

.tv{background: url(i/bl.jpg) no-repeat center}
.tvs{background: url(http://c1.mourjan.com/cp/servcorp/1.0.0/home.gif) no-repeat center}
.tvs1{background: url(http://c1.mourjan.com/cp/servcorp/1.0.0/home-so.gif) no-repeat center}
.cf{background-image:url(i/f/all.png)}
.cf.c0{background-image:url(i/f/gl.png)}
/*.ftr{background:#333 url(i/ftr.jpg) repeat-x top left}*/
.apple{background: url(i/apple.png) no-repeat center}
.apple.up{background: url(i/i_up.png) no-repeat center}
.htn{background: url(i/sin.jpg) no-repeat bottom center}
.htu{background: url(i/oup.png) no-repeat bottom center}
.hbn .om{background: url(i/blk.jpg) no-repeat center}
.omail.ar{background: url(i/omail.png) no-repeat center}
.omail.en{background: url(i/omaile.png) no-repeat center}
.osent.ar{background: url(i/osent.png) no-repeat center}
.osent.en{background: url(i/osente.png) no-repeat center}
.acen,.stin.en{background: url(i/profe.jpg) no-repeat right bottom}
.acar,.stin.ar{background: url(i/prof.jpg) no-repeat left bottom}
.stin.ar{background-position:right bottom}
.stin.en{background-position:left bottom}
.loader{background: url(i/op.jpg) no-repeat left bottom}
.loader.lde{background: url(i/ope.jpg) no-repeat right bottom}
.sha.en .fr{background: url(i/osk.png) no-repeat center left}
.sha.ar .fr{background: url(i/oske.png) no-repeat center right}
.prx.en {background-image: url(i/stk_en.png)}
.prx.ar {background-image: url(i/stk_ar.png)}
.play{background:transparent url(i/play.png) no-repeat center}
.load{background-image:url(i/loading.gif);background-repeat:no-repeat;background-position:center}
.fb-link,.tw-link,.gp-link,.yt-link,.lk-link{background-image:url(i/follow.png)}.fb-link{background-position:0px 0px}.gp-link{background-position:-32px 0px}.tw-link{background-position:-64px 0px}.yt-link{background-position:-96px 0px}.lk-link{background-position:-128px 0px}
.na,.htf,.naf{background:url(i/dna.jpg) no-repeat center}

.done{background: url(i/my.png) no-repeat center}
.fail{background:url(i/fail.png) no-repeat center}
.wait{background:url(i/wait.png) no-repeat center}

.z{background-image:url(i/cars.png)}
.z10{background-position:-3px 0px}
.z11{background-position:-163px 0px}
.z13{background-position:-203px 0px}
.z15{background-position:-243px 0px}
.z21{background-position:-283px 0px}
.z22{background-position:-323px 0px}
.z23{background-position:-363px 0px}
.z24{background-position:-3px -40px}
.z26{background-position:-43px -40px}
.z27{background-position:-83px -40px}
.z28{background-position:-43px 0px}
.z30{background-position:-123px -40px}
.z32{background-position:-163px -40px}
.z33{background-position:-203px -40px}
.z34{background-position:-243px -40px}
.z35{background-position:-283px -40px}
.z37{background-position:-323px -40px}
.z38{background-position:-363px -40px}
.z39{background-position:-3px -80px}
.z40{background-position:-43px -80px}
.z44{background-position:-83px 0px}
.z48{background-position:-83px -80px}
.z49{background-position:-123px -80px}
.z50{background-position:-163px -80px}
.z51{background-position:-203px -80px}
.z52{background-position:-243px -80px}
.z53{background-position:-283px -80px}
.z54{background-position:-323px -80px}
.z55{background-position:-363px -80px}
.z56{background-position:-3px -120px}
.z57{background-position:-123px 0px}
.z58{background-position:-43px -120px}
.z59{background-position:-83px -120px}
.z60{background-position:-123px -120px}
.z67{background-position:-163px -120px}
.z71{background-position:-203px -120px}
.z73{background-position:-243px -120px}
.z74{background-position:-283px -120px}
.z75{background-position:-323px -120px}
.z76{background-position:-363px -120px}
.z77{background-position:-3px -160px}
.z78{background-position:-43px -160px}
.z79{background-position:-83px -160px}
.z80{background-position:-123px -160px}
.z81{background-position:-163px -160px}
.z82{background-position:-203px -160px}
.z87{background-position:-243px -160px}
.z88{background-position:-283px -160px}
.z89{background-position:-323px -160px}
.z90{background-position:-363px -160px}
.z91{background-position:-3px -200px}
.z92{background-position:-43px -200px}
.z93{background-position:-83px -200px}
.z94{background-position:-123px -200px}
.z95{background-position:-163px -200px}
.z96{background-position:-203px -200px}
.z97{background-position:-243px -200px}
.z98{background-position:-283px -200px}
.z99{background-position:-323px -200px}
.z100{background-position:-363px -200px}
.z101{background-position:-3px -240px}
.z102{background-position:-43px -240px}
.z103{background-position:-83px -240px}
.z104{background-position:-123px -240px}
.z117{background-position:-163px -240px}
.z118{background-position:-203px -240px}
.z119{background-position:-243px -240px}
.z120{background-position:-283px -240px}
.z384{background-position:-323px -240px}
.z385{background-position:-363px -240px}
.z386{background-position:-3px -280px}
.z387{background-position:-43px -280px}
.z1515{background-position:-83px -280px}
.z1517{background-position:-123px -280px}
.z1518{background-position:-163px -280px}
.z1519{background-position:-203px -280px}
.z1520{background-position:-243px -280px}

.x{background-image:url(i/realestate.png)}
.x1{background-position:-3px 0}
.x2,.x106,.x122{background-position:-43px 0}
.x3,.x121,.x131{background-position:-83px 0}
.x5{background-position:-123px 0}
.x4{background-position:-163px 0}
.x6{background-position:-203px 0}
.x7,.x9{background-position:-243px 0}
.x8{background-position:-283px 0}
.x111{background-position:-323px 0}
.x162{background-position:-363px 0}
.x294{background-position:-3px -40px}
.x346{background-position:-43px -40px}
.x367{background-position:-83px -40px}
.x419{background-position:-123px -40px}
.x498{background-position:-163px -40px}
.x748{background-position:-203px -40px}
.x1000{background-position:-243px -40px}
.x1341{background-position:-283px -40px}
.x1458{background-position:-323px -40px}
.x105{background-position:-363px -40px}

.y{background-image:url(i/service.png)}
.y185,.y1201{background-position:-3px 0}
.y189{background-position:-43px 0}
.y190{background-position:-83px 0}
.y191{background-position:-123px 0}
.y192{background-position:-163px 0}
.y193{background-position:-203px 0}
.y194,.y321{background-position:-243px 0}
.y195{background-position:-283px 0}
.y196{background-position:-323px 0}
.y197{background-position:-363px 0}

.y198{background-position:-3px -40px}
.y199{background-position:-43px -40px}
.y215{background-position:-83px -40px}
.y224{background-position:-123px -40px}
.y229{background-position:-163px -40px}
.y253{background-position:-203px -40px}
.y260{background-position:-243px -40px}
.y283{background-position:-283px -40px}
.y324{background-position:-323px -40px}
.y371{background-position:-363px -40px}
.y431{background-position:-3px -80px}
.y438{background-position:-43px -80px}
.y540{background-position:-83px -80px}
.y586{background-position:-123px -80px}
.y721{background-position:-163px -80px}
.y730{background-position:-203px -80px}
.y754,.y934{background-position:-243px -80px}
.y1114{background-position:-283px -80px}
.y1179{background-position:-323px -80px}
.y1487{background-position:-363px -80px}
.y1437{background-position:-3px -120px}
.y1030{background-position:-43px -120px}
.y1514{background-position:-83px -120px}
.y391{background-position:-123px -120px}
.y19{background-position:-163px -120px}
.y1521{background-position:-243px -120px}

.u{background-image:url(i/misc.png)}
.u62{background-position:-3px 0}
.u63{background-position:-43px 0}
.u65{background-position:-83px 0}
.u69{background-position:-123px 0}
.u84{background-position:-163px 0}
.u85{background-position:-203px 0}
.u107{background-position:-243px 0}
.u108{background-position:-283px 0}
.u113{background-position:-323px 0}
.u114{background-position:-363px 0}
.u116{background-position:-3px -40px}
.u123{background-position:-43px -40px}
.u124{background-position:-83px -40px}
.u125{background-position:-123px -40px}
.u132{background-position:-163px -40px}
.u135{background-position:-203px -40px}
.u144{background-position:-243px -40px}
.u155{background-position:-283px -40px}
.u214{background-position:-323px -40px}
.u223{background-position:-363px -40px}
.u236{background-position:-3px -80px}
.u279{background-position:-43px -80px}
.u291{background-position:-83px -80px}
.u293{background-position:-123px -80px}
.u296{background-position:-163px -80px}
.u297{background-position:-203px -80px}
.u298{background-position:-243px -80px}
.u325{background-position:-283px -80px}
.u343{background-position:-323px -80px}
.u350{background-position:-363px -80px}
.u363{background-position:-3px -120px}
.u392{background-position:-43px -120px}
.u513{background-position:-83px -120px}
.u515{background-position:-123px -120px}
.u534{background-position:-163px -120px}
.u539{background-position:-203px -120px}
.u617{background-position:-243px -120px}
.u766{background-position:-283px -120px}
.u834{background-position:-323px -120px}
.u864{background-position:-363px -120px}
.u924{background-position:-3px -160px}
.u1061{background-position:-43px -160px}
.u1079{background-position:-83px -160px}
.u1112{background-position:-123px -160px}
.u1314{background-position:-163px -160px}

.v{background-image:url(i/jobs.png)}
.v12,.v463{background-position:-3px 0}
.v14{background-position:-43px 0}
.v16{background-position:-83px 0}
.v17{background-position:-123px 0}
.v18{background-position:-163px 0}
.v19,.v20{background-position:-203px 0}
.v29{background-position:-243px 0}
.v36{background-position:-283px 0}
.v41{background-position:-323px 0}
.v42{background-position:-363px 0}
.v43{background-position:-3px -40px}
.v45{background-position:-43px -40px}
.v46{background-position:-83px -40px}
.v47,.v339{background-position:-123px -40px}
.v109{background-position:-163px -40px}
.v110{background-position:-203px -40px}
.v112{background-position:-243px -40px}
.v115{background-position:-283px -40px}
.v126{background-position:-323px -40px}
.v129{background-position:-363px -40px}
.v134{background-position:-3px -80px}
.v137{background-position:-43px -80px}
.v146{background-position:-83px -80px}
.v150{background-position:-123px -80px}
.v152{background-position:-163px -80px}
.v170{background-position:-203px -80px}
.v213{background-position:-243px -80px}
.v278{background-position:-283px -80px}
.v292{background-position:-323px -80px}
.v326{background-position:-363px -80px}
.v327{background-position:-3px -120px}
.v328{background-position:-43px -120px}
.v329{background-position:-83px -120px}
.v332{background-position:-123px -120px}
.v334{background-position:-163px -120px}
.v345{background-position:-203px -120px}
.v389{background-position:-243px -120px}
.v744{background-position:-283px -120px}
.v1058{background-position:-323px -120px}

.cf.c0{background-position:0px 0px}.cf.c1{background-position:0px -120px}.cf.c12{background-position:0px -192px}.cf.c6{background-position:-32px -120px}.cf.c9{background-position:-32px -48px}.cf.c5{background-position:0px -24px}.cf.c4{background-position:-32px -72px}.cf.c3{background-position:0px 0px}.cf.c2{background-position:-32px -168px}.cf.c8{background-position:0px -72px}.cf.c7{background-position:0px -96px}.cf.c10{background-position:-32px -96px}.cf.c11{background-position:-32px -144px}.cf.c161{background-position:-32px 0px}.cf.c103{background-position:-32px -192px}.cf.c106{background-position:0px -48px}.cf.c145{background-position:0px -168px}.cf.c15{background-position:0px -216px}.cf.c122{background-position:0px -144px}

.qx{
    background:url(i/qx.png) no-repeat center;
}
.qx:hover{
    background-color:red
}

@media all and (min-width:1250px) {
    .tv{background: url(i/wbl.jpg) no-repeat center}
    .tvs{background: url(http://c1.mourjan.com/cp/servcorp/1.0.0/home-w.gif) no-repeat center}
    .tvs1{background: url(http://c1.mourjan.com/cp/servcorp/1.0.0/home-w-so.gif) no-repeat center}
}

.ios,.android{background:url(i/apps.jpg) no-repeat center}
.ios{background-position:-4px -105px}
.android{background-position:-4px -7px}
.mios, .mandroid{background:url(i/appsm.jpg) no-repeat center}
.mios{background-position:0px -3px}
.mandroid{background-position:0px -66px}

.sndTgl{background-image:url(i/audio.png)}
.pimgs .del{background-image:url(i/del-icon.png)}