.y {
    background-image: url(./i/service.png)
}
.y185,
.y1201 {
    background-position: -3px 0
}
.y189 {
    background-position: -43px 0
}
.y190 {
    background-position: -83px 0
}
.y191 {
    background-position: -123px 0
}
.y192 {
    background-position: -163px 0
}
.y193 {
    background-position: -203px 0
}
.y194,
.y321 {
    background-position: -243px 0
}
.y195 {
    background-position: -283px 0
}
.y196 {
    background-position: -323px 0
}
.y197 {
    background-position: -363px 0
}
.y198 {
    background-position: -3px -40px
}
.y199 {
    background-position: -43px -40px
}
.y215 {
    background-position: -83px -40px
}
.y224 {
    background-position: -123px -40px
}
.y229 {
    background-position: -163px -40px
}
.y253 {
    background-position: -203px -40px
}
.y260 {
    background-position: -243px -40px
}
.y283 {
    background-position: -283px -40px
}
.y324 {
    background-position: -323px -40px
}
.y371 {
    background-position: -363px -40px
}
.y431 {
    background-position: -3px -80px
}
.y438 {
    background-position: -43px -80px
}
.y540 {
    background-position: -83px -80px
}
.y586 {
    background-position: -123px -80px
}
.y721 {
    background-position: -163px -80px
}
.y730 {
    background-position: -203px -80px
}
.y754,
.y934 {
    background-position: -243px -80px
}
.y1114 {
    background-position: -283px -80px
}
.y1179 {
    background-position: -323px -80px
}
.y1487 {
    background-position: -363px -80px
}
.y1437 {
    background-position: -3px -120px
}
.y1030 {
    background-position: -43px -120px
}
.y1514 {
    background-position: -83px -120px
}
.y391 {
    background-position: -123px -120px
}
.y19 {
    background-position: -163px -120px
}
.y1521 {
    background-position: -243px -120px
}