.z {
    background-image: url(./i/cars.png)
}
.z10 {
    background-position: -3px 0px
}
.z11 {
    background-position: -163px 0px
}
.z13 {
    background-position: -203px 0px
}
.z15 {
    background-position: -243px 0px
}
.z21 {
    background-position: -283px 0px
}
.z22 {
    background-position: -323px 0px
}
.z23 {
    background-position: -363px 0px
}
.z24 {
    background-position: -3px -40px
}
.z26 {
    background-position: -43px -40px
}
.z27 {
    background-position: -83px -40px
}
.z28 {
    background-position: -43px 0px
}
.z30 {
    background-position: -123px -40px
}
.z32 {
    background-position: -163px -40px
}
.z33 {
    background-position: -203px -40px
}
.z34 {
    background-position: -243px -40px
}
.z35 {
    background-position: -283px -40px
}
.z37 {
    background-position: -323px -40px
}
.z38 {
    background-position: -363px -40px
}
.z39 {
    background-position: -3px -80px
}
.z40 {
    background-position: -43px -80px
}
.z44 {
    background-position: -83px 0px
}
.z48 {
    background-position: -83px -80px
}
.z49 {
    background-position: -123px -80px
}
.z50 {
    background-position: -163px -80px
}
.z51 {
    background-position: -203px -80px
}
.z52 {
    background-position: -243px -80px
}
.z53 {
    background-position: -283px -80px
}
.z54 {
    background-position: -323px -80px
}
.z55 {
    background-position: -363px -80px
}
.z56 {
    background-position: -3px -120px
}
.z57 {
    background-position: -123px 0px
}
.z58 {
    background-position: -43px -120px
}
.z59 {
    background-position: -83px -120px
}
.z60 {
    background-position: -123px -120px
}
.z67 {
    background-position: -163px -120px
}
.z71 {
    background-position: -203px -120px
}
.z73 {
    background-position: -243px -120px
}
.z74 {
    background-position: -283px -120px
}
.z75 {
    background-position: -323px -120px
}
.z76 {
    background-position: -363px -120px
}
.z77 {
    background-position: -3px -160px
}
.z78 {
    background-position: -43px -160px
}
.z79 {
    background-position: -83px -160px
}
.z80 {
    background-position: -123px -160px
}
.z81 {
    background-position: -163px -160px
}
.z82 {
    background-position: -203px -160px
}
.z87 {
    background-position: -243px -160px
}
.z88 {
    background-position: -283px -160px
}
.z89 {
    background-position: -323px -160px
}
.z90 {
    background-position: -363px -160px
}
.z91 {
    background-position: -3px -200px
}
.z92 {
    background-position: -43px -200px
}
.z93 {
    background-position: -83px -200px
}
.z94 {
    background-position: -123px -200px
}
.z95 {
    background-position: -163px -200px
}
.z96 {
    background-position: -203px -200px
}
.z97 {
    background-position: -243px -200px
}
.z98 {
    background-position: -283px -200px
}
.z99 {
    background-position: -323px -200px
}
.z100 {
    background-position: -363px -200px
}
.z101 {
    background-position: -3px -240px
}
.z102 {
    background-position: -43px -240px
}
.z103 {
    background-position: -83px -240px
}
.z104 {
    background-position: -123px -240px
}
.z117 {
    background-position: -163px -240px
}
.z118 {
    background-position: -203px -240px
}
.z119 {
    background-position: -243px -240px
}
.z120 {
    background-position: -283px -240px
}
.z384 {
    background-position: -323px -240px
}
.z385 {
    background-position: -363px -240px
}
.z386 {
    background-position: -3px -280px
}
.z387 {
    background-position: -43px -280px
}
.z1515 {
    background-position: -83px -280px
}
.z1517 {
    background-position: -123px -280px
}
.z1518 {
    background-position: -163px -280px
}
.z1519 {
    background-position: -203px -280px
}
.z1520 {
    background-position: -243px -280px
}