#sublist{
    display:none
}
#sublist.on{
    display:block
}
#sublist h2{
    display:none;
}
#footer{
    margin-top:67px;
}
.rbt{
    display:block;
    width:60px;
    height:60px;
    line-height:60px;
    border: 2px solid #f5f5f5;
    border-radius: 60%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background-color:lightseagreen;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    margin:10px 10px 12px;
    z-index:40000;
}
.rbt.subit{
    position:fixed;
    bottom:10px;
    left:0px;
}
.rbt.subit.spin{
    -webkit-animation:spin 0.5s linear normal;
    -moz-animation:spin 0.5s linear normal;
    animation:spin 0.5s linear normal;
}
.rbt.subit.rspin{
    -webkit-animation:rspin 0.5s linear normal;
    -moz-animation:rspin 0.5s linear normal;
    animation:rspin 0.5s linear normal;
}
.ic.subit{
    float:none;
    background-position:-230px 16px;
    background-repeat:no-repeat;
}
.ic.subit.loc{
    background-position:-231px -87px;    
}
.rbt.subit.on{
    background-position:-229px -33px;
    background-color:yellowgreen;
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(180deg); transform:rotateY(180deg); } }

@-moz-keyframes rspin { 100% { -moz-transform: rotateY(-180deg); } }
@-webkit-keyframes rspin { 100% { -webkit-transform: rotateY(-180deg); } }
@keyframes rspin { 100% { -webkit-transform: rotateY(-180deg); transform:rotateY(-180deg); } }