@charset "UTF-8";
:root {
    --mourjanC: rgba(10,122,255,1);
    --midnight: rgba(44,62,80,1);
    --color-1: #fd8a6f;
    --color-2: #ff5f67;
    --color-3: #2ad392;
    --color-4: #00c1c1;
    --color-99: #5a9dff;
    --linkC: #007AFF;
  
    --mcOnColor: rgba(0,58,93,1);
    --mColor00: rgba(135,135,135,1);
    --mColor01: rgba(179,179,179,1);
    --mlColor50: rgba(1,122,255,0.5);

    --coral:rgb(254, 123, 78);
    --macaroni:rgb(247, 176, 140);
    --coral_reef:rgb(252, 123, 109);
    --purpule_navy:rgb(76, 79, 126);
    --blue:rgb(15, 107, 208);

    --premium: #E3B788;
  /*--mlc: rgba(15, 107, 208, 1); /*rgba(0,122,255,1);  */
  --mdc:rgba(47, 72, 88, 1); /*rgba(0,65,90,1);*/
  --mlc:rgba(51, 101, 138,1); /*rgba(0,122,255,1);  */
  --mbc:rgba(134, 187, 216, 1);
  --mcc:rgba(246, 174, 45, 1);
  --mhc:rgba(242, 100, 25, 1);
  
  --mbc50:rgba(134, 187, 216, 0.5);
  --mlc75:rgba(51, 101, 138,.75);
  --mlc90:rgba(51, 101, 138,.9);    
  
  --mdc02: rgba(47, 72, 88,.02);
  --mdc03: rgba(47, 72, 88,.03);
  --mdc04: rgba(47, 72, 88,.04);
  --mdc05: rgba(47, 72, 88,.05);
  --mdc08: rgba(47, 72, 88,.08);
  --mdc10: rgba(47, 72, 88,.1);
  --mdc12: rgba(47, 72, 88,.12);
  --mdc20: rgba(47, 72, 88,.2);
  --mdc25: rgba(47, 72, 88,.25);
  --mdc30: rgba(47, 72, 88,.3);
  --mdc40: rgba(47, 72, 88,.4);
  --mdc45: rgba(47, 72, 88,.45);
  --mdc50: rgba(47, 72, 88,.5);
  --mdc60: rgba(47, 72, 88,.6);
  --mdc70: rgba(47, 72, 88,.7);
  --mdc80: rgba(47, 72, 88,.8);
  --mdc90: rgba(47, 72, 88,.9);
  
  --mpc1: #ff6167;  /* For Sales */
  --mpc2: #2acf8e;  /* For Rent */
  --mpc3: #574db5;  /* Vacancies */
  --mpc4: #8979f2;  /* Seeking Work */
  --mpc5: #302189;  /* Services */
  --mpc6: #04b2d9;  /* To Rent */
  --mpc7: #2acf8e;  /* To Buy */
  --mpc8: #155147;  /* For Trade */
  
  --mcSeImg: #5a99ff;
  --mlcF: invert(42%) sepia(61%) saturate(6977%) hue-rotate(201deg) brightness(104%) contrast(104%); /* mourjan light color */
  --mpu1F: invert(46%) sepia(38%) saturate(2637%) hue-rotate(326deg) brightness(114%) contrast(103%);
  --mpu2F: invert(99%) sepia(65%) saturate(2147%) hue-rotate(76deg) brightness(85%) contrast(85%);
  --mpu3F: invert(34%) sepia(13%) saturate(3566%) hue-rotate(210deg) brightness(94%) contrast(94%);
  /*--mseImgFilter: invert(70%) sepia(65%) saturate(5500%) hue-rotate(199deg) brightness(105%) contrast(101%);*/
  --mseImgFilter: invert(30%) sepia(100%) saturate(1063%) hue-rotate(190deg) brightness(92%) contrast(106%);
  /*--mroFilter: invert(18%) sepia(95%) saturate(421%) hue-rotate(163deg) brightness(90%) contrast(89%);*/
  --mroFilter: invert(57%) sepia(7%) saturate(1090%) hue-rotate(163deg) brightness(93%) contrast(89%);
  --mseFilter: invert(55%) sepia(11%) saturate(758%) hue-rotate(141deg) brightness(87%) contrast(83%)
}

html {
    width: 100%;
    margin: 0px;
    padding: 0px;    
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    overflow-x: hidden;
    box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html * {    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

body {
    display: flex;
    position: initial;
    flex-flow: row wrap;
    font-family: 'Roboto',Almarai,-apple-system,system;
    font-style: normal;
    font-size: 1em;
    color: var(--mdc70);
    margin: 0;
    background-color: #fff;
    line-height: 1;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
}

main {
    display: inherit;
    flex: 1;
    margin-bottom: 72px;
}

aside {
    display: none;
    flex-direction: column;
    border-inline-end: 1px solid var(--mdc30);
}

aside [class*=col-] {
    padding: 0;
}

fieldset,
img {
  border: 0
}
dd,
dt,
li {
  line-height: 48px
}

a {
    display: inline-flex;
    align-items: center;
}

header {
  align-items: center;
  background-color: var(--mlc);
  color: #f9f9f9;
  padding: 0;
  text-align: center;
  font-size: .9em;
  height: 60px;
}

body > header div:last-child{
    margin-inline-end:5px;    
}
body > header div:last-child a+a{
    margin-inline-start:20px;
}

body > footer {
    position: fixed;
    bottom: 0;
    padding: 6px 0;
    z-index: 5;
    background-color:#dde3e7;    
    box-shadow: 0 4px #ededed inset;        
    color: #fff;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 68px;
}
body > footer>div:last-child{
    display: none;
}

footer nav {
    display: inherit;
    height: 100%;
    color: var(--mdc90);
    padding: 0 8px;
    font-size: 12px;
    justify-content: space-evenly;
}

footer nav div {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

footer nav img {
    width: 22px;
    margin-bottom: 8px;
}

footer nav a {
    color: inherit;
    height: 100%
    
}

footer ul {
  color: #fff;
  display: flex;
  flex-flow: column;
  flex: 1 auto;
  margin: 0;
  padding: 0 16px
}
footer li {
  display: inherit;
  flex: 1 auto;
  border-bottom: 1px solid var(--mbc50)
}
footer a {
  color: rgba(255,255,255,.75)
}
footer p {
  color: rgba(255,255,255,.75);
  display: inherit;
  line-height: 1.5em;
  font-size: 14px
}
footer .apps {
  display: inherit;
  flex-flow: column;
  margin: 20px 0 8px;
  line-height: 1.35em
}

footer .bold, .menu .bold {
  font-size: 12pt;
  font-weight: bolder
}

footer .addr {
    margin-inline-start: 52px;
    margin-block-start: 44px;
}
body > * {
    display: inherit;
    flex: 1 100%;
    flex-flow: column
}
.viewable {
    display: inline-flex;
    position: relative;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}
.row {
  display: flex;
  flex: 1 auto;
  margin: 0
}
.row::before {
  display: table-column;
  content: " "
}
.row::after {
  content: "";
  clear: both;
  display: table
}
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 4px 0;
}

.cw1,
.cw10,
.cw11,
.cw12,
.cw2,
.cw3,
.cw4,
.cw5,
.cw6,
.cw7,
.cw8,
.cw9 {
    display: inline-flex;
    align-items: center;
    flex-basis: 100%;
    padding: 0;
}

.mw {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    width: -moz-available;
    max-width: -moz-available;
    width: 100vw;
    max-width: 100%
}

.menu {
    position: fixed;
    top:0;
    left:0;
    z-index:2147483647;
    width:100%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--mlc);
}

.menu header {
    border-bottom: 0.5px solid var(--mdc);
}

.menu ul, .menu a {
    width: 100%;
}

.menu ul+ul {
    margin-top: 32px
}

.menu li {
    color: #fff;
    height: 48px;
    font-weight: 400;
    border-bottom: 1px solid var(--mbc);
}

.menu li.no-border {
    height: auto;
}

.menu .apps {
    margin-top: 20px;
}

.menu a {
    color: white;
}


.ad {
    display: inherit;
    position: relative;
    width: 188px;
    min-width: 188px;
    max-width: 188px;
    margin: 0;
}

.ad.p {
    border: 1px solid var(--premium);
}

.ad.p .mark {
    width: 60px;
    z-index: 4;
    position: absolute;
    top: 15%;
    right: 0
}

.ad * {
    display: inline-flex;
    position: relative;
    flex: 1 auto;
}

.ad .widget, .content, .image {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    width: -webkit-fill-available;
    width: -moz-available;
    flex-flow: column;
    overflow: hidden;
    flex:auto;
}

.ad .widget {
    height: 216px;    
    margin: 0 0 24px;
    box-shadow: none;
    border-radius: 4px;
    background: #fff
}

.ad .link {
    height: auto;
    width: inherit;
    flex-flow: column;
    align-self: flex-start;    
}

.ad .image {
    margin: 0;
    /*
    height: 112px;
    max-height: 112px;
    */
    height: 196px;
    max-height: 196px;
    border-bottom: 1px solid var(--mdc08);
}

.ad .image img {
    position: relative;
    width: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.ad .image.seclogo {
    background-color: var(--mlc);
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 4px 4px 0 0;
}

.ad .image.seclogo img {
    filter: invert(81%) sepia(49%) saturate(653%) hue-rotate(172deg) brightness(90%) contrast(87%);
    max-width: 64px!important;
    max-height: 64px;
    object-fit: contain;
}

.ad .tail {
  margin: 0 24px;
  position: relative;
  width: inherit;
  padding-bottom: 32px;
}

.ad.p .tail li {
  border-top-color: var(--premium);
}

.ad.p .tail a {
  color: #b59279;
}

.ad.p .tail a span {
  color: #b59279;
}

.ad .tail ul {
  padding: 0;
  margin: 0;
  flex-flow: column;
  white-space: nowrap;
  overflow: hidden
}

.ad .tail li {
  overflow: hidden;
  line-height: 1.5em;
  width: -webkit-fill-available;
  width: -moz-available;
  border-top: 0.5px solid var(--mdc70);
  height: 2em;
}


.ad .cbox {
    color: #fff;
    -webkit-text-stroke: 0.25px var(--mdc70);
    position: absolute;
    font-size: .8em;
    align-items: center;
    font-weight: 700
}

.ad .cbox.cbr {
  bottom: 5px;
  right: 8px
}
.ad .cbox.cbl {
  bottom: 5px;
  left: 8px
}

.ad .content {
    color: var(--mdc90);
    padding: 8px 24px;
}

.ad .content p {
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: initial;
    line-height: 1.4em;
    width: 100%;
    height: 4.2em;
    max-height: 4.2em;
    font-size: .95em;
    font-weight: 400;
    color: rgba(92,105,109,.7)
}

.ad .content p i {
    margin-inline-end: 2px;
}

.ad .content.section {
    flex-flow: row;
    max-height: 42px;
    align-items: center;
    font-size: 0.9em;
}

.ad .content.section img {
    flex: 0;
    height: 24px;
    filter: var(--mseFilter);
    margin-inline-end: 6px;
}

.tel{
    unicode-bidi: plaintext;
    text-align: match-parent;
    text-align: -webkit-match-parent;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}

.ff-cols {
  flex-flow: column
}

.ff-rows {
  flex-flow: row
}

.wrap {
    flex-flow: wrap;
}

.va-center {
  align-items: center
}
.va-start {
  align-items: flex-start
}
.va-end {
  align-items: flex-end
}
.ha-center {
  justify-content: center
}
.ha-start {
  justify-content: flex-start
}
.ha-end {
    justify-content: flex-end;
}
.sp-between {
  justify-content: space-between
}
.no-border {
    border: 0
}
.invert {
  filter: invert(1)
}
.mlc-filter {
    filter: var(--mlcF)
}
.ifilter {
    filter: var(--mseFilter);
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-64{
    margin-bottom: 64px;
}
.mt-32{
    margin-top: 32px;
}
.mt-64{
    margin-top: 64px;
}

.pc {
    display: none;
}

.i, .icn {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 3px
}
.ilogo {
  margin-inline-start:18px;
  height: 26px;
  width: 110px;
  display: inline-block;
  background-image: url(/css/2020/1.0/assets/LogoMe.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1)
}


.icn:before, .ilogo:before {
    content: "\00a0"
}

.icn.i16 {
  width: 16px;
  height: 16px;
  margin: 0;
}

.icn.i20, i.i20 {
  width: 20px;
  height: 20px;
  margin: 0;
}

.i.burger {
    background: url(https://dev.mourjan.com/css/2020/1.0/assets/burger.svg) center no-repeat
}
.i.close2 {
    background: url(https://dev.mourjan.com/css/2020/1.0/assets/close.svg) center no-repeat
}

.i.magnifier {
    background: url(https://dev.mourjan.com/css/2020/1.0/assets/magnifier.svg) center no-repeat
}

.icn-ae {
  background: url(https://dev.mourjan.com/css/2020/flags/ae.svg) center no-repeat
}
.icn-sa {
  background: url(https://dev.mourjan.com/css/2020/flags/sa.svg) center no-repeat
}
.icn-kw {
  background: url(https://dev.mourjan.com/css/2020/flags/kw.svg) center no-repeat
}
.icn-bh {
  background: url(https://dev.mourjan.com/css/2020/flags/bh.svg) center no-repeat
}
.icn-om {
  background: url(https://dev.mourjan.com/css/2020/flags/om.svg) center no-repeat
}
.icn-qa {
  background: url(https://dev.mourjan.com/css/2020/flags/qa.svg) center no-repeat
}
.icn-iq {
  background: url(https://dev.mourjan.com/css/2020/flags/iq.svg) center no-repeat
}
.icn-ye {
  background: url(https://dev.mourjan.com/css/2020/flags/ye.svg) center no-repeat
}
.icn-lb {
  background: url(https://dev.mourjan.com/css/2020/flags/lb.svg) center no-repeat
}
.icn-jo {
  background: url(https://dev.mourjan.com/css/2020/flags/jo.svg) center no-repeat
}
.icn-eg {
  background: url(https://dev.mourjan.com/css/2020/flags/eg.svg) center no-repeat
}
.icn-ma {
  background: url(https://dev.mourjan.com/css/2020/flags/ma.svg) center no-repeat
}
.icn-tn {
  background: url(https://dev.mourjan.com/css/2020/flags/tn.svg) center no-repeat
}
.icn-dz {
  background: url(https://dev.mourjan.com/css/2020/flags/dz.svg) center no-repeat
}
.icn-sd {
  background: url(https://dev.mourjan.com/css/2020/flags/sd.svg) center no-repeat
}
.icn-ly {
  background: url(https://dev.mourjan.com/css/2020/flags/ly.svg) center no-repeat
}

.btn {
    font-family: inherit;
    background-color:#367FA6;
    color: #fff;
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12)
}

.btn.uc{
    text-transform: uppercase;
}

.top-header {
  height: 40px;
  flex-direction: column;
  background-color: var(--mdc)
}
.top-header ul {
  display: inherit;
  position: relative;
  padding: 0;
  margin: 0;
  height: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-end;
  align-items: center
}
.top-header li {
  display: inline;
  line-height: 100%;
  flex-grow: 1;
  flex-basis: auto;
  padding: 0 12px;
  text-align: center;
  color: #f9f9f9
}
.top-header a {
  display: inline-flex;
  align-items: center;
  font-size: .95em;
  font-weight: 600;
  color: #f9f9f9
}
.top-header i {
  margin-inline-start: 8px !important;
  border-radius: 50%;
  background-size: cover!important;
  height: 22px!important;
  width: 22px!important
}




.search {
    display: none;
}
.search form {
  width: 100%;
  height: 58px;
  display: inherit;
  border: 1px solid var(--mbc50);
  border-radius: 3px;
  justify-content: space-between;
  align-self: flex-start;
  flex-direction: row
}

.roots {
    display: inherit;
    margin-top: 8px;
}


.roots a{
    display: inherit;
    width: 48px;
    height: 48px;
    border: 1px solid var(--mbc50);
    border-radius: 4px;
    background: white;
}

.roots object, .roots a>img, .search a>img {
    filter:var(--mseFilter);
    width: 48px;
    padding: 6px;    
}

.roots a+a{
    margin-inline-start:6px;
}

.search-box.shortcut {
    background-color: #eff2f4;
}
    
.search-box.shortcut .roots {  
    justify-content: center;
    flex: 1;
    max-width: 1024px;
    margin: 8px 0;
}

.searchTerm {
  width: 100%;
  border: none;
  padding-inline-start: 20px;
  height: 56px!important;
  outline: 0;
  color: var(--mdc50);
  font-size: 1em;
  font-weight: 300;
  -webkit-appearance: none;
  font-family: inherit
}

.searchTerm:focus {
  color: var(--mdc70)
}

.searchButton {
  width: 84px;
  height: 56px;
  border: 0;
  border-left: 1px solid var(--mbc);
  border-radius: 0 3px 3px 0;
  background: var(--mlc);
  cursor: pointer;
  padding-top: 0
}
/*
.search select {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin: 0;
  width: auto;
  height: 36px;
  opacity: 0
}
.search .icn-angle-down {
  background-color: var(--mlc)!important
}
*/
.search span {
  white-space: nowrap
}
/*
.search .facade {
  display: inline-flex;
  align-items: center;
  padding: 1px 1px 1px 5px;
  height: 100%;
}
.search .facade:hover {
  background-color: #dadada;
  cursor: pointer
}
*/

.sbw {
  position: relative;
  user-select: none;
  width: auto;
  background-color: #fff;
  border-radius: 3px
}
.sbe {
  position: relative;
  display: flex;
  flex-direction: column
}
.strg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 700;
  color: var(--mdc70);
  height: 56px;
  line-height: 36px;
  cursor: pointer;
  border-inline-end: 1px solid var(--mbc50)
}
.strg > * {
  margin: 0 12px
}
.strg:hover {
  background-color: var(--mlc);
  color: #fff;
  cursor: pointer
}
.options {
  position: absolute;
  display: block;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  border: 1px solid #bec9ce;
  border-radius: 5px;
  background: #fff;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  padding: 16px 16px 32px
}
.sbe.open .options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  width: fit-content
}
.option {
  position: relative;
  display: flex;
  padding: 0 16px 0;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--mdc70);
  line-height: 48px;
  cursor: pointer;
  transition: all .5s;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
  flex: 1 auto
}
.option:hover {
  cursor: pointer;
  background-color: var(--mdc10)
}
.option.selected {
  color: #fff;
  background-color: var(--mlc);
  margin: 0 -16px;
  padding-inline-start: 32px;
  padding-inline-end: 32px
}
.option.selected i {
  filter: invert(1)
}
.option i {
  height: 30px!important;
  width: 30px!important;
  margin: 0!important;
  filter: var(--mroFilter)
}
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  margin-top: 2px
}
.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: .14rem;
  height: 100%;
  transition: all .5s
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: var(--mdc70)
}
.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: var(--mdc70)
}
.open .arrow::before {
  left: -3px;
  transform: rotate(45deg)
}
.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg)
}

.mandroid,
.mios {
  height: 56px;
  width: 170px;
  display: inline-block;
  margin-bottom: 8px
}
.mios {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/mcastore.svg) no-repeat center
}
.mandroid {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/mcgplay.svg) no-repeat center
}

html[data-useragent*='Android'] .mios {
    display: none;
}

.flex {
  display: flex!important
}
.grid {
  display: grid
}
.block {
  display: block
}
.inline {
  display: inline!important
}
.inline-flex {
  display: inline-flex!important
}
.none {
  display: none
}


.mhbanner {
  margin:0;
  height:auto;
  overflow: hidden;
  justify-content: space-around
}
.mhbanner img {
  position: relative;
  height:250px;
  top: -8px;
  object-fit: cover;
  display: inline-flex
}

.mhbanner > div {
    display: inline-flex;
    flex-flow: column;    
}

.mhbanner .p1 {
  display: inherit;
  flex-flow: row;
  color: var(--mdc70);
  margin: -14px 0 20px;
  font-size: 52px
}

.mhbanner .p1 div {
  display: inherit;
  flex-direction: column;
  padding-inline-end: 6px
}
.mhbanner .p1 div:last-child {
  padding-inline-end:0
}

.mhbanner .p1 div:nth-child(even) .um {
  color: rgba(28,65,94,.5)
}
.mhbanner .p1 .sm {
  font-weight: 400
}
.mhbanner .p1 .um {
  font-weight: 700
}
body[dir=rtl] .mhbanner .p1{
    margin: 5px 0 20px;
}
body[dir=rtl] .mhbanner .p1 .um {
  height: 100px;
  font-size: 82px;
}
.mhbanner .p1 .l1 {
  font-size: 25px
}
.mhbanner .p1 .l2 {
  font-size: 42px;
  font-weight: 300;
  margin-top: -3px
}
.mhbanner .p1 .l3 {
  font-size: 36px;
  margin-top: -4px
}
.mhbanner .p1 .l4 {
    font-weight: 600;
    font-size: 24px
}
.mhbanner .p1 .l5 {
  font-size: 33.5px;
  font-weight: 300;
  margin-top: -3px
}
.mfbanner {
  margin-bottom: 56px;
  font-size: 16px;
  color: var(--mdc70);
  justify-content: space-between;
  align-items: center
}
.mfbanner div.slogan {
  letter-spacing: 1.5px;
  width: 506px
}
.mfbanner .btn {
  background-color: var(--mhc);
  border-radius: 10px;
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 400
}


.premium-banner {
    display: inherit;
    flex: 1;
    padding: 6px 0 0;
    margin-bottom: 6px;
    line-height:1.8em;
    align-items:center;
    justify-content: center;
    background-color: #fff
}
.premium-banner .vbar {
    width: 2px;
    height: 50%;
    margin: 0 24px;
    background: var(--mdc30);
}
.premium-banner div {
    display: inherit;
    flex-direction: column;
}
.premium-banner div span:first-child{
    font-weight: 700;
    font-size: 20px;
}
.premium-banner div span:last-child{
    font-weight: 400;
    font-size: 18px;
}
.premium-banner div span:last-child a {
    color:inherit;
    text-decoration: underline;
    font-weight: 500;
    margin-inline-start:16px;
}
.card.regions {
  font-size: 14px;
  margin: 0;
  background-color: #eff2f4
}
.card.regions header {
  background-color: var(--mdc);
  padding-inline-start: 34px
}
.card.regions header > i {
  width: 40px;
  height: 40px
}
.card.regions dt {
  line-height: 36px
}
.card.regions dd {
  line-height: 32px
}

footer ul:last-child{
    flex-grow: 0
}


body[dir=rtl] .large .arrow {
  margin-inline-start: 0;
  margin-inline-end: 8px
}

@media only screen and (min-width:769px) {
    .viewable {
        padding: 0;
        max-width: 1280px;
        align-self: center;
    }
}

@media only screen and (min-width:1920px) {
    body {
        margin: 0 auto;
        width: 1920px;
    }
    .viewable {
        max-width: 1600px
    }
}


.alert {
    display: inherit;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    align-items: center;
    justify-content: center;
    min-height: 3em;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}


 @media only screen and (min-width:1280px) {
    .ad {
        width: 308px;
        min-width: 308px;
        max-width: 308px;
    }
    
    .ad .widget {
        height: 340px;
    }
}

@media only screen and (min-width:1600px) {
    .ad {
        width: 360px;
        min-width: 360px;
        max-width: 360px;
    }
}



@media only screen and (min-width:769px) {
    .pc {
        display: inherit;
    }

    .mob {
        display: none;
    }
    
    
    html, body {
        min-height: 0;
    }
    
    body > footer {
        position: relative;
        padding: 76px 0;
        background-color: var(--mlc);
        box-shadow: 0 8px var(--mbc) inset;
        height: auto;
    }

    aside {
        display: flex;
    }

    .cw1 { flex-basis: 8.33% }
    .cw2 { flex-basis: 16.66% }
    .cw3 { flex-basis: 25% }
    .cw4 { flex-basis: 33.33% }
    .cw5 { flex-basis: 41.66% }
    .cw6 { flex-basis: 50% }
    .cw7 { flex-basis: 58.33% }
    .cw8 { flex-basis: 66.66% }
    .cw9 { flex-basis: 75% }
    .cw10 { flex-basis: 83.33% }
    .cw11 { flex-basis: 91.66% }
    .cw12 { flex-basis: 100% }
    
    .col-1 { width: 8.33% }
    .col-2 { width: 16.66% }
    .col-3 { width: 25% }
    .col-4 { width: 33.33% }
    .col-5 { width: 41.66% }
    .col-6 { width: 50% }
    .col-7 { width: 58.33% }
    .col-8 { width: 66.66% }
    .col-9 { width: 75% }
    .col-10 { width: 83.33% }
    .col-11 { width: 91.66% }
    .col-12 { width: 100% }
    [class*=col-] {
        display: inline-flex;
        align-items: inherit;
        padding: 8px
    }
    
    body[dir=ltr] .ilogo {
        background-image: url(https://dev.mourjan.com/css/2020/1.0/assets/LogoV5e.svg)
    }

    body[dir=rtl] .ilogo {
        background-image: url(https://dev.mourjan.com/css/2020/1.0/assets/LogoV5a.svg);
        width: 308px
    }

    
    body>header div a:not(:last-child) {
        display: none
    }
    
    main {
        background: var(--mdc03);
        margin-bottom: 0;
    }
    
    body footer nav {
        display: none;
    }
    
    body>footer>div:first-child{
        display: none;
    }
    
    body>footer>div:last-child{
        display: inherit;
    }


    .search {    
        display: inline-flex;
        flex-grow:1;
        flex-flow: column;
        max-width: 1024px;
        margin: 36px 0 6px;
    }
    
    
    .search-box {
        background-color:var(--mdc03);
        padding-bottom: 30px;
    }
    
    .search-box.main {
        padding-top: 32px;
        margin-bottom:8px;
        box-shadow:0 1px 4px aliceblue;
    }

    .search-box.shortcut {
        background-color: var(--mdc03);
    }
    
    
    .search-box.shortcut .roots {  
        justify-content: flex-start;
    }
    
    .search-box:not(:last-of-type) {
        padding-bottom: 0;
    }
    
    .ad.p {
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(227,183,136,.5);
    }
    
    .ad .image {
        height: 205px;
        max-height: 205px;
    }
    
    .ad .image.seclogo img {
        max-width: 90px!important;
        max-height: 90px;
    }

    .ad .widget {
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    }
    
    .ad .content p {        
        color: var(--mdc80);
    }
    
    .ad .tail {
        padding-bottom: 0;
    }
    
    .ad .tail li {
        border-top: 0.5px solid var(--mdc12);
    }
    
    .ad.p .tail li {
        border-top-color: var(--premium);
    }
}