@charset "UTF-8";
:root {
  --mourjanC: rgba(10,122,255,1);
  --midnight: rgba(44,62,80,1);
  --color-1: #fd8a6f;
  --color-2: #ff5f67;
  --color-3: #2ad392;
  --color-4: #00c1c1;
  --color-99: #5a9dff;
  --linkC: #007AFF;
  
  --mcOnColor: rgba(0,58,93,1);
  --mColor00: rgba(135,135,135,1);
  --mColor01: rgba(179,179,179,1);
  --mlColor50: rgba(1,122,255,0.5);
  
  --premium: #E3B788;
  --mlc: rgba(0,122,255,1);  
  --mdc: rgba(28,65,94,1);
  --mdc02: rgba(28,65,94,.02);
  --mdc04: rgba(28,65,94,.04);
  --mdc08: rgba(28,65,94,.08);
  --mdc10: rgba(28,65,94,.1);
  --mdc12: rgba(28,65,94,.12);
  --mdc30: rgba(28,65,94,.3);
  --mdc40: rgba(28,65,94,.4);
  --mdc45: rgba(28,65,94,.45);
  --mdc50: rgba(28,65,94,.5);
  --mdc60: rgba(28,65,94,.6);
  --mdc70: rgba(28,65,94,.7);
  --mdc80: rgba(28,65,94,.8);
  --mdc90: rgba(28,65,94,.9);
  
  --mpc1: #ff6167;  /* For Sales */
  --mpc2: #2acf8e;  /* For Rent */
  --mpc3: #574db5;  /* Vacancies */
  --mpc4: #8979f2;  /* Seeking Work */
  --mpc5: #302189;  /* Services */
  --mpc6: #04b2d9;  /* To Rent */
  --mpc7: #2acf8e;  /* To Buy */
  --mpc8: #155147;  /* For Trade */
  
  --mcSeImg: #5a99ff;
  --mlcF: invert(42%) sepia(61%) saturate(6977%) hue-rotate(201deg) brightness(104%) contrast(104%); /* mourjan light color */
  --mpu1F: invert(46%) sepia(38%) saturate(2637%) hue-rotate(326deg) brightness(114%) contrast(103%);
  --mpu2F: invert(99%) sepia(65%) saturate(2147%) hue-rotate(76deg) brightness(85%) contrast(85%);
  --mpu3F: invert(34%) sepia(13%) saturate(3566%) hue-rotate(210deg) brightness(94%) contrast(94%);
  --mseImgFilter: invert(70%) sepia(65%) saturate(5500%) hue-rotate(199deg) brightness(105%) contrast(101%);
  --mroFilter: invert(18%) sepia(95%) saturate(421%) hue-rotate(163deg) brightness(90%) contrast(89%);
  --mseFilter: invert(55%) sepia(11%) saturate(758%) hue-rotate(141deg) brightness(87%) contrast(83%)
}
*,
:after,
:before {
  box-sizing: border-box
}
html {
  height: 100%
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: manipulation;
  touch-action: manipulation
}
body {
  font-family: 'Roboto',Almarai,-apple-system,system;
  font-style: normal;
  font-size: 1em;
  color: var(--mdc70);
  margin: 0;
  background-color: #fff;
  line-height: 1
}
main {
  flex: 1 auto
}
fieldset,
img {
  border: 0
}
dd,
dt,
li {
  line-height: 48px
}

header {
  display: flex;
  background-color: var(--mlc);
  color: #f9f9f9;
  padding: 0;
  text-align: center;
  margin-bottom: 4px;
  font-size: .9em;
  font-weight: 600!important
}

footer {
  padding: 76px 0;
  text-align: auto;
  order: 999;
  background-color: var(--mlc);
  box-shadow: 0 8px #7abaff inset;
  color: #fff
}
footer ul {
  color: #fff;
  display: flex;
  flex-flow: column;
  flex: 1 auto;
  margin: 0;
  padding: 0 16px
}
footer li {
  display: inherit;
  flex: 1 auto;
  border-bottom: 1px solid rgba(0,255,255,.25)
}
footer a {
  color: rgba(255,255,255,.75)
}
footer p {
  color: rgba(255,255,255,.75);
  display: inherit;
  line-height: 1.5em;
  font-size: 14px
}
footer .apps {
  display: inherit;
  flex-flow: column;
  margin: 20px 0 8px;
  line-height: 1.35em
}
footer .bold {
  font-size: 12pt;
  font-weight: bolder
}

footer .addr {
    margin-inline-start: 52px;
    margin-block-start: 44px;
}


.wrapper {
  display: flex;
  flex-flow: row wrap
}
.wrapper > * {
  flex: 1 100%;
  flex-flow: column
}
.viewable {
    display: inline-flex;
    width: 100%
}
.row {
  display: flex;
  flex: 1 auto;
  margin: 0
}
.row::before {
  display: table-column;
  content: " "
}
.row::after {
  content: "";
  clear: both;
  display: table
}
.tel{
    unicode-bidi: plaintext;
    text-align: match-parent;
    text-align: -webkit-match-parent;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-700 {
    font-weight: 700;
}

.ff-cols {
  flex-flow: column
}
.ff-rows {
  flex-flow: row
}
.va-center {
  align-items: center
}
.va-start {
  align-items: flex-start
}
.ha-center {
  justify-content: center
}
.ha-start {
  justify-content: flex-start
}
.ha-end {
    justify-content: flex-end;
}
.sp-between {
  justify-content: space-between
}
.no-border {
    border: 0
}
.invert {
  filter: invert(1)
}
.mlc-filter {
    filter: var(--mlcF)
}

.mb-32{
    margin-bottom: 32px;
}
.mt-32{
    margin-top: 32px;
}
.mb-64{
    margin-bottom: 64px;
}
.mt-64{
    margin-top: 64px;
}

.icn {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 3px
}
.icn:before, .ilogo:before {
    content: "\00a0"
}

.icn.i16 {
  width: 16px;
  height: 16px;
  margin: 0;
}

.icn.i20 {
  width: 20px;
  height: 20px;
  margin: 0;
}


.icn-ae {
  background: url(https://dev.mourjan.com/css/2020/flags/ae.svg) center no-repeat
}
.icn-sa {
  background: url(https://dev.mourjan.com/css/2020/flags/sa.svg) center no-repeat
}
.icn-kw {
  background: url(https://dev.mourjan.com/css/2020/flags/kw.svg) center no-repeat
}
.icn-bh {
  background: url(https://dev.mourjan.com/css/2020/flags/bh.svg) center no-repeat
}
.icn-om {
  background: url(https://dev.mourjan.com/css/2020/flags/om.svg) center no-repeat
}
.icn-qa {
  background: url(https://dev.mourjan.com/css/2020/flags/qa.svg) center no-repeat
}
.icn-iq {
  background: url(https://dev.mourjan.com/css/2020/flags/iq.svg) center no-repeat
}
.icn-ye {
  background: url(https://dev.mourjan.com/css/2020/flags/ye.svg) center no-repeat
}
.icn-lb {
  background: url(https://dev.mourjan.com/css/2020/flags/lb.svg) center no-repeat
}
.icn-jo {
  background: url(https://dev.mourjan.com/css/2020/flags/jo.svg) center no-repeat
}
.icn-eg {
  background: url(https://dev.mourjan.com/css/2020/flags/eg.svg) center no-repeat
}
.icn-ma {
  background: url(https://dev.mourjan.com/css/2020/flags/ma.svg) center no-repeat
}
.icn-tn {
  background: url(https://dev.mourjan.com/css/2020/flags/tn.svg) center no-repeat
}
.icn-dz {
  background: url(https://dev.mourjan.com/css/2020/flags/dz.svg) center no-repeat
}
.icn-sd {
  background: url(https://dev.mourjan.com/css/2020/flags/sd.svg) center no-repeat
}
.icn-ly {
  background: url(https://dev.mourjan.com/css/2020/flags/ly.svg) center no-repeat
}

.btn {
    font-family: inherit;
  background-color: var(--mlc);
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(153,153,153,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(153,153,153,.12)
}

.btn.uc{
    text-transform: uppercase;
}

.top-header {
  height: 40px;
  flex-direction: column;
  background-color: var(--mdc)
}
.top-header ul {
  display: inherit;
  position: relative;
  padding: 0;
  margin: 0;
  height: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-end;
  align-items: center
}
.top-header li {
  display: inline;
  line-height: 100%;
  flex-grow: 1;
  flex-basis: auto;
  padding: 0 12px;
  text-align: center;
  color: #f9f9f9
}
.top-header a {
  display: inline-flex;
  align-items: center;
  font-size: .95em;
  font-weight: 600;
  color: #f9f9f9
}
.top-header i {
  margin-inline-start: 8px !important;
  border-radius: 50%;
  background-size: cover!important;
  height: 22px!important;
  width: 22px!important
}

.search-box {
  display: inherit;
  background-color: #eff2f4
}

.search {
  display: inline-flex;
  width: 100%;
  border: 1px solid rgba(0,122,255,.2);
  border-radius: 5px;
  max-width: 1024px;
  margin: 36px 0
}
.search form {
  width: 100%;
  display: inherit;
  justify-content: space-between;
  align-self: flex-start;
  flex-direction: row
}
.searchTerm {
  width: 100%;
  border: none;
  padding-inline-start: 20px;
  height: 56px!important;
  outline: 0;
  color: var(--mdc50);
  font-size: 1em;
  font-weight: 300;
  -webkit-appearance: none;
  font-family: inherit
}

.searchTerm:focus {
  color: var(--mdc70)
}

.searchButton {
  width: 84px;
  height: 56px;
  border: 0;
  border-left: 1px solid rgba(0,122,255,.2);
  border-radius: 0 5px 5px 0;
  background: var(--mourjanC);
  cursor: pointer;
  padding-top: 0
}
/*
.search select {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin: 0;
  width: auto;
  height: 36px;
  opacity: 0
}
.search .icn-angle-down {
  background-color: var(--mlc)!important
}
*/
.search span {
  white-space: nowrap
}
/*
.search .facade {
  display: inline-flex;
  align-items: center;
  padding: 1px 1px 1px 5px;
  height: 100%;
  background-color: #f3f3f3
}
.search .facade:hover {
  background-color: #dadada;
  cursor: pointer
}
*/

.sbw {
  position: relative;
  user-select: none;
  width: auto;
  background-color: #fff;
  border-radius: 5px
}
.sbe {
  position: relative;
  display: flex;
  flex-direction: column
}
.strg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 700;
  color: var(--mdc70);
  height: 56px;
  line-height: 36px;
  cursor: pointer;
  border-inline-end: 1px solid rgba(0,122,255,.2)
}
.strg > * {
  margin: 0 12px
}
.strg:hover {
  background-color: var(--mlc);
  color: #fff;
  cursor: pointer
}
.options {
  position: absolute;
  display: block;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  border: 1px solid #bec9ce;
  border-radius: 5px;
  background: #fff;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  padding: 16px 16px 32px
}
.sbe.open .options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  width: fit-content
}
.option {
  position: relative;
  display: flex;
  padding: 0 16px 0;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--mdc70);
  line-height: 48px;
  cursor: pointer;
  transition: all .5s;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
  flex: 1 auto
}
.option:hover {
  cursor: pointer;
  background-color: var(--mdc10)
}
.option.selected {
  color: #fff;
  background-color: var(--mlc);
  margin: 0 -16px;
  padding-inline-start: 32px;
  padding-inline-end: 32px
}
.option.selected i {
  filter: invert(1)
}
.option i {
  height: 30px!important;
  width: 30px!important;
  margin: 0!important;
  filter: var(--mroFilter)
}
.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  margin-top: 2px
}
.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: .14rem;
  height: 100%;
  transition: all .5s
}
.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: var(--mdc70)
}
.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: var(--mdc70)
}
.open .arrow::before {
  left: -3px;
  transform: rotate(45deg)
}
.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg)
}

.mandroid,
.mios {
  height: 56px;
  width: 170px;
  display: inline-block;
  margin-bottom: 8px
}
.mios {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/mcastore.svg) no-repeat center
}
.mandroid {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/mcgplay.svg) no-repeat center
}
.flex {
  display: flex!important
}
.grid {
  display: grid
}
.block {
  display: block
}
.inline {
  display: inline!important
}
.inline-flex {
  display: inline-flex!important
}
.none {
  display: none
}


.mhbanner {
  margin:0;
  height:auto;
  overflow: hidden;
  justify-content: space-around
}
.mhbanner img {
  position: relative;
  height:250px;
  top: -8px;
  object-fit: cover;
  display: inline-flex
}

.mhbanner > div {
    display: inline-flex;
    flex-flow: column;    
}

.mhbanner .p1 {
  display: inherit;
  flex-flow: row;
  color: var(--mdc70);
  margin: -14px 0 20px;
  font-size: 52px
}

.mhbanner .p1 div {
  display: inherit;
  flex-direction: column;
  padding-inline-end: 6px
}
.mhbanner .p1 div:last-child {
  padding-inline-end:0
}

.mhbanner .p1 div:nth-child(even) .um {
  color: rgba(28,65,94,.5)
}
.mhbanner .p1 .sm {
  font-weight: 400
}
.mhbanner .p1 .um {
  font-weight: 700
}
body[dir=rtl] .mhbanner .p1{
    margin: 5px 0 20px;
}
body[dir=rtl] .mhbanner .p1 .um {
  height: 100px;
  font-size: 82px;
}
.mhbanner .p1 .l1 {
  font-size: 25px
}
.mhbanner .p1 .l2 {
  font-size: 42px;
  font-weight: 300;
  margin-top: -3px
}
.mhbanner .p1 .l3 {
  font-size: 36px;
  margin-top: -4px
}
.mhbanner .p1 .l4 {
    font-weight: 600;
    font-size: 24px
}
.mhbanner .p1 .l5 {
  font-size: 33.5px;
  font-weight: 300;
  margin-top: -3px
}
.mfbanner {
  margin-bottom: 56px;
  font-size: 16px;
  color: var(--mdc70);
  justify-content: space-between;
  align-items: center
}
.mfbanner div.slogan {
  letter-spacing: 1.5px;
  width: 506px
}
.mfbanner .btn {
  background-color: #ff6167;
  border-radius: 10px;
  color: #f9f9f9;
  font-size: 15px;
  font-weight: 400
}


.premium-banner {
    display: inherit;
    flex: 1;
    padding: 6px 0 0;
    line-height:1.8em;
    align-items:center;
    justify-content: center;
    background-color: #fff
}
.premium-banner .vbar {
    width: 2px;
    height: 50%;
    margin: 0 24px;
    background: var(--mdc30);
}
.premium-banner div {
    display: inherit;
    flex-direction: column;
}
.premium-banner div span:first-child{
    font-weight: 700;
    font-size: 20px;
}
.premium-banner div span:last-child{
    font-weight: 400;
    font-size: 18px;
}
.premium-banner div span:last-child a {
    color:inherit;
    text-decoration: underline;
    font-weight: 500;
    margin-inline-start:16px;
}
.card.regions {
  font-size: 14px;
  margin: 0;
  background-color: #eff2f4
}
.card.regions header {
  background-color: var(--mdc);
  padding-inline-start: 34px
}
.card.regions header > i {
  width: 40px;
  height: 40px
}
.card.regions dt {
  line-height: 36px
}
.card.regions dd {
  line-height: 32px
}

footer ul:last-child{
    flex-grow: 0
}


body[dir=rtl] .large .arrow {
  margin-inline-start: 0;
  margin-inline-end: 8px
}

@media only screen and (min-width:769px) {
    .viewable {
        padding: 0;
        max-width: 1280px;
        align-self: center;
    }
}

@media only screen and (min-width:1920px) {
    body {
        margin: 0 auto;
        width: 1920px;
        display: block
    }
    .viewable {
        max-width: 1600px
    }
}
