.admin{}
.admin label{margin-inline-start:16px; margin-inline-end:8px;color:var(--mdc70)}
.admin input{margin-inline-start:4px;min-height:24px;}
.admin .btn{background-color:var(--mlc);color:white}
.admin .ts, .admin .tbs {display:flex;flex: inherit; overflow:visible;justify-content:space-around;align-items: center; flex-flow: row}
.admin li{border: 0;flex:unset}
.admin .dialog {display: none}
.admin .multi{flex-wrap: wrap}
.admin .multi li{padding: 4px 12px}