ct{text-align:center;display:block}

.stmt {
    font-size:14px;
    min-height:300px;
    display:flex;
    flex:1 auto;
    flex-flow:column;
    margin:0
}
.stmt * {
    display: inline-flex;
    flex-direction:row;
}

.stmt ul{
    width:100%;
    align-items:stretch;
    flex-wrap:wrap;
    overflow:hidden;
    border-bottom:1px solid var(--mdc10);
    margin:0;
    padding:4px;
}

.stmt li{
    width:200px;
}

.stmt .hdr{    
    background:var(--mdc50);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight:700;
    color:#FFF
}

.stmt .dt0{
    min-width:100px;
}

.stmt .et0,.stmt .et1{
    margin-inline-start:32px;
    flex:1;
}
.stmt .dwt{max-width:40px;display: flex;align-items: center;justify-content: center;flex:1 auto}
.dwt a{display:flex;align-items:center;justify-content:center}
.icn-invoice{background:transparent url(/web/css/1.0/fa/solid/file-invoice.svg) no-repeat center / cover !important;filter:invert(20%) sepia(52%) saturate(3178%) hue-rotate(99deg) brightness(97%) contrast(104%);}

.stmt .ct0 {
    max-width:84px;
    align-items: center;
    justify-content: flex-end
}

.stmt .xt0 {
    width:100%;
    border-top:1px solid var(--mdc08);
    display:none
}
.stmt .xt0 > div {
    padding-top: 4px;
}
.stmt span{
    display: inline-block;
    margin: 0 8px;
    line-height: 1.25rem;
}
ul.ps{background-color:#D9FAC8}
ul.a{background:var(--mdc04)}
ul.ck{cursor:pointer}
ul.ck:hover{background-color:#ffffbf}
ul.exp .xt0{display:flex}
/*            
.a0,.a1,.a7,.a8,.a9{
    margin: 8px;
    padding:0 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    color:#FFF!important
}
*/
.btn.a0:hover,.btn.a1:hover,.btn.a7:hover,.btn.a9:hover{
    background:#FF9000;
    color:#FFF!important
}
.btn.a8{background:darkslategray;margin: 0}
.btn.a9{background:firebrick}
.btn.a7{background:darkseagreen;margin: 0}
.btn.a1{background:goldenrod}
.btn.a0{background:slategray}
            
.stmt.ar li{float:left;}
.ar .et0,.ar .et1{text-align:right;direction:rtl}
.ar .hdr{font-size:16px}