.brd{margin-inline-start:calc(25% + 32px);display:inherit;position:relative;flex:1 auto;justify-content:space-between;/*background-color:var(--mourjanC);*/
     font-size:14px;color:var(--mColor60);overflow:hidden;height:30px;white-space:nowrap;text-overflow:ellipsis;
     border:0;z-index:1;}
.brd a{padding-inline-start:30px;height:30px;line-height:30px;display:inline-block;color:var(--mColor60);position:relative}
.brd a:after{content:"〉";display:block;width:0;height:0;position:absolute;top:50%;margin-top:-40px;left:100%;z-index:2;color:var(--mColor60)}
.brd a:before{content:" ";display:block;width:0;height:0;position:absolute;top:50%;margin-top:-40px;margin-right:1px;left:100%;z-index:1}

body[dir="rtl"] .brd a:after{border-right:20px solid #143e57;border-left:0;right:100%;left:auto}
body[dir="rtl"] .brd a:before{border-right:20px solid white;border-left:0;margin-left:1px;margin-right:0;right:100%;left:auto;}
.brd a:first-child{padding-left:10px}
.brd b {padding:0 0 0 30px;font-weight:normal;line-height:30px}

body[dir="rtl"] .brd a{padding:0 30px 0 0;}
body[dir="rtl"] .brd a:first-child{padding:0 10px 0 30px;}
body[dir="rtl"] .brd b{padding:0 30px 0 0;}

.brd a:hover{background-color:#ff9100!important;}
.brd a:hover:after {border-left-color:#ff9100!important}
body[dir="rtl"] .brd a:hover{background-color:#ff9100!important}
body[dir="rtl"] .brd a:hover:after{border-right-color:#ff9100!important}

.reorder{order: 0}
.prps {display: inherit;padding:0 8px;}
.prps ul {display: inherit;justify-content: space-between; flex: 1 auto; padding: 0 8px;align-items: center;margin-block-start:0;margin-block-end:0;flex-wrap: wrap; background-color: white; border-radius:6px}
@media screen and (max-width: 360px) {
    .pgn > li:nth-child(5){display:none}
    .pgn > li:last-child{display:inline}
}

@media screen and (max-width: 460px) {
    .brd span {display:none}
    .reorder {order: 2}
}

