.brd{margin-inline-start:calc(25% + 32px);display:inherit;position:relative;flex:1 auto;justify-content:space-between;/*background-color:var(--mourjanC);*/
     font-size:15px;color:var(--mColor60);overflow:hidden;height:30px;white-space:nowrap;text-overflow:ellipsis;
     border:0;z-index:1;}
.brd a{padding-inline-start:30px;height:30px;line-height:30px;display:inline-block;color:var(--mColor60);/*background-color:#143e57;*/position:relative}
.brd a:after{content:"〉";display:block;width:0;height:0;/*border-top:40px solid transparent;
             border-bottom:40px solid transparent;border-left:20px solid #143e57;*/
             position:absolute;top:50%;margin-top:-40px;left:100%;z-index:2;color:var(--mColor60);}
.brd a:before{content:" ";display:block;width:0;height:0;position:absolute;
              /*border-top:40px solid transparent;border-bottom:40px solid transparent;border-left:20px solid white;   */ 
              top:50%;margin-top:-40px;margin-right:1px;left:100%;z-index:1}

body[dir="rtl"] .brd a:after{border-right:20px solid #143e57;border-left:0;right:100%;left:auto}
body[dir="rtl"] .brd a:before{border-right:20px solid white;border-left:0;margin-left:1px;margin-right:0;right:100%;left:auto;}
.brd a:first-child{padding-left:10px}
/*
.brd a:nth-child(2){background-color:#1b5374!important}
.brd a:nth-child(2):after {border-left-color:#1b5374!important;border-right-color:#1b5374!important;}
.brd a:nth-child(3){background-color:#236b95!important;}
.brd a:nth-child(3):after {border-left-color:#236b95!important;border-right-color:#236b95!important;}
.brd a:nth-child(4){background-color:#287dae!important}
.brd a:nth-child(4):after{border-left-color:#287dae!important;border-right-color:#287dae!important;}
.brd a:nth-child(5){background-color:#3095cf!important}
.brd a:nth-child(5):after{border-left-color:#3095cf!important;border-right-color:#3095cf!important;}
.brd a:nth-child(6){background-color:#5aaad9!important}
.brd a:nth-child(6):after{border-left-color:#5aaad9!important;border-right-color:#5aaad9!important;}
.brd a:nth-child(7){background-color:#7bbbe0!important}
.brd a:nth-child(7):after{border-left-color:#7bbbe0!important;border-right-color:#7bbbe0!important;}
*/
.brd b {padding:0 0 0 30px;font-weight:normal;line-height:30px}

body[dir="rtl"] .brd a{padding:0 30px 0 0;}
body[dir="rtl"] .brd a:first-child{padding:0 10px 0 30px;}
body[dir="rtl"] .brd b{padding:0 30px 0 0;}

.brd a:hover{background-color:#ff9100!important;}
.brd a:hover:after {border-left-color:#ff9100!important}
body[dir="rtl"] .brd a:hover{background-color:#ff9100!important}
body[dir="rtl"] .brd a:hover:after{border-right-color:#ff9100!important}

.pgn{display:inline-block;padding-left:0;margin:20px auto;border-radius:4px;}
.pgn > li{display:inline;}
.pgn > .active > a, .pgn > .active > a:focus, .pgn > .active > a:hover, .pgn > .active > span, .pgn > .active > span:focus, .pgn > .active > span:hover{
    z-index:2;color:#fff;cursor:default;background-color:#8699a3;border:0;
    box-shadow:none}

.pgn > li > a, .pgn > li > span{border:0;border-top-color:currentcolor;border-right-color:currentcolor;border-bottom-color:currentcolor;border-left-color:currentcolor;border-radius:50%;
    transition:all .3s;margin:0 3px;min-width:40px;height:40px;line-height:40px;position:relative;
    float:left;color:#8699a3; text-decoration:none;text-align:center;font-weight:bold;font-size: 16px}
.pgn > li > a{border:1px solid #8699a3;}
.reorder{order: 0}
.prps {display: inherit;padding:0 8px;}
.prps ul {display: inherit;justify-content: space-between; flex: 1 auto; padding: 0 8px;align-items: center;margin-block-start:0;margin-block-end:0;flex-wrap: wrap; background-color: white; border-radius:6px}
@media screen and (max-width: 360px) {
    .pgn > li:nth-child(5){display:none}
    .pgn > li:last-child{display:inline}
}

@media screen and (max-width: 460px) {
    .brd span {display:none}
    .reorder {order: 2}
}

ul.breadcrumb {margin-inline-start:calc(25% + 32px);list-style:none;}

/* Display list items side by side */
ul.breadcrumb li {display: inline-flex;font-size: 18px;color: var(--mColor80);line-height: 24px}
ul.breadcrumb img{height:24px;margin-inline-start:8px}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {padding-inline-start:8px; color:var(--mcLightColor);content: "〉";font-weight: bold}

/* Add a color to all links inside the list */
ul.breadcrumb li a {color: var(--mColor80);text-decoration: none;}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {color: #01447e;text-decoration: underline;}