.dtad{display:flex;flex-flow:column}
.dtad [class*="col-"]{padding:0}
.dtad .cntnt{background-color:white;padding:32px;line-height:1.25em;border-radius:6px}
.dtad .pics{display:inline-flex;flex-flow:column}
.dtad .pics img{margin-bottom:16px;object-fit:cover;object-position:center;max-height:600px}
.dtad .pics img{margin-inline-end:8px;}
.dtad .pics img:last-child{margin-inline-end:0}
.dtad .pics .large-pic-container{position:relative;}
.dtad .pics .prev-pic, .dtad .pics .next-pic {z-index:10;position:absolute;width:50px;text-align:center;background:transparent;color:white;text-shadow:0 0 10px black;font-size:60px;opacity:0.5;-webkit-transition:0.1s opacity;-o-transition:0.1s opacity;transition:0.1s opacity;top:0;bottom:16px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.dtad .pics .prev-pic:hover, .dtad .pics .next-pic:hover {opacity: 1}
.dtad .pics .prev-pic{left:0px;}
.dtad .pics .prev-pic:hover{-webkit-box-shadow: inset 135px 0 35px -125px rgba(0,0,0,0.50);-moz-box-shadow: inset 135px 0 35px -125px rgba(0,0,0,0.50);box-shadow: inset 135px 0 35px -125px rgba(0,0,0,0.50);}
.dtad .pics .next-pic:hover{-webkit-box-shadow: inset -135px 0 35px -125px rgba(0,0,0,0.50);-moz-box-shadow: inset -135px 0 35px -125px rgba(0,0,0,0.50);box-shadow: inset -135px 0 35px -125px rgba(0,0,0,0.50);}
.dtad .pics .next-pic{right:0px;}
.dtad .thumbs{display:inherit;flex-flow:row;overflow:hidden}
.dtad .thumbs img{max-width:128px;height:128px;cursor: pointer;flex-grow:0;flex-shrink:0;opacity:0.75;transition: 0.1s opacity}
.dtad .thumbs img:hover{opacity:0.85}
.dtad .thumbs img.active-thumb{opacity:1}
.dtad .pics:-webkit-full-screen #pic-large{cursor: -webkit-zoom-out;max-height:calc(100vh - 160px);max-width:100vw;height:auto;width:auto;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;}
.dtad .pics:-moz-full-screen #pic-large{cursor: -webkit-zoom-out;max-height:calc(100vh - 160px);max-width:100vw;height:auto;width:auto;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;}
.dtad .pics:-ms-fullscreen #pic-large{cursor: -webkit-zoom-out;max-height:calc(100vh - 160px);max-width:100vw;height:auto;width:auto;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;}
.dtad .pics:fullscreen #pic-large{cursor: -webkit-zoom-out;max-height:calc(100vh - 160px);max-width:100vw;height:auto;width:auto;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;}
.dtad .pics #pic-large{cursor: -webkit-zoom-in;}
.dtad .pics:-webkit-full-screen {height: 100vh;width:100vw;}
.dtad .pics:-moz-full-screen {height: 100vh;width:100vw;}
.dtad .pics:-ms-fullscreen {height: 100vh;width:100vw;}
.dtad .pics:fullscreen {height: 100vh;width:100vw;}
.dtad .pics:-webkit-full-screen .large-pic-container {height: calc(100vh - 144px);}
.dtad .pics:-moz-full-screen .large-pic-container {height: calc(100vh - 144px);}
.dtad .pics::-ms-fullscreen .large-pic-container {height: calc(100vh - 144px);}
.dtad .pics:fullscreen .large-pic-container {height: calc(100vh - 144px);}

.dtad .social{
    display:flex;
    flex-flow:row;
    align-items: center;
    height:44px;
    border-bottom:1px solid var(--mdc30);
    margin-bottom:16px
}

.dtad .social a {
    display: inline-flex;
    align-items: center;
    font-size: 17.3pt;
    font-weight: 700;
    margin-inline-end: 32px;
}
.dtad .social a:last-child {
    margin-inline-end: 0;
}

.dtad .social a>i {
    margin-inline-end: 4px;
}

.dtad .top {
    display: inherit;
    line-height: 1em;
    margin-bottom: 32px;
}
.dtad .info{font-size:30px;line-height: 1.4em; color:#475660}
.dtad .attrs{display:inherit;flex-flow:row;height:162px;margin-bottom:16px;justify-content:space-between}
.dtad .attrs .widget{
    display:inline-flex; 
    flex-flow: column;
    align-items: center;
    width:130px;
    height:130px;
    border-radius:8px;
    border:1px solid var(--mdc40)
}
.dtad .attrs .widget img {
    width: 28px;
    height: 28px;
    margin-block-start: 24px;
    margin-block-end: 2px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    filter: var(--mseFilter);
}
.dtad .attrs .widget span {
    margin-block-end:16px;
    font-weight: 300;
    font-size: 12pt;    
}
.dtad .attrs .widget div {
    overflow: hidden;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    line-height: 1.5em;
    word-break: normal;
}
.dtad .txt{}
.dtad .txt p{line-height:1.5em}
.dtad .txt p::first-line{font-weight: 500}
.dtad .contacts{
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:16px
}
.dtad .contacts a{
    display:inherit;
    flex-basis: 45%;
    align-items:center;
    color:white;
    height:48px;
    padding:0 12px 0 4px;
    border-radius:6px;
    font-size:15px;
    font-weight:700
}
/*.dtad .contacts a+a{margin-inline-start:12px}*/
.dtad .contacts a:before{content:"\00a0"}
.dtad .phone, .whats, .mobile{background-color:#2acf8e}
.dtad .phone:before,.whats:before,.mobile:before,.mail:before{margin-inline-end:16px;border-inline-end:1px solid black;filter:invert(1);width:40px}
.dtad .phone:before{background:url(https://dev.mourjan.com/css/2020/1.0/fa/regular/phone.svg) no-repeat center}
.dtad .whats:before{background:url(https://dev.mourjan.com/css/2020/1.0/fa/brands/whatsapp.svg) no-repeat center}
.dtad .mobile:before{background:url(https://dev.mourjan.com/css/2020/1.0/fa/light/mobile.svg) no-repeat center}
.dtad .mail:before{background:url(https://dev.mourjan.com/css/2020/1.0/fa/light/envelope.svg) no-repeat center}

.dtad .tail{display: inherit;flex-basis: 100%; margin-bottom: 40px;margin-inline-end:28px}
.dtad .tail .report{cursor:pointer}
.dtad .tail p{display:inherit;align-self:flex-end;margin-top:8px;font-size:14px}
.dtad .tail p>b{color:#FF6167;margin:0 4px 0 8px}
.dtad .banners{margin-inline-start:16px}

.dtad .loc {
    display:inherit;
    line-height: 1.5em;
    margin: 16px 0;
    border-top: 1px solid var(--mdc30);
}
.icn.star {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/regular/star.svg) no-repeat center
}

.icn.share {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/regular/share-alt.svg) no-repeat center
}