.prices{margin:0!important;list-style:disc inside!important;padding:0 40px;}
.prices ul{display:inline-block;line-height:1em;margin:0!important}
.prices ul li{float:left;width:100px;list-style:none}
p.pad{margin:0;padding:5px 10px}
.ar .prices ul li{float:right}
li.ctr{width:50px!important}
.alt{background-color:#ececec;}
.alinks{overflow:hidden;margin:0!important;list-style:none!important}
.alinks li{float:left;width:50%;text-align:center;}
.android{margin:0}
.ar{line-height:25px}
.btH{text-align:center;margin-top:20px}
.bt{color:#FFF!important}
.bt:hover{text-decoration:none!important}
.ick{vertical-align:middle}
hr{display: block; height: 1px;border: 0; border-top: 1px solid powderblue;margin:20px 0}
/*.credits{width:338px;height:110px;margin-bottom:20px;display:inline-block;background:url('.$this->router()->cfg['url_css'].'/i/creditcards'.$this->router()->_jpg.') no-repeat center}  */