.prices{margin:0!important;list-style:disc inside!important;padding:0 40px;}
.prices ul{display:inline-block;line-height:1em;margin:0!important}
.prices ul li{float:left;width:100px;list-style:none}
p.pad{margin:0;padding:5px 10px}
.ar .prices ul li{float:right}
li.ctr{width:50px!important}
.alt{background-color:#ececec;}
.alinks{display:block !important;overflow:hidden;margin:0!important;list-style:none!important}
.alinks li{float:left;width:50%;text-align:center;}
.android{margin:0}
.ar{line-height:25px}
.btH{text-align:center;margin-top:20px}
.bt{color:#FFF!important}
.bt:hover{text-decoration:none!important}
.ick{vertical-align:middle}
hr{display: block; height: 1px;border: 0; border-top: 1px solid powderblue;margin:20px 0}

.pricelist{display: block !important; border-spacing: 5px;margin: 0 auto; padding: 24px 0 !important}
th, td {
  padding: 15px;width: 50%;
  border: 1px solid #3C4858;
  border-collapse: collapse;
}
.credits {text-align: center;margin-bottom: 40px;}
.credits .mc{width:160px;height:100px;background:url(/web/css/1.0/assets/mc.svg) no-repeat 50% 50%; background-size: contain;}
.credits .visa{width:160px;height:100px;background:url(/web/css/1.0/assets/visa.svg) no-repeat 50% 50%;background-size: contain;}
