.space {
    content: '\0020';
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.icr{
    width:60px;
    height:45px;
}

.card header.light {
  background-color: var(--mlc);
  box-shadow: 0 -8px #7abaff inset
}

header.plain {
    margin: 0 16px;
}

header.plain h4 {
  color: var(--mlc);
  width: 100%;
  text-align: center;
  font-size: large;
  padding: 8px 0
}

.card.format1 {
  padding: 0 50px
}

.card.format1 header {
  padding: 0
}

.card.format1 a {
  display: inherit;
  align-items: center;
  margin-inline-end: 10px;
  white-space: nowrap
}

.card.format1 a > div {
  margin-inline-start: 8px
}
.card.format1 .btn {
  background-color: white; /*var(--mdc12);*/
  border-radius: 20px;
  margin-top: 3px;
  color: var(--mdc70);
  box-shadow: none;
  border:1px solid var(--mdc12);
}
.card.format1 .btn:hover {
  box-shadow: 0 2px 8px -2px rgba(153,153,153,.42),0 1px 12px 0 rgba(0,0,0,.1),0 4px 5px -2px rgba(153,153,153,.2)
}
.card.format1 .card-content {
  display: flex;
  flex-flow: column
}
.card.format1 .col-3 {
  border-bottom: 1px solid #eee;
  margin-inline-end: 32px
}
.card.format1 .col-3 .icon {
    display: inherit;
    width: 60px;
    margin-inline-end: 8px;
    justify-content: center;
}
.card.format1 .col-3 .icon i {
  filter: var(--mroFilter);
  height: 40px;
  width: 40px!important;
  margin: 0
}
.card.format1 .col-3 .name {
    display: inherit;
    color: var(--mdc70);
    font-size:15px;
    font-weight:500;
    margin-top: 8px;
}

.card.format1 .col-9 {
  flex-flow: wrap
}
.card.format1 .col-12 {
  height: 56px;
  overflow: hidden
}

.hscard {
    width:100%;
    margin: 0;
    box-shadow: none;
    background-color: inherit
}

.hscard header {
    border-bottom: 0.5px solid var(--mbc);
    padding: 0;
    background-color: inherit;
    min-height: 36px;
    height: 38px
}

.hscard header h4 {
    color: var(--mdc70);
    margin: 1.33em 0 0;
}

.hscard header a {
  white-space: nowrap;
  font-size: 12pt;
  font-weight: 700
}

.hscard .col-12 {
  display: flex;
  max-width: 100vw;
  flex-flow: row;
  justify-content: space-between;
  overflow: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.hscard .col-12.wad {
    padding: 16px 0;
    align-items: flex-start;
}

.hscard .col-12.wse {
    height: auto;
}

.hscard .ad {
    border: .5px solid var(--mdc30);
    border-radius: 4px 4px 0 0;
}

.hscard .ad.p {
    border: 1px solid var(--premium);
}

.hscard .ad .image {
    height: 162px;
    max-height: 162px;
}

.hscard .ad .widget {
    height: auto;
    margin: 0;
}

.hscard .ad .content {
    padding: 8px 4px;
}

.hscard .ad .content p {
    font-size: 0.9em;
}

.hscard .ad .tail {
    margin: 0 4px;
    padding-bottom: 0;
}

.hscard .ad .tail li {
    border-top-color: var(--mdc30)
}

.hscard .ad.p .tail li {
    border-top-color: var(--premium)
}

.hscard .card-image {
  height: 208px;
  position: relative;
  overflow: hidden;
  margin: -10px 16px 0;
  border-radius: 6px 6px 0 0;
  z-index: 3;
  border: 1px solid #afafaf;
}

.hscard .card-footer {
  padding-top: 4px
}

.hscard .card-footer a {
  font-size: .9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block
}

.hscard .card-footer ul {
  width: 100%
}

.hscard .card-footer li {
  line-height: 1.5em;
  border: 0
}

.hscard .ad {
    margin-inline-start: 4px;
    margin-inline-end: 2px;
}

.hscard .ad .widget > a {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}

.hscard .ad + .ad {
    margin-inline-start: 8px;
}

.hscard .ad .icon {
    height: 60px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.search-box .roots {
  display: inherit;
  position: relative;
  flex-flow: column;
  width: 100%;
  margin-top: 12px;
  padding-bottom: 16px;
  border: 0;
  justify-content: space-between;
  max-width: 1024px;
}

.search-box .roots::before {
    content: "FIND EVERY THING";
    font-size: 35pt;
    font-weight: 700;
    line-height: 35pt;
    position: absolute;
    left: 120px;
    top: 106px;
    height: 144px;
    width: 142px;
    color:#FACD7B;
    
}


.search-box .roots::after {
    content: "YOU'RE LOOKING FOR";
    font-size: 35pt;
    font-weight: 300;
    line-height: 35pt;
    position: absolute;
    left: 120px;
    top: 244px;
    width: 180px;
    color:var(--mdc20);
}


.rbc1{}
.rbc2{border: .5px solid #3fb0ac}
.rbc3{border-color: #3fb0ac}
.rbc4{border-color: #3fb0ac}
.rbc99{border-color: #3fb0ac}

.search-box .roots .large {
  display: inherit;
  position: relative;
  width: 100px;
  height: 90px;
  border: 1px solid var(--mbc);  
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding-top: 14px
}
.search-box .roots .large:not([data-ro="99"]) {
    border-bottom: 0;
}

.search-box .roots .large[data-ro="1"] {
    border-top-right-radius: 3px;
}
.search-box .roots .large[data-ro="99"] {
    border-bottom-right-radius: 3px;
}

/*
.search-box .roots .large[data-ro="1"]::after {
    background: #eba184
}
.search-box .roots .large[data-ro="2"]::after {
    background: #d86e89
}
.search-box .roots .large[data-ro="3"]::after {
    background: #f9948c
}
.search-box .roots .large[data-ro="4"]::after {
    background: #f55f51
}
.search-box .roots .large[data-ro="99"]::after {
    background: #fe8e06
}
*/

.search-box .roots .large::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 1px;
    border-radius: 4px 4px 0 0;
    background: var(--mcc);
    z-index:1
}

.search-box .roots .large.open {
  border:.5px solid var(--mlc);
  background:var(--mlc);
}

.search-box .roots .large.open:after{
    content:"";
    position: absolute;
    top:12px;
    right:-4px;
    width:10px;
    height:10px;
    background:var(--mlc);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}

.search-box .roots .large.open i {
  filter: invert(1);
}
.search-box .roots .large.open span {
    color:#fff;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #fff
}

.search-box .roots .large span {
    color: var(--mdc90);
    font-size: 10pt;
    font-weight: 700;
    margin-bottom: 6px;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: var(--mlc);
    -webkit-text-fill-color: #3d6382
}
/*
.search-box .roots .large .bar {
  width: 50px;
  height: 2px;
  background-color: #007aff;
  border-radius: 1px
}
*/
.search-box .roots .large i {
  margin-bottom: 8px;
  filter: var(--mseFilter);
}

/* drop down sections */
.lrs {
    position: absolute;
    left:104px;
    top:24px;
    width: calc( 100% - 104px );
    padding: 4px 0!important;
    margin-inline-end: 10px;
    transition: opacity 0.25s linear;  
    transform: translate(0);
    opacity: 0;
    z-index: 5;
}

.lrs .card {
    position: relative;
    flex-flow: row;
    color: inherit;
    box-shadow: none;
    --prefix-animation: slide 1s ease 3.5s forwards;
    --webkit-transition-duration: 0, 200ms;
    margin-top: -16px
}


.lrs .card:before,.lrs .card:after{
    content:'';
    position:absolute;
    width:28px;
    height:1px;
    background-color:var(--mdc90);
    top:10px;
    /*box-shadow:0 0 2px 0 #ccc;*/
}

.lrs .card:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    right:8px;
}
.lrs .card:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:8px;
}

.lrs .card ul {
  flex-flow: column;
  flex-grow: 1;
  width: -moz-available;
  padding-block-start:49px;
  padding-inline-start:4px;
  padding-inline-end:12px;
  font-size: 14px;
  font-weight: 500
}


.lrs .card li {
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid var(--mdc30);
}

.lrs .card li a {
    color: inherit;
}
.lrs .card .col-8 a > img {
  width: 28px;
  margin-inline-end: 8px;
  max-height: 32px
}
.lrs .card .col-8 a > span {
  font-size: .9rem;
  margin-inline-start: 6px
}
.lrs .card .btn {
  background: var(--mdc);
  padding: 12px 0;
  margin-top: 24px;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 6px 0 0 var(--mlc);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 240px
}
.lrs .card .btn img {
  filter: invert(1);
  width: 64px;
  margin: 0 15px 0 0
}

.lrs .card .col-4 {
  display: none
}

.lrs .card .col-4 .m0 {
  display: inherit;
  height: 1.6em;
  justify-content: center;
  color: var(--mdc50);
  align-items: center;
  letter-spacing: 0;
  font-weight: 400;
  width: 100%
}
.lrs .card .col-4 .m1 {
  margin-top: 32px;
  letter-spacing: 2px
}
.lrs .card .col-4 .m2 {
  font-weight: 600
}


.lrs .card .col-4 ul {
  margin-top: 64px;
  width: 240px;
  align-self: center
}
.lrs .card .col-4 ul > li {
  margin: 0;
  display: inline-flex;
  width: 100%
}
.lrs .card .col-4 li > a {
  color: var(--mlc);
  font-weight: 700
}
.lrs .card .col-4 .mi {
  font-size: 2em;
  font-weight: 600;
  color: var(--mlc)
}
.lrs .card li:last-child {
  border-bottom: 1px solid #eee
}
.lrs img {
  filter: var(--mseFilter)
}


@media only screen and (min-width:769px) {
    .icr {
        width: 90px;
        height: 68px;
    }

    .search-box .roots {
        flex-flow: row;
        margin-top:0;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
    }
    
    .search-box .roots::before, .roots::after {
        display: none;
    }

    .search-box .roots .large {
        width: 190px;
        height: 168px;
        padding-top: 28px;
        border-radius: 3px;
    }

    .search-box .roots .large:not([data-ro="99"]) {
        border-bottom: 1px solid var(--mbc);
    }

    .search-box .roots .large:hover {
        box-shadow: 0 0 0 2px #009bd6 inset;
        cursor: pointer;
        background-color: var(--mlc);
        color: #fff
    }
        
    .search-box .roots .large:hover i {
        filter: invert(1)
    }
    
    .search-box .roots .large:hover span {
        color: #fff;
        -webkit-text-stroke-color: #fff;
        -webkit-text-fill-color: #fff
    }
    
    .search-box .roots .large span {
        color: #3d6382;
        font-size: 18px;
        margin-bottom: 24px;
    }
    
    .search-box .roots .large::after {
        bottom: 1-px;
        height: 2px;
        width: 68px;
    }
    .search-box .roots .large:not(.open):hover::after {
        width: 0;
    }
    .search-box .roots .large.open:after{
        top:auto;
        bottom: -5px;
        /*right:12px;*/
        right: auto;
    }
    .search-box .roots .large.open:hover {
        box-shadow: none;
        
    }
    
    
    .hscard .ad {
        margin-inline-start: 1px;
    }
    
    
    .hscard .col-12.wad {
        overflow: auto;
        flex-flow: row nowrap;
        height: auto;
        padding-top: 20px;
    }
    
    /*
    .hscard .col-12.wse {
        height: 310px;
    }

    .hscard .col-12.wse .ad .widget {
        height: 268px;
    }
   */
   
    .hscard .card-image {
        border-radius: 6px;
        box-shadow: 0 10px 30px -12px rgba(0,0,0,.26),0 4px 25px 0 rgba(0,0,0,.08),0 8px 10px -5px rgba(0,0,0,.12)
    }
    
    .lrs {
        top:0;
        left:0;
        position: relative;
        max-width: 1024px;
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 8px 0!important;
        margin-inline-end: 0;
    }

    .lrs .card {
        box-shadow: inherit;
    }
    
    .lrs .card .col-8 {
        border-right: 2px solid #eee
    }


    .lrs .card .col-4 {
        display: inherit;
        align-items: flex-end
    }
    
    .lrs .card ul {
        flex-flow: row wrap;
        flex-grow: 0;
        font-size: 16px;
        padding: 20px;
        font-weight: 300
    }

    .lrs .card li {
        width: 40%;
        margin: 0 42px 0 0;
        border-bottom: 1px solid var(--mdc10);
    }

    header.plain {
        margin: 0;
        text-align: start
    }

    header.plain h4 {
        text-align: start;
        font-size: x-large;
        padding: 16px 0
    }
    
    .hscard header {
       
        min-height: 70px;
        height: 72px
    }


}