@charset "UTF-8";
@font-face{font-family:system;font-style:normal;font-weight:300;
           src:local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),
               local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),
               local("Roboto-Light"),local("DroidSans"),local("Tahoma");}
:root{
    --mourjanC:rgba(10,122,255,1);--midnight:rgba(44,62,80,1);--premium:#f2d352;
    --color-1:#fd8a6f;--color-2:#ff5f67;--color-3:#2ad392;
    --color-4:#00c1c1;--color-99:#5a9dff;
    --linkC:#007bff;
    --mcLightColor:rgba(0,122,255,1); --mcDarkColor:rgba(28,65,94,1); --mcOnColor:rgba(0,58,93,1);
    --mColor00:rgba(135,135,135,1);
    --mColor01:rgba(179,179,179,1);
    --mColor02:rgba(242,242,242,1);
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
html *{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-ms-touch-action: manipulation;touch-action: manipulation}
*, *:after, *:before {box-sizing: border-box;}

html{height:100%}
body{font-family:-apple-system,"system";font-style:normal;font-size:1em;color:var(--midnight);margin:0;background-color:#fff;line-height: 1}
a{color:#007bff;text-decoration:none; align-self:center}
img{border:0;}
.float-left{margin-right:auto;float:left}
.float-right{margin-left:auto;float:right}
body[dir="rtl"] .float-left{margin-left: auto;margin-right:0;float: right}
body[dir="rtl"] .float-right{margin-right: auto;margin-left:0;float: left}
h1, .h1 {font-size:3.5em;line-height:1.15em;}
h2, .h2 {font-size:2.4em;line-height: 1.25em;}
h3, .h3 {font-size:1.825em;line-height:1.4em;margin:20px 0 10px;}
h4, .h4 {font-size:1.3em;line-height:1.4em;}
h5, .h5 {line-height:1.4em;margin-bottom:15px;}
h6, .h6 {font-size:1em;text-transform:uppercase;font-weight:500;}
label {display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
small{line-height: 100%}
main{width: 100%}
.top-header{height: 30px;flex-direction: column}
.top-header ul{position:relative; padding:0; margin:0; flex-direction:row; flex-wrap:nowrap; justify-content:space-between; margin-left:-1px; align-self:flex-end}
.top-header li{display:inline; line-height:30px; flex-grow:1;flex-basis:auto;padding: 0 0.33em;text-align: center;}
.top-header a{display:inline-flex; align-items: center;color: #606060; font-size: 1.05em}
.top-header i{margin-inline-start: 4px !important; }
.top-header i.icolor{filter: invert(22%) sepia(10%) saturate(3293%) hue-rotate(165deg) brightness(92%) contrast(91%);}
.viewable{display:inline-flex;width:100%;}

li,dd,dt{line-height:48px;}

.wrapper{display:flex;flex-flow:row wrap;}
.wrapper>*{flex:1 100%;flex-flow: column;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{display:inherit;width:100%;padding:4px 0;float:left}
body[dir="rtl"] [class*="col-"] { float: right; }
.hot{color:red !important;}
.row{display:flex; margin-right:0;margin-left:0;}
.row::before{display:table-column;content: " ";}
.row::after{content:"";clear:both;display:table;}

.full-height{height: 100%}
.half-height{height: 50%}
.ff-cols{flex-flow:column}
.ff-rows{flex-flow:row}
.va-center{align-items: center}
.ha-center{justify-content: center}

header{display:flex;background-color:var(--mcLightColor);color:#fff;padding:0;text-align:center;min-height:90px;}
header>h1{-webkit-margin-before:0.1em;-webkit-margin-after:0.1em;font-size:1.8em;}
header>a{display: flex}
.navbar{display: inherit; flex:1 auto;}

.search-box{display:inherit;background-color: var(--mColor02);margin-top: 24px; padding: 18px 0;}

footer{padding-top:44px;direction:ltr;text-align:center; order:999;background-color: var(--mColor02);}
ul{list-style-type:none;list-style-position:inside;}
li>i{margin:0 4px;max-width:32px;}

.invert{background-color: transparent!important;filter: invert(100%)}
.icn{position:relative;display:inline-block;width:32px;height:32px;margin:0 3px;}
.icn:before,.ilogo:before{content:"\00a0";}

.icn.s{width:20px;height:21px!important;margin:0;background-size:contain !important;mask-size:contain !important}

.icnsmall{width:20px;height:21px!important;margin:0;background-size:contain !important;}
.icn.i16{width:16px;height:16px!important;margin:0;background-size:contain !important;}
.icn.i20{width:20px;height:20px!important;margin:0;background-size:contain !important;}
.icn.m{width:24px;height:24px!important;margin:0;background-size:contain !important;mask-size:contain !important}
.icnmed{width:24px;height:24px!important;margin:0;background-size:contain !important;mask-size:contain !important}

.icntop{width:44px;top:65px;right:12px;position:absolute}
.trq {background-color: transparent!important;filter: hue-rotate(174deg) saturate(72%) brightness(56%);}

.icn-1{background:url(/web/css/1.0/fa/solid/landmark.svg) no-repeat center}
.icn-2{background:url(/web/css/1.0/fa/solid/car.svg) no-repeat center}
.icn-3{background:url(/web/css/1.0/fa/solid/business-time.svg) no-repeat center}
.icn-4{background:url(/web/css/1.0/fa/solid/handshake.svg) no-repeat center}
.icn-99{background:url(/web/css/1.0/fa/solid/drum.svg) no-repeat center}

.fill-1{filter: invert(83%) sepia(26%) saturate(5673%) hue-rotate(312deg) brightness(100%) contrast(99%);}
.fill-2{filter: invert(54%) sepia(23%) saturate(5543%) hue-rotate(320deg) brightness(99%) contrast(102%);}
.fill-3{filter: invert(76%) sepia(75%) saturate(447%) hue-rotate(91deg) brightness(85%) contrast(94%);}
.fill-4{filter: invert(50%) sepia(27%) saturate(3597%) hue-rotate(145deg) brightness(101%) contrast(107%);}
.fill-99{filter: invert(70%) sepia(39%) saturate(6621%) hue-rotate(194deg) brightness(102%) contrast(101%);}

.icn-81{
       background:transparent url(/web/css/1.0/fa/solid/badge-check.svg) no-repeat center;filter:invert(38%) sepia(75%) saturate(614%) hue-rotate(73deg) brightness(93%) contrast(86%)}


.icn-82{background:transparent url("/web/css/1.0/fa/solid/keyboard.svg") no-repeat center;filter:invert(75%) sepia(88%) saturate(342%) hue-rotate(111deg) brightness(91%) contrast(91%)}
.icn-83{background:transparent url(/web/css/1.0/fa/solid/info.svg) no-repeat center;max-height:32px;filter:invert(78%) sepia(49%) saturate(362%) hue-rotate(105deg) brightness(86%) contrast(90%)}
.icn-84{background-color:gold;
       mask:url(/web/css/1.0/fa/solid/coins.svg) no-repeat 50% 50% / cover;
       -webkit-mask:url(/web/css/1.0/fa/solid/coins.svg) no-repeat 50% 50% / cover;}
.icn-85{background:transparent url(/web/css/1.0/fa/solid/signature.svg) no-repeat 50% 50%;filter:invert(36%) sepia(75%) saturate(3020%) hue-rotate(216deg) brightness(92%) contrast(90%)}
.icn-88{background:transparent url(/web/css/1.0/fa/solid/paper-plane.svg) no-repeat center;filter:invert(70%) sepia(36%) saturate(5143%) hue-rotate(294deg) brightness(100%) contrast(103%)}

.icn-bars{background-color:white;-webkit-mask:url(/web/css/1.0/fa/regular/bars.svg) no-repeat 50% 50%;}
.icn-search{background:url(/web/css/1.0/fa/duotone/search.svg) no-repeat center}
.icn-bars{background:url(/web/css/1.0/fa/duotone/bars.svg) no-repeat center}
.icn-bell{background:url(/web/css/1.0/fa/solid/bell.svg) no-repeat center;}
.icn-user{background:url(/web/css/1.0/fa/duotone/user.svg) no-repeat center}
.icn-language{background:url(/web/css/1.0/fa/duotone/globe.svg) no-repeat center}
.icn-apple{background:url(/web/css/1.0/fa/brands/apple.svg) no-repeat center}
.icn-play-store{background:url(/web/css/1.0/assets/google-play.svg) no-repeat center}
.icn-lang{background:url(/web/css/1.0/fa/regular/arabic.svg) no-repeat center}
.icn-globe{background-color:skyblue;background:url(/web/css/1.0/fa/regular/globe.svg) no-repeat center}
.icn-region{background:url(/web/css/1.0/fa/regular/location.svg) no-repeat center}
.icn-emblem{filter:invert(0) !important;background:url(/web/css/1.0/assets/LogoV5.svg) no-repeat 4px}
.icn-map-marker{background-color:mediumseagreen;-webkit-mask:url(/web/css/1.0/fa/regular/map-marker-alt.svg) no-repeat 50% 50%;}
.icn-rss{background-color:orange !important;-webkit-mask:url(/web/css/1.0/fa/regular/rss.svg) no-repeat 50% 50%;}
.icn-camera{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/solid/camera.svg) no-repeat 50% 50%;}
.icn-angle-left{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/regular/angle-left.svg) no-repeat 50% 50%;}
.icn-angle-right{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/regular/angle-right.svg) no-repeat 50% 50%;}
.icn-angle-down{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/regular/angle-down.svg) no-repeat 50% 50%;}
.icn-chevron-left{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/regular/chevron-left.svg) no-repeat 50% 50%;}
.icn-chevron-right{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/regular/chevron-right.svg) no-repeat 50% 50%;}
.icn-whatsapp{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/brands/whatsapp.svg) no-repeat 50% 50%;}
.icn-phone{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/solid/phone.svg) no-repeat 50% 50%;}
.icn-email{background-color:white !important;-webkit-mask:url(/web/css/1.0/fa/solid/envelope.svg) no-repeat 50% 50%;}
.icn-coin{background:url(/web/css/1.0/assets/coin.svg) no-repeat 50% 50%;background-size: contain}
.icn-ban{background:url(/web/css/1.0/fa/solid/ban.svg) no-repeat 50% 50% / contain;filter: invert(37%) sepia(96%) saturate(7088%) hue-rotate(354deg) brightness(95%) contrast(124%);}
.icn-alert{background:url(/web/css/1.0/fa/regular/exclamation-triangle.svg) no-repeat 50% 50% / contain;filter: invert(73%) sepia(84%) saturate(899%) hue-rotate(358deg) brightness(106%) contrast(105%);}
.icn-thumbs-up{background:url(/web/css/1.0/fa/regular/thumbs-up.svg) no-repeat 50% 50% / contain;filter: invert(51%) sepia(86%) saturate(420%) hue-rotate(82deg) brightness(86%) contrast(87%);}


body[dir="rtl"] .icn-lang{background-color:white;background:url(/web/css/1.0/fa/regular/latin.svg) no-repeat 50% 50%;}
body[dir="rtl"] .icntop{right: auto;left:12px;}

.icn-ae{background:url(/web/css/flags/ae.svg) center no-repeat;}
.icn-sa{background:url(/web/css/flags/sa.svg) center no-repeat;}
.icn-kw{background:url(/web/css/flags/kw.svg) center no-repeat;}
.icn-bh{background:url(/web/css/flags/bh.svg) center no-repeat; height: 20px;}
.icn-om{background:url(/web/css/flags/om.svg) center no-repeat;}
.icn-qa{background:url(/web/css/flags/qa.svg) center no-repeat;}
.icn-iq{background:url(/web/css/flags/iq.svg) center no-repeat;}
.icn-ye{background:url(/web/css/flags/ye.svg) center no-repeat;}
.icn-lb{background:url(/web/css/flags/lb.svg) center no-repeat;}
.icn-jo{background:url(/web/css/flags/jo.svg) center no-repeat;}
.icn-sy{background:url(/web/css/flags/sy.svg) center no-repeat;}
.icn-eg{background:url(/web/css/flags/eg.svg) center no-repeat;}
.icn-ma{background:url(/web/css/flags/ma.svg) center no-repeat;}
.icn-tn{background:url(/web/css/flags/tn.svg) center no-repeat;}
.icn-dz{background:url(/web/css/flags/dz.svg) center no-repeat;}
.icn-sd{background:url(/web/css/flags/sd.svg) center no-repeat;}
.icn-ly{background:url(/web/css/flags/ly.svg) center no-repeat;}

.card dt > a > .icn{box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14), 0 7px 10px -5px rgba(255,152,0,0.4);max-height: 15px}
.premium{background-color:var(--premium) !important;color:var(--midnight) !important}
.active{background-color:#4CAF50;color:white;}

.nav{padding-left:0;margin-bottom:0;list-style:none;display:inherit;justify-content:flex-end !important;}
.nav>li{position:relative;display:block;float:left;padding:0 12px;}
.nav>li .icnsmall{padding:0 18px;margin-top:-20px;}
.nav .navright{position:relative;width:calc(100% - 100px);}
.navbar .form-group, .navbar{border-color:inherit;color:inherit;padding:0;margin:0;height:40px;font-size:14px;line-height:1.428571429;}
.navbar.navbar-transparent{background-color:transparent;box-shadow:none;border-bottom:0;}
.navbar-absolute{position:absolute;width:100%;padding-top:10px;z-index:1029;}

.navbar:before{display:table;content:" ";}
.navbar{border-top:none;box-shadow:none;margin:0;}
.navbar>li{float:left;}
.navbar .navbar-nav>li>a{color:inherit;padding-top:15px;padding-bottom:15px;font-weight:500;font-size:12px;text-transform:uppercase;border-radius:3px;}

.ilogo{margin:9px 18px;height:72px;width:72px;display:inline-block;background-image: url("/web/css/1.0/assets/LogoV5.svg"); background-position: center; background-repeat: no-repeat; background-size: cover;/*filter:drop-shadow(8px 8px 5px rgba(0,0,0,0.9))*/}
.card{display:inline-block;width:100%;margin:25px 0;box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.14);border-radius:6px;color:rgba(0,0,0, 0.87);background:#fff;}
.card-header{display:inline-block;position:absolute;height:62px;margin:-20px 14px 0 14px;padding:12px;box-shadow:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);border-radius:inherit;}
.card .card-header{z-index:3;}

.card .card-footer {margin:0 20px 10px;padding-top:10px;border-top:1px solid #eeeeee;position:relative;display:inherit}
.card-footer a {color: #007bff !important}
.card-footer a > span{font-size:inherit !important;font-weight:normal !important;}
.card-stats .card-content {text-align:right;padding-top:10px;}
.card .card-content {display:inline-block;width: 100%;padding: 15px 20px;position: relative;}

.card .card-header.card-header-icon, .card-content .card-title{padding-bottom: 24px;}
.card .card-title{margin:0 68px;font-weight:300;}
.card-header [class*="icn-"]{background-color:transparent;filter: invert(100%) drop-shadow(4px 4px 2px rgba(0,0,0,0.2));}

.card ul{display:flex;padding:0;margin-top:0px;margin-bottom:0px;flex-flow: column;}

.card li{display:inherit; flex: 1 auto;border-bottom:1px solid #eeeeee;}
.card li:last-child{border:0}
.card li:hover,dd:hover,dt:hover{background-color:rgba(200, 200, 200, 0.2);color:var(--mourjanC);}
.card li>a,dd>a{display:inherit;color:var(--mcOnColor);flex:1 auto;align-items:center}
.card dt>a{display:inherit;flex:1 auto;align-items:center;color:var(--mcOnColor)}
.card a>span { font-size: small; font-weight: bolder; }

.card.test li{border-bottom:0px;display:flex;justify-content:space-between;align-items:center;cursor:pointer}
.card .icn{flex:0 0 auto;}
.card.test span{flex:1;padding:0 8px;border-bottom:1px solid #eeeeee;}
.card.test li:last-child span{border:0}
.card.test a>span{font-size: 1em;font-weight: normal}

.card dl{columns:1;margin-top:0;display:inherit;flex-flow:column;width: 100%}
.card dt{display:flex;align-items:center;cursor:pointer;-webkit-column-break-before:always;page-break-before:always;break-inside:avoid;}
.card dd{cursor:pointer;-webkit-margin-start:28px;margin-inline-start:28px;}
.card dt>span,dt>a>span{flex:1;padding:0 8px;}

.card [class*="col-"]{display:flex;padding-top:0;padding-left:0;}
.card-product{margin-top:30px;}
.card-product > ins{box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);}
.adslot .card{box-shadow:none;background: transparent;}
.card .card-image img{width:100%;height:100%;object-fit: cover;object-position: center;border-radius:6px;pointer-events:none;}/*min-height:80%;position:absolute;left:50%;top:50%;-webkit-transform:translateY(-50%) translateX(-50%);}*/

.card-menu .card-header{height:3.5rem;padding:0;background-color:#1c415e;color:white;
    box-shadow:0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);}
.card-menu .card-title{margin: 0 20px}
.card-menu .card-content {margin-top:44px;}
.card-menu .card-content ul {flex-flow:row wrap;}
.card-menu .card-content li {border:0;flex:1 0 auto;margin:4px;}

.ripple-container{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;overflow:hidden;border-radius:inherit;pointer-events:none;}
.ar{direction:rtl;text-align:right}
.en{direction:ltr;text-align:left}
.ad{display:inherit;min-width:300px;max-width:360px;margin:auto;}
.ad.full{width:100%;max-width:768px;}
/*.ad.full .card-image {max-width:768px;margin:-30px auto 0 !important}*/
.ad .abuse{background-color:transparent;width:32px;height:32px;position:absolute;left:0;top:6px;display:none;cursor:pointer}
.ad:hover .abuse {display: block}

/*.ad:hover{-moz-box-shadow:0 3px 3px #333;-o-box-shadow:0 3px 3px #333;-webkit-box-shadow:0 3px 3px #333;box-shadow: 0 3px 3px #333}*/
.adslot{text-align: center; /*min-width:0px; max-width:360px; width: 100%;*/ width: auto; height: auto; min-width: 300px; max-height: 750px !important;padding-bottom: 24px;}
.adsbygoogle{display:block;height:320px;min-width:250px;max-width:360px;width:100%; margin:auto;max-height: 750px !important;}

#results{flex-flow:column;width:100%}
.ls,.home{display:flex;justify-content:space-around;flex-flow:row wrap;align-content:flex-start}
.ls li{line-height:1.5em;overflow:hidden}
.ls .card{height:320px}
.ls .card .card-image{height:60%;position:relative;overflow:hidden;
    margin-left:15px;margin-right:15px;margin-top:-30px;border-radius:6px;z-index:3;
    box-shadow:0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}

.ls .card .mark {font-size: 0.75em;margin-top: -8px;}
.ls .card .card-footer {padding-top: 4px;}
.ls .card .card-footer a {font-size: 0.9em;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: block;}
.ls .card .card-footer ul {width: 100%}
.ls .card .card-footer li {line-height: 1.5em; border:0}

.adc::first-line{font-weight:bold;}
.block-with-text{overflow:hidden;position:relative;line-height:1.5em;height:4.5em;}
.seclogo{background-color: var(--midnight); display: flex; align-items: center; justify-content: center;}
.seclogo img{float:none; width:auto !important; height:auto !important;}
.card .cbox{display:flex;color:white;position:absolute;font-size:0.8em;align-items:center;font-weight:bold;}
.card .cbox.ctl {top:0px;left:0px;}
.card .cbox.ctl.new {background-color: red; color: white; opacity: 0.8;padding: 2px 5px;font-size: 0.7em;border-bottom-right-radius: 5px;}
.card .cbox.ctr {top:8px;right:8px;font-weight:bold;}
.card .cbox.cbr {bottom:5px;right:8px}
.card .cbox.cbl {bottom:5px;left:8px}
.card .cbox.footer{height:2em;width:100%;position:absolute;bottom:0;display:block;background-color:#333;opacity:0.6;}

.search{display:inline-flex;width:100%;border:2px solid lightgray;border-radius:5px;}
.search form{width:100%;display:inherit;justify-content:space-between;align-self:flex-start;flex-direction:row}
.searchTerm{width:100%;border:none;padding:5px;height:36px !important;outline:none;color:var(--midnight);font-size:1.0em;-webkit-appearance:none;}
.searchTerm:focus{color:var(--mourjanC);}
.searchButton{width:40px;height:36px;border:1px solid lightgray;border-radius:5px;background:var(--mourjanC);cursor:pointer;padding-top:0;}
.search select{position: absolute;display:block; top:0px;left:0px;cursor: pointer;outline: 0;padding: 0;margin: 0;width: auto;height: 35px;opacity: 0}
.search span{white-space: nowrap}
.search .icn-angle-down{background-color: var(--mcLightColor) !important;}
.search .facade{display:inline-flex;align-items: center;padding:1px 1px 1px 5px;height:100%; background-color: #f3f3f3}
.search .facade:hover{background-color:#dadada;cursor: pointer};
.mibtn{border:none;display:none}

.select-wrapper{position:relative;user-select:none;width:auto;}
.select-box{position:relative;display:flex;flex-direction:column;/*border-width:0 2px 0 2px;border-style:solid;border-color:#394a6d;*/}
.select__trigger{position:relative;display:flex;align-items:center;justify-content:space-between;padding:0 8px;font-size:1em;
     font-weight:300;color:#3b3b3b;height:36px;line-height:36px;background:#ffffff;cursor:pointer;/*border-width:2px 0 2px 0;
     border-style:solid;border-color:#394a6d;*/}
.options{position:absolute;display:block;top:100%;left:0;right:0;border:1px solid #394a6d;border-top:0;background:#fff;
     transition:all 0.5s;opacity:0;visibility:hidden;pointer-events:none;z-index:10;width: fit-content}
.select-box.open .options {opacity: 1;visibility: visible;pointer-events: all;}
.option {position: relative;display: block;padding: 0 16px 0;font-size:1.1em;font-weight:300;color: #3b3b3b;line-height: 2rem;
     cursor: pointer;transition: all 0.5s;
}
.option:hover {cursor: pointer;background-color: #b2b2b2;}
.option.selected {color: #ffffff;background-color: #305c91;}


.arrow {position: relative;height: 15px;width: 15px;margin-inline-start:20px;}
.arrow::before, .arrow::after {content: "";position: absolute;bottom: 0px;width: 0.15rem;height: 100%;transition: all 0.5s;}
.arrow::before {left: -5px;transform: rotate(45deg);background-color: #394a6d;}
.arrow::after {left: 5px;transform: rotate(-45deg);background-color: #394a6d;}
.open .arrow::before {left: -5px;transform: rotate(-45deg);}
.open .arrow::after {left: 5px;transform: rotate(45deg);}



/* Colors */
.mcolor{background:var(--mourjanC)}

.btn{background-color:#999999;display:inline-block;padding:6px 12px;margin-bottom:0;
     font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;
     vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;
     -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;
     border:1px solid transparent;border-radius:4px;
     box-shadow:0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);}
.btn, .navbar .navbar-nav > li > a.btn {
    border:none;border-radius:3px;position:relative;padding:12px 30px;margin:10px 1px;
    font-size:12px;font-weight:400;text-transform:uppercase;letter-spacing:0;will-change:box-shadow, transform;
    transition:box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);}
.btn:focus, .btn:active, .btn:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover, .navbar .navbar-nav > li > a.btn:focus, .navbar .navbar-nav > li > a.btn:active, .navbar .navbar-nav > li > a.btn:hover, .navbar .navbar-nav > li > a.btn.btn-default:focus, .navbar .navbar-nav > li > a.btn.btn-default:active, .navbar .navbar-nav > li > a.btn.btn-default:hover {
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}
.btn.sim{padding:0;background-color:var(--mcLightColor);color:white;box-shadow:0 2px 2px 0 rgba(0,123,255, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(0,123,255, 0.12);}
.btn.sim a{padding:12px 30px;color: whitesmoke;font-weight:600;}
.btn.sim:hover{background-color:orange;color:white;box-shadow:0 14px 26px -12px rgba(255,165,0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255,165,0, 0.2);}

.contact .btn{background-color:#5bc236;color:white;display:block;direction:ltr;text-transform:none;font-size:1rem;}
.contact .icn{position:absolute;left:4px;top:8px;}

.list{float:right;position:relative;z-index:100;margin:0 0 0 5px;width:300px;}
.list ul{columns:1}


.account {display: flex; flex: 1 auto;justify-content: space-around;flex-flow: row wrap;}
.account .btn {min-width: 150px;color:white; background-color: #007bff;text-transform: none}
.account .btn.current {font-weight: bold; opacity: 0.75}
.modal{
    display:none;
    position:fixed;
    z-index:999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.55);
    align-items:center;
    justify-content:center;
    overflow: auto;
    overflow-x: hidden;
    /*transform: translate(50%, 50%);*/
}

.modal .card{
    display:block;min-height:60%;position:relative;float:none !important;margin:48px auto 32px;
    overflow: visible;
    /*transform: translate(50%, 0%);*/
}

.modal .card .card-image {
    max-width: 620px;
    min-height: 224px;
    max-height: 360px;
    position: relative;
    overflow: hidden;
    overflow-y: visible;
    margin: -32px auto 0;
    border-radius: 6px;
    z-index: 1003;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-media{min-height:100px;position:relative;margin:0 auto;border-radius:0;text-align:center;z-index:1003;}
.modal .block-with-text{height:auto;min-height:2em;}
.close{color:whitesmoke;float:right;font-size:2.25em;font-weight:bold;position:absolute;right:-30px;top:-36px;z-index:1020;}
.close:hover,.close:focus {color:yellow;text-decoration:none;cursor:pointer;}


#report{display:none;height: auto;padding-bottom: 12px;text-align: center}

.side {
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    margin:8px 8px 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding:0 !important;
    z-index: 10}
.side>div{padding: 0 8px !important;}
.side .title {
    display: inherit;
    align-items: center;
    height: 3em;
    background-color:var(--mcDarkColor);
    color: white;
    padding: 0;
    border-radius:0;    
    padding:0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
}
.side .title h5 {font-size:0.9rem !important;padding:0;margin-top:1.25rem;}
.side ul{padding: 0; padding-inline-start:0; margin: 4px 0 8px;}
.side li{line-height: 40px;padding: 0 8px;display: block;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.side div:first-child{border-top-left-radius:6px;border-top-right-radius: 6px !important;}
.side a{width: 100%;display: block}
.side a:hover{background-color: rgba(200, 200, 200, 0.2);color:var(--mourjanC);}
.side [class*="icn-"] {width:24px;height:auto;margin-inline-end: 8px}
.side .c{font-size: 0.8em}

.select{position:relative;width:100%;margin-top:20px}
.select-text{position:relative;width:100%;font-family:inherit;background-color:transparent;padding:10px 10px 10px 0;font-size:1rem;border-radius:0;border:none;border-bottom:1px solid rgba(0,0,0, 0.12);}
.select-text:focus{outline:none;border-bottom: 1px solid rgba(0,0,0, 0);}
.select .select-text{appearance: none;-webkit-appearance:none}
.select:after{position: absolute;top:18px;right:10px;width:0;height:0;padding:0;content:'';border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid rgba(0, 0, 0, 0.12);pointer-events:none;}
.select-label{color:rgba(0,0,0, 0.26);font-size: 18px;font-weight:normal;position:absolute;pointer-events:none;left:0;top:10px;transition:0.2s ease all;}
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {color: var(--midnight);top:-12px;transition: 0.2s ease all;font-size:0.85em;margin:0 8px;}
.select-bar{position:relative;display:block;width:100%;}
.select-bar:before, .select-bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#2F80ED;transition: 0.2s ease all;}
.select-bar:before{left:50%;}
.select-bar:after{right:50%;}
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after{width:50%;}
.select-highlight{position:absolute;height:60%;width:100px;top:25%;left:0;pointer-events:none;opacity:0.5;}

.oops.card{
    width:auto;
    margin:0 auto;
}
.oops li{
    padding:5px 15px;
    display:block
}
.oops .title{
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    line-height: 36px;
    display: flex;
    align-items: center;
}
.oops .title b{
    margin:0 5px;
}
.oops .title.warn{
    background-color:mediumorchid!important;
    color:white!important;
}
.oops .hint{
    background-color:beige!important;
}
.oops .icn{
    width:72px;
    height: 72px;
    max-width:none;
    margin-right: 10px;
}
.rtl .oops .icn{
    margin:0 0 0 10px;
}

body[dir="ltr"] .ad .abuse{right:0;left:auto;}
body[dir="rtl"] .modal .card{transform: translate(-50%, 0%);}

.xl-border{border-left:1px #CCC solid;}
.xr-border{border-right:1px #CCC solid;}

@media screen and (max-width: 768px) {
    .ad{float: left; margin: 0;min-width: 320px;}
        
    .ls{columns:1;-webkit-columns:1;-moz-columns:1;}
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon { display: block; }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav input[type=text] {
        float: none;
        display: none;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
    
    .nav>li{padding:0 8px;}
    
    .side{        
        width:0;
        overflow-x:hidden; 
        margin:0;
        opacity: 0;
        transition: all .5s ease .15s;
        -webkit-transition: opacity 1s, min-width 0.5s;
    }
    
    .mibtn{display:inline}
    .card-doc .card-title{margin: 0 16px;}
    .modal .card{margin:0;transform:translate(0%, 0%);}
}



@media only screen and (min-width: 769px) {
    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:25%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}
    [class*="col-"] {
        display: inline-flex;
        padding: 8px;
    }
    header {
        min-height: 115px;
    }
    main{display:inherit;margin: 8px 52px}
    .ilogo{
        width: 230px;
        height: 50px;       
    }
    .viewable{padding:0;max-width:1280px;align-self:center}

    .nav .navright {
        width: calc(100% - 210px);
    }
    body[dir="ltr"] .ilogo{background-image: url("/web/css/1.0/assets/LogoV5e.svg");}
    body[dir="rtl"] .ilogo{background-image: url("/web/css/1.0/assets/LogoV5a.svg"); margin-right:  60px;}
   
}


.adv{}

@media only screen and (min-width:1920px) {
    body { margin: 0px auto; width: 1920px; display: block;}
    .adv {height: 600px;}
    .viewable{max-width:1440px !important;}
}

.mps{display:inline-block;padding:0;text-align:center;width:200px;margin-bottom:5px;}
.mios, .mandroid{background:url(/web/css/1.0/assets/appsm.jpg) no-repeat center;height:60px;width:200px;display:inline-block;}
.mios{background-position: 0px -3px;}
.mandroid{background-position: 0px -66px;}



.flex{display: flex !important;}
.grid{display: grid}
.block{display: block}
.none{display: none}
