@charset "UTF-8";
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("Roboto"),local("DroidSans"),local("Tahoma")
}

:root {
  --mourjanC: rgba(10,122,255,1);
  --midnight: rgba(44,62,80,1);
  
  --color-1: #fd8a6f;
  --color-2: #ff5f67;
  --color-3: #2ad392;
  --color-4: #00c1c1;
  --color-99: #5a9dff;
  --linkC: #007AFF;
  --mcOnColor: rgba(0,58,93,1);
  --mColor00: rgba(135,135,135,1);
  --mColor01: rgba(179,179,179,1);
  --mlColor50: rgba(1,122,255,0.5);
}

a {
  color: #007bff;
  text-decoration: none;
  align-self: center
}

.float-left {
  margin-right: auto;
  float: left
}
.float-right {
  margin-left: auto;
  float: right
}
body[dir=rtl] .float-left {
  margin-left: auto;
  margin-right: 0;
  float: right
}
body[dir=rtl] .float-right {
  margin-right: auto;
  margin-left: 0;
  float: left
}
.h1,
h1 {
  font-size: 3.5em;
  line-height: 1.15em
}
.h2,
h2 {
  font-size: 2.4em;
  line-height: 1.25em
}
.h3,
h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px
}
.h4,
h4 {
  font-size: 1.3em;
  line-height: 1.4em
}
.h5,
h5 {
  line-height: 1.4em;
  margin-bottom: 15px
}
.h6,
h6 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700
}
small {
  line-height: 100%
}


i.iborder {
  border: 1px solid #f9f9f9
}



.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  display: inherit;
  width: 100%;
  padding: 4px 0;
  float: left
}
body[dir=rtl] [class*=col-] {
  float: right
}
.hot {
  color: #f33!important
}

.full-height {
  height: 100%
}
.half-height {
  height: 50%
}

header > a {
  display: flex
}
header .slogan {
  margin: 80px 0 0 -176px;
  font-size: 9px
}
header div {
  display: inherit
}
header .btn {
  background-color: #ff6167;
  border-radius: 10px;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px
}

article footer {
  padding: 0;
  box-shadow: none
}
ul {
  list-style-type: none;
  list-style-position: inside
}
li > i {
  margin: 0 4px;
  max-width: 32px
}
/*
.invert {
  background-color: transparent!important;
  filter: invert(100%)
}*/
.icn.s {
  width: 20px;
  height: 21px!important;
  margin: 0;
  background-size: contain!important;
  mask-size: contain!important
}
.icnsmall {
  width: 20px;
  height: 21px!important;
  margin: 0;
  background-size: contain!important
}
.icn.m {
  width: 24px;
  height: 24px!important;
  margin: 0;
  background-size: contain!important;
  mask-size: contain!important
}
.icnmed {
  width: 24px;
  height: 24px!important;
  margin: 0;
  background-size: contain!important;
  mask-size: contain!important
}
.icntop {
  width: 44px;
  top: 65px;
  right: 12px;
  position: absolute
}
.trq {
  background-color: transparent!important;
  filter: hue-rotate(174deg) saturate(72%) brightness(56%)
}
.fill-1 {
  filter: invert(83%) sepia(26%) saturate(5673%) hue-rotate(312deg) brightness(100%) contrast(99%)
}
.fill-2 {
  filter: invert(54%) sepia(23%) saturate(5543%) hue-rotate(320deg) brightness(99%) contrast(102%)
}
.fill-3 {
  filter: invert(76%) sepia(75%) saturate(447%) hue-rotate(91deg) brightness(85%) contrast(94%)
}
.fill-4 {
  filter: invert(50%) sepia(27%) saturate(3597%) hue-rotate(145deg) brightness(101%) contrast(107%)
}
.fill-99 {
  filter: invert(70%) sepia(39%) saturate(6621%) hue-rotate(194deg) brightness(102%) contrast(101%)
}
.fill-si {
  filter: invert(60%) sepia(13%) saturate(394%) hue-rotate(156deg) brightness(97%) contrast(86%)
}
.icn.ro {
  width: 72px;
  height: 72px
}
.icn.ro.i1 {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/1.svg) no-repeat center
}
.icn.ro.i2 {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/2.svg) no-repeat center;
  width: 104px
}
.icn.ro.i3 {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/3.svg) no-repeat center
}
.icn.ro.i4 {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/4.svg) no-repeat center
}
.icn.ro.i99 {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/99.svg) no-repeat center
}
.icn-bars {
  background-color: #fff;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/bars.svg) no-repeat 50% 50%
}
.icn-search {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/solid/search.svg) no-repeat center
}
.icn-bars {
  background: url(https://h1.mourjan.com/web/css/1.0/fa/duotone/bars.svg) no-repeat center
}
.icn-bell {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/solid/bell.svg) no-repeat center
}
.icn-user {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/solid/user.svg) no-repeat center
}
.icn-language {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/solid/globe.svg) no-repeat center
}
.icn-globe {
  background-color: #87ceeb;
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/regular/globe.svg) no-repeat center
}
.icn-region {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/regular/location.svg) no-repeat center
}
.icn-emblem {
  filter: invert(0)!important;
  background: url(https://h1.mourjan.com/web/css/1.0/assets/LogoV5.svg) no-repeat 4px
}
.icn-map-marker {
  background-color: #3cb371;
  -webkit-mask: url(https://dev.mourjan.com/css/2020/1.0/fa/regular/map-marker-alt.svg) no-repeat 50% 50%
}
.icn-rss {
  background-color: orange!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/rss.svg) no-repeat 50% 50%
}
.icn-camera {
  background: url(https://dev.mourjan.com/css/2020/1.0/assets/cam.svg) no-repeat 50% 50%
}
.icn-angle-left {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/angle-left.svg) no-repeat 50% 50%
}
.icn-angle-right {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/angle-right.svg) no-repeat 50% 50%
}
.icn-angle-down {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/angle-down.svg) no-repeat 50% 50%
}
.icn-chevron-left {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/chevron-left.svg) no-repeat 50% 50%
}
.icn-chevron-right {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/regular/chevron-right.svg) no-repeat 50% 50%
}
.icn-whatsapp {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/brands/whatsapp.svg) no-repeat 50% 50%
}
.icn-phone {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/solid/phone.svg) no-repeat 50% 50%
}
.icn-email {
  background-color: #fff!important;
  -webkit-mask: url(https://h1.mourjan.com/web/css/1.0/fa/solid/envelope.svg) no-repeat 50% 50%
}
.icn-coin {
  background: url(https://h1.mourjan.com/web/css/1.0/assets/coin.svg) no-repeat 50% 50%;
  background-size: contain
}
.icn-ban {
  background: url(https://dev.mourjan.com/css/2020/1.0/fa/solid/ban.svg) no-repeat 50% 50%/contain;
  filter: invert(37%) sepia(96%) saturate(7088%) hue-rotate(354deg) brightness(95%) contrast(124%)
}
.icn-alert {
  background: url(https://h1.mourjan.com/web/css/1.0/fa/regular/exclamation-triangle.svg) no-repeat 50% 50%/contain;
  filter: invert(73%) sepia(84%) saturate(899%) hue-rotate(358deg) brightness(106%) contrast(105%)
}
.icn-thumbs-up {
  background: url(https://h1.mourjan.com/web/css/1.0/fa/regular/thumbs-up.svg) no-repeat 50% 50%/contain;
  filter: invert(51%) sepia(86%) saturate(420%) hue-rotate(82deg) brightness(86%) contrast(87%)
}
body[dir=rtl] .icntop {
  right: auto;
  left: 12px
}

.premium {
  border: 1px solid var(--premium);
  background-color: #fff!important;
  box-shadow: 0 1px 4px 0 rgba(227,183,136,.5)!important
}
.premium .tail {
  border-top-color: var(--premium)!important
}
.premium .tag {
  width: 60px;
  z-index: 4;
  position: absolute;
  top: 58px;
  right: 0
}
/*
.active {
  background-color: #4caf50;
  color: #fff
}
*/
.ilogo {
  margin: 9px 18px;
  height: 72px;
  width: 72px;
  display: inline-block;
  background-image: url(https://dev.mourjan.com/css/2020/1.0/assets/LogoV5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1)
}
.card {
  display: inline-flex;
  flex: 1 auto;
  flex-flow: column;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 6px;
  color: rgba(0,0,0,.87);
  background: #fff
}
.card-header {
  display: inline-block;
  position: absolute;
  height: 62px;
  margin: -20px 14px 0 14px;
  padding: 12px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
  border-radius: inherit
}
.card .card-header {
  z-index: 3
}
.card .card-footer {
  margin: 0 20px 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  position: relative;
  display: inline-flex;
  width: -webkit-fill-available;
  width: -moz-available
}
.card-footer a {
  color: #4285f4!important
}
.card-footer a > span {
  font-size: inherit!important;
  font-weight: 400!important
}
.card-stats .card-content {
  text-align: right;
  padding-top: 10px
}
.card .card-content {
  display: inline-block;
  line-height: 1.5em;
  width: 100%;
  padding: 15px 20px;
  position: relative
}
.card .card-header.card-header-icon,
.card-content .card-title {
  padding-bottom: 24px
}
.card .card-title {
  margin: 0 68px;
  font-weight: 300
}
.card-header [class*=icn-] {
  background-color: transparent;
  filter: invert(100%) drop-shadow(4px 4px 2px rgba(0,0,0,.2))
}
.card header {
  min-height: 80px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  align-items: center;
  padding-inline-start: 50px;
  box-shadow: none;
  border-bottom: 1px solid #d6dcdf
}

.card header i {
  width: 54px;
  height: 54px
}
.card header h4 {
  color: #7abaff;
  font-size: 20pt;
  font-weight: 700;
  margin: 0 20px
}

.card ul {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  flex-flow: column
}
.card li {
  display: inherit;
  flex: 1 auto;
  border-bottom: 1px solid #eee
}
.card li:last-child {
  border: 0
}
.card li:hover,
dd:hover,
dt:hover {
  background-color: rgba(200,200,200,.2);
  color: var(--mourjanC)
}
.card li > a,
dd > a {
  display: inherit;
  color: var(--mcOnColor);
  flex: 1 auto;
  align-items: center
}
.card dt > a {
  display: inherit;
  flex: 1 auto;
  align-items: center;
  color: var(--mcOnColor)
}
.card .icn {
  flex: 0 0 auto
}
.card dl {
  columns: 1;
  margin: 0 0 0 20px;
  display: inherit;
  flex-flow: column;
  width: 100%;
  border-inline-end: 1px solid #afafaf;
  color: #8699a3
}
.card dl:last-child {
  border-inline-end: none
}
.card dt {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-column-break-before: always;
  page-break-before: always;
  break-inside: avoid;
  line-height: 40px
}
.card dt a {
  color: #8699a3;
  font-size: larger;
  font-weight: bolder
}
.card dd {
  cursor: pointer;
  -webkit-margin-start: 28px;
  margin-inline-start: 56px;
  line-height: 40px;
  list-style-type: disc;
  display: list-item
}
.card dt > span,
dt > a > span {
  flex: 1;
  padding: 0 8px
}
.card dd a {
  color: #8699a3;
  font-weight: 400
}
.card dt i {
  border-radius: 50%;
  background-size: cover!important;
  height: 26px!important;
  width: 26px!important;
  border: 1px solid #d3d3d3
}
.card [class*=col-] {
  display: flex;
  padding-top: 0;
  padding-left: 0
}
.card-product {
  margin-top: 30px
}
.card-product > ins {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14)
}
.adslot .card {
  box-shadow: none;
  background: 0 0
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none
}
.card-menu .card-header {
  height: 3.5rem;
  padding: 0;
  background-color: #1c415e;
  color: #fff;
  box-shadow: 0 14px 26px -12px rgba(153,153,153,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(153,153,153,.2)
}
.card-menu .card-title {
  margin: 0 20px
}
.card-menu .card-content {
  margin-top: 44px
}
.card-menu .card-content ul {
  flex-flow: row wrap
}
.card-menu .card-content li {
  border: 0;
  flex: 1 0 auto;
  margin: 4px
}
.ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none
}
.ar {
  direction: rtl;
  text-align: right
}
.en {
  direction: ltr;
  text-align: left
}

.ad {
  display: inherit;
  position: relative;
  min-width: 300px;
  max-width: 360px;
  width: 320px;
  margin: auto
}
/*
.ad a {
  display: inline-block
}
*/
.ad a > i {
  margin: 0
}

.ad .widget {
  display: inline-block;
  width: 100%;
  height: 360px;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 6px;
  color: rgba(0,0,0,.87);
  background: #fff
}
.ad .widget .content{
    display: inline-flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
}
.ad .widget .content i{
    margin-inline-start: 1px;
    margin-inline-end: 6px;
}

.ad .image {
  position: relative;
  height: 220px;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -15px;
  border-radius: 6px;
  z-index: 3;
  box-shadow: 0 6px 15px -10px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}
.ad .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none
}
.ad .image.seclogo *{
    opacity: 1 !important;
}

.ad .image .box {
  color: #fff;
  font-size: 14px;
  font-weight: 700
}

.ad .image .box.hint {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: #2d3e4f;
  opacity: .65;
  height: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 4px;
  padding-inline-end: 4px
}
.ad .image .box.new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d53845;
  color: #fff;
  opacity: .8;
  padding: 2px 5px;
  font-size: .7em;
  border-bottom-right-radius: 5px
}
.ad .image .box.cam {
  position: absolute;
  top: 8px;
  right: 8px;
  font-weight: 700
}
.ad .icn-camera {
  width: 30px;
  height: 25px!important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px
}
.ad .icn-camera:before {
  content: ""
}
.ad .content {
  display: inherit;
  position: relative;
  color: var(--mdc90);
  padding: 15px 15px 8px
}
.ad .tail {
  margin: 0 10px 10px;
  position: relative;
  display: inline-flex;
  width: -webkit-fill-available;
  width: -moz-available
}
.ad .tail ul {
  display: inline-flex;
  padding: 0;
  margin: 0 5px;
  flex-flow: column;
  width: 100%;
  white-space: nowrap;
  overflow: hidden
}
.ad .tail li {
  overflow: hidden;
  line-height: 1.5em;
  width: -webkit-fill-available;
  width: -moz-available;
  border-top: 1px solid var(--mdc12);
  line-height: 26px
}
.ad .tail a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  color: var(--mdc70)
}
.ad .tail a > :nth-child(2) {
  font-size: 22px;
  margin-top: -1px;
  color: #5a99ff
}
.ad .premium .tail a {
  color: #b59279
}
.ad .premium .tail a > :nth-child(2) {
  color: #b59279
}
.ad.full {
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: -webkit-fill-available;
  max-width: -moz-available
}
.ad .abuse {
  position: absolute;
  display: none;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 32px;
  height: 32px;
  cursor: pointer
}
.ad:hover .abuse {
  display: block
}
.ad .seclogo img {
  filter: var(--mseImgFilter);
  max-width: 90px!important;
  max-height: 90px;
  position: relative;
  object-fit: contain
}
.ad .image.seclogo i {
    display: inherit;
    position: absolute;
    top: 24px;
    left: 0;
    width: 32px;
    height: 22px;
    border-radius: 0 3px 3px 0;
    padding-inline-end: 5px;
    align-items: center;
    justify-content: flex-end;
}
body[dir=rtl] .image.seclogo i {
    left: auto;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.ad .image.seclogo i img {
    filter: invert(1);
    max-width: 18px !important;
    object-fit: fill;
    width: auto!important
}
.ad img.fpu1 {
  filter: var(--mpu1F)
}
.ad img.fpu2 {
  filter: var(--mpu2F)
}
.ad img.fpu3 {
  filter: var(--mpu3F)
}

.adslot {
  text-align: center;
  width: auto;
  height: auto;
  min-width: 300px;
  max-height: 750px!important;
  padding-bottom: 24px
}
.adsbygoogle {
  display: block;
  height: 320px;
  min-width: 250px;
  max-width: 360px;
  width: 100%;
  margin: auto;
  max-height: 750px!important
}
#results {
  flex-flow: column;
  width: 100%
}


.block-with-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 1.4em;
    width:100%;
    height: 4.2em;
    font-size: 16px;
    font-weight: 400;
    color: #5c696d
}
.ad .widget .block-with-text i{
    margin-inline-end: 2px;
}

.seclogo {
  background-color: var(--mdc);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px)
}
.seclogo img {
  width: 160px!important;
  height: auto!important
}
.card .cbox {
  display: flex;
  color: #fff;
  position: absolute;
  font-size: .8em;
  align-items: center;
  font-weight: 700
}
.card .cbox .icn-camera {
  width: 30px;
  height: 25px!important;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  padding-top: 3px
}
.card .cbox .icn-camera:before {
  content: ""
}
.card .cbox.ctl {
  top: 0;
  left: 0
}
.card .cbox.ctl.new {
  background-color: red;
  color: #fff;
  opacity: .8;
  padding: 2px 5px;
  font-size: .7em;
  border-bottom-right-radius: 5px
}
.card .cbox.ctr {
  top: 8px;
  right: 8px;
  font-weight: 700
}
.card .cbox.cbr {
  bottom: 5px;
  right: 8px
}
.card .cbox.cbl {
  bottom: 5px;
  left: 8px
}
.card .cbox.footer {
  height: 2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #2d3e4f;
  opacity: .65
}
.mibtn {
  border: none;
  display: none
}

.mcolor {
  background: var(--mourjanC)
}

.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  font-size: 12px;
  font-weight: 400;
  
  letter-spacing: 0;
  will-change: box-shadow,transform;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1)
}
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover,
.btn:active,
.btn:focus,
.btn:hover {
  box-shadow: 0 14px 26px -12px rgba(153,153,153,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(153,153,153,.2)
}
.btn.sim {
  padding: 0;
  background-color: var(--mlc);
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,123,255,.14),0 3px 1px -2px rgba(153,153,153,.2),0 1px 5px 0 rgba(0,123,255,.12)
}
.btn.sim a {
  padding: 12px 30px;
  color: #f5f5f5;
  font-weight: 600
}
.btn.sim:hover {
  background-color: orange;
  color: #fff;
  box-shadow: 0 14px 26px -12px rgba(255,165,0,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(255,165,0,.2)
}
.contact .btn {
  background-color: #5bc236;
  color: #fff;
  display: block;
  direction: ltr;
  text-transform: none;
  font-size: 1rem
}
.contact .icn {
  position: absolute;
  left: 4px;
  top: 8px
}
.list {
  float: right;
  position: relative;
  z-index: 100;
  margin: 0 0 0 5px;
  width: 300px
}
.list ul {
  columns: 1
}
.account {
  display: flex;
  flex: 1 auto;
  justify-content: space-around;
  flex-flow: row wrap
}
.account .btn {
  min-width: 120px;
  color: #fff;
  background-color: #007bff;
  text-transform: none;
  padding:12px 16px
}
.account .btn.current {
  font-weight: 700;
  opacity: .75
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.55);
  align-items: center;
  justify-content: center;
  overflow: auto;
  overflow-x: hidden
}
.modal .card {
  display: block;
  min-height: 60%;
  position: relative;
  float: none!important;
  margin: 48px auto 32px;
  overflow: visible
}
.modal .card .card-image {
  max-width: 620px;
  min-height: 224px;
  max-height: 360px;
  position: relative;
  overflow: hidden;
  overflow-y: visible;
  margin: -32px auto 0;
  border-radius: 6px;
  z-index: 1003;
  box-shadow: 0 10px 30px -12px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}
.card-media {
  min-height: 100px;
  position: relative;
  margin: 0 auto;
  border-radius: 0;
  text-align: center;
  z-index: 1003
}
.modal .block-with-text {
  height: auto;
  min-height: 2em
}
.close {
  color: #f5f5f5;
  float: right;
  font-size: 2.25em;
  font-weight: 700;
  position: absolute;
  right: -30px;
  top: -36px;
  z-index: 1020
}
.close:focus,
.close:hover {
  color: #ff0;
  text-decoration: none;
  cursor: pointer
}
#report {
  display: none;
  height: auto;
  padding-bottom: 12px;
  text-align: center
}

.select {
  position: relative;
  width: 100%;
  margin-top: 20px
}
.select-text {
  position: relative;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12)
}
.select-text:focus {
  outline: 0;
  border-bottom: 1px solid transparent
}
.select .select-text {
  appearance: none;
  -webkit-appearance: none
}
.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0,0,0,.12);
  pointer-events: none
}
.select-label {
  color: rgba(0,0,0,.26);
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: .2s ease all
}
.select-text:focus ~ .select-label,
.select-text:valid ~ .select-label {
  color: var(--midnight);
  top: -12px;
  transition: .2s ease all;
  font-size: .85em;
  margin: 0 8px
}
.select-bar {
  position: relative;
  display: block;
  width: 100%
}
.select-bar:after,
.select-bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2f80ed;
  transition: .2s ease all
}
.select-bar:before {
  left: 50%
}
.select-bar:after {
  right: 50%
}
.select-text:focus ~ .select-bar:after,
.select-text:focus ~ .select-bar:before {
  width: 50%
}
.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: .5
}
.related {
  flex: 1 auto;
  height: 54px;
  margin-bottom: 32px;
  margin-top: 16px;
  flex-wrap: wrap;
  overflow: hidden
}
.related .btn {
  border-radius: 30px;
  background-color: var(--mdc50);
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-top: 0;
  height: 50px;
  box-shadow: none;
  align-items: center;
  display: inline-flex
}
.related .btn + .btn {
  margin-inline-start: 12px
}

.rtl .oops .icn {
  margin: 0 0 0 10px
}
body[dir=ltr] .ad .abuse {
  right: 0;
  left: auto
}
body[dir=rtl] .modal .card {
  transform: translate(-50%,0)
}
body[dir=rtl] .slogan {
  letter-spacing: 0;
  font-weight: 700;
  font-size: 24px
}

.xl-border {
  border-left: 1px #ccc solid
}
.xr-border {
  border-right: 1px #ccc solid
}
@media screen and (max-width:768px) {
  .ad {
    float: left;
    margin: 0;
    min-width: 320px
  }
  .ls {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1
  }
  .side {
    width: 0;
    overflow-x: hidden;
    margin: 0;
    opacity: 0;
    transition: all .5s ease .15s;
    -webkit-transition: opacity 1s,min-width .5s
  }
  .mibtn {
    display: inline
  }
  .card-doc .card-title {
    margin: 0 16px
  }
  .modal .card {
    margin: 0;
    transform: translate(0,0)
  }
}

@media only screen and (min-width:769px) {
  .col-1 {
    width: 8.33%
  }
  .col-2 {
    width: 16.66%
  }
  .col-3 {
    width: 25%
  }
  .col-4 {
    width: 33.33%
  }
  .col-5 {
    width: 41.66%
  }
  .col-6 {
    width: 50%
  }
  .col-7 {
    width: 58.33%
  }
  .col-8 {
    width: 66.66%
  }
  .col-9 {
    width: 75%
  }
  .col-10 {
    width: 83.33%
  }
  .col-11 {
    width: 91.66%
  }
  .col-12 {
    width: 100%
  }
  [class*=col-] {
    display: inline-flex;
    padding: 8px
  }
  header {
    min-height: 120px
  }
  main {
    display: inherit;
    background-color: #eff2f4
  }
  .ilogo {
    margin: 0;
    width: 292px;
    height: 68px
  }
    
  body[dir=ltr] .ilogo {
    background-image: url(https://dev.mourjan.com/css/2020/1.0/assets/LogoV5e.svg)
  }
  body[dir=rtl] .ilogo {
    background-image: url(https://dev.mourjan.com/css/2020/1.0/assets/LogoV5a.svg);
    width: 308px
  }
}

@media only screen and (min-width:1920px) {
  .adv {
        height: 600px
  }
}