:root {
    --red: rgb(255, 99, 132);
    --orange: rgb(255, 159, 64);
    --yellow: rgb(255, 205, 86);
    --green: rgb(75, 192, 192);
    --blue: rgb(54, 162, 235);
    --purple: rgb(153, 102, 255);
    --grey: rgb(201, 203, 207);
}

canvas{max-width: 1024px;margin-left: auto; margin-right: auto;display: block}
#refreshChart{
    display:none;
    width:48px; height:48px;
    position:absolute;
    background-color: var(--mlc);
    outline: none;
    border: 1px solid var(--mdc12);
    border-radius: 4px;
}

.mls {
    display:flex;
    flex-flow: column;
    align-items: center;
    background-color: inherit;
    flex: 1;
}

.mls article {
    display: flex;
    color:var(--mdc70);
    position:relative;
    flex-flow: column;
    width: 100%;
    max-width: 100%;
    margin:0;
    border-bottom: 1px solid var(--mdc50)
}

.mls article+article {
    margin-block-start:48px;
}

.mls article * {
    display: inherit;
    align-items: center;
    outline: none;
}
.mls article .oc{height: 22px;display:inline-flex;align-items: center}

.mls article header {
    position:relative;
    font-weight: 500;
    min-height:auto;
    height:32px;
    justify-content:space-between;
    margin:0;
    z-index:10;
}

.mls article footer{
    height:64px;
    background:inherit;
    justify-content:space-around;
    align-items:center;
    direction: inherit
}

.mls article button {
    cursor: pointer;
    border:1px solid var(--mdc50);
    border-radius: 20px;
    height: 36px;
    min-width: 80px;   
    padding: 0 4px;
    background: inherit;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color:var(--mdc70);
    justify-content: center;
}

.ar{font-size:1.05rem;line-height:1.6em}

article .note {
    flex:1 auto;
    min-height:32px;
    background:var(--mdc10);
    justify-content:space-between;
    padding-inline-start:64px;
    font-size:14px;
    font-weight: 400;
}

article .note b {
    position: relative;
    margin:0 24px;
    white-space: nowrap;
}

article .note b::before {
    content: "|";
    position: absolute;
    left:0;
    font-size: 20px;
    font-weight: 700;
    margin-inline-start: -16px;
}
body[dir=rtl] .note b::before {
    left: auto;
    right: 0;
}
.icn-fail{background:transparent url(https://dev.mourjan.com/css/2020/1.0/fa/solid/lightbulb-exclamation.svg) no-repeat center;filter: invert(86%) sepia(64%) saturate(484%) hue-rotate(355deg) brightness(105%) contrast(106%);}
.icn-wait{mask:url(/web/css/1.0/fa/solid/alarm-clock.svg) no-repeat center;background-color: whitesmoke;margin:0 4px;}
.icn-done{
    background:transparent url(https://dev.mourjan.com/css/2020/1.0/fa/solid/check.svg) no-repeat center / cover !important;
    filter:invert(88%) sepia(19%) saturate(1749%) hue-rotate(86deg) brightness(86%) contrast(86%);
}
.icn-minus-circle{background:transparent url(https://dev.mourjan.com/css/2020/1.0/fa/solid/minus-circle.svg) no-repeat center / cover !important;
                 filter: invert(11%) sepia(67%) saturate(6919%) hue-rotate(352deg) brightness(106%) contrast(114%);
}
.icn-chart-line{background:transparent url(/web/css/1.0/fa/duotone/chart-line.svg) no-repeat center / cover !important;
                 filter: invert(11%) sepia(67%) saturate(6919%) hue-rotate(352deg) brightness(106%) contrast(114%);
}
.icn-sync{background:transparent url(/web/css/1.0/fa/duotone/sync.svg) no-repeat center / cover !important;filter:invert(1);margin: 0}

.mls article .user {
    height:32px;
    padding:0 8px;
    direction:ltr;
    background:var(--mdc80);
    justify-content:space-between;
    color:#f8f8f8;
    font-size: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mls article .user a {
    color: white;
    font-weight: 500;
    opacity: 0.85;
}

.ipqs {
    display: inherit;
    height: 32px;
}

.myad .user span{display: inline-flex;align-items: center}
.myad .user div{display:inline-flex}


.mls article .adbody {
    position: relative;
    align-items: flex-start;
    padding: 16px 4px;
    word-break: break-word;
}

.mls article .adbody .icon {
    width: 48px;
    height: 48px;
    padding: 6px;
    margin-inline-end: 12px;
    border: 1px solid var(--mdc30);
    border-radius: 6px;
    filter: var(--mseFilter);
}

.mls article .adbody * {
    align-items: flex-start;
}

.mls article .adbody.a {
    
}
.mls article .adbody .wording {
    align-items: flex-start;
    flex-basis: 100%;
}
.mls article .adbody .wording section {
    flex-basis: 100%;   
    padding: 0 8px 8px;
}
.mls article .adbody .wording section > div {
    display: block;
    line-height:1.6em;
}
.mls article .adbody.a .wording {
    flex-flow: column;
}
.mls article .adbody.c .wording {
    flex-flow: row;
}

.mls article .adbody.a .wording section+section{
    border-top: 1px solid var(--mdc10);
}
.mls article .adbody.c .wording section+section{
    margin-inline-start:64px;
}
.mls article .adbody .wording {
    display: inherit;
}
.mls article .adbody .photos {
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: flex-end;
    /*margin-inline-start:16px;*/
}

.mls article .adbody .photos img {
    position: relative;
    max-width: 104px;
}
.mls article .adbody .photos span+span {
    margin-inline-start:8px;
}
.mls article .adbody .photos.double img {
    max-width: 208px;    
}

.mls article .adbody .photos span {
    position: relative;
    margin-bottom: 16px;
}
.mls article .delpix {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: -4px;
    top: -10px;
    background:#fd636a;
    color:white;
    font-weight: 500;
    font-size: 36px;
    line-height: 18px;
    justify-content: center;
    z-index: 1;    
}

.mls article section {
    padding: 8px;
    align-items: flex-start;
}
/*
.mls article section+section {
    border-top: 1px solid var(--mdc10)
}


.myad section div {display:inline-block;line-height: 1.65em}

article.selected {
    border-bottom-color:var(--mlc);
}
*/

article .msg {
    white-space: break-space;
}
article .note::before{
    content: "";
    display: block;
    position: absolute;
    left:8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
body[dir=rtl] .note::before{
    left: auto;
    right: 8px;
}
article.selected .adbody {
    background:#a8d1ff;
    color:var(--mdc80);
}

article.warn .icon-state{
    background:transparent url(/css/2020/1.0/fa/light/bell.svg) no-repeat center / contain !important;
    filter:invert(20%) sepia(52%) saturate(3178%) hue-rotate(99deg) brightness(97%) contrast(104%) !important;
}

article.feature .user{
    background-color:var(--premium);
    color:white
}

.myad.fail{}

article.pending header {
    background-color:white;
    color:var(--mdc60);
}

article.pending .icon-state{
    background:transparent url(/css/2020/1.0/assets/wait.svg) no-repeat center / contain;
    filter: var(--mseFilter);
}
/*
article.rejected {
    border-bottom-color:#d53845;
}
*/
article.rejected header{
    background:inherit; 
    color:#d53845
}
article.rejected .note::before{
    background: #d53845;
}

article.rejected .icon-state{
    background:transparent url(/css/2020/1.0/fa/light/lightbulb-exclamation.svg) no-repeat center / contain;
    filter: invert(51%) sepia(80%) saturate(1166%) hue-rotate(310deg) brightness(101%) contrast(105%);
}
/*
article.approved {
    border-bottom-color: #4cbb17;
}
*/
article.approved header{
    background: inherit; 
    color:#4cbb17
}
article.approved .note::before{
    background: #4cbb17;
}

article.approved .icon-state {
    background:transparent url(/css/2020/1.0/fa/light/check.svg) no-repeat center / contain;
    filter:invert(51%) sepia(94%) saturate(512%) hue-rotate(59deg) brightness(98%) contrast(84%);
}

article.deleted header {
    background: inherit;
    color: red;
}

article.locked{
    opacity: 0.7;
    /*background-color: #fac8c8*/
}

.mls article .pn{
    display:inline;
    direction:ltr;
    unicode-bidi:bidi-override;
    white-space:nowrap;
}

/*
.myad section img {
    width:48px;
    height:48px;
    padding: 6px;
    margin-inline-end:12px;
    border:1px solid var(--mdc30);
    border-radius: 6px;
    filter:var(--mseFilter);
    
}
*/


article section > div[contenteditable="true"]{
    background-color: white;
    width: -webkit-fill-available;
    width: -moz-available;
    border: 1px solid var(--mcLightColor);
    padding: 8px;
}

/*
.myad section.ar > img {float:right;margin:0 0 5px 10px;border:0}
.myad section.en > img {float:left;margin:0 10px 5px 0;border:0}
*/
article .pn.png{
    color:rgba(0, 100, 0, 0.75);
    font-weight:500
}


.mls .inside{
    padding:0;
    font-size:1.1rem;
    text-align:center;
    display:none;
}

.mls .inside select{
    width:100%;
    padding:4px;
    font-family: inherit; 
    font-size:18px !important;
    border:none;
    color:white;
    background: var(--mdc60);
}

.mls .inside ul {
    display: flex;
    padding: 2px;
    align-items: flex-start;
}

.mls .inside li {
    align-items: flex-start;
}

/*
article input[type=button], article button {
    display:inline-flex;
    color: #007bff; 
    cursor: pointer; 
    font-size: 16px; 
    font-family: inherit; 
    border-color: var(--mlc) var(--mdc) var(--mdc) var(--mlc); 
    border-width: thin; 
    border-radius: 4px; 
    outline: none; 
    min-width: 60px;
    align-items: center;
    justify-content: center
}
*/

.inside input[type=button]{
    color:white;
}

.myad .btn{margin:4px 8px;color:white;}
.myad .btn.ok{background-color:#007bff}

.myad .icn.m{margin:0 4px;}

article .mask {
    display:flex;
    position:absolute;
    background-color:#000;
    opacity:.65;
    padding-bottom: 48px;
    justify-content:center;
    text-align: center;
    font-size:2em;
    font-weight: 700;
    color:#fff;
    z-index:10;
    width:100%;
    height:calc(100% - 64px);
    top:64px;
    left:0;
    line-height:1.25em;
}

.myad #fixForm{font-size:1rem;color:white;}
.myad #fixForm li{cursor: pointer}
.myad #fixForm .cur{background-color: lightcoral}
.myad #fixForm div{padding: 0 4px;}
.myad #fixT{font-size:1em;margin:8px 0;width: 100%;}


.myad #qSec{display:inherit;background-color:olive}
.myad #qRoot{display:inherit;background-color:darkcyan;font-weight:bold}
.myad #qAlt{display:inherit;background-color:olivedrab;padding:2px;font-weight:bold}
.myad #qSec ul {display:flex;flex-flow:row wrap;flex:1 auto;align-items:flex-start;justify-content:space-between}
.myad #qSec li {
    min-width: 200px;
    flex-grow: initial
}

/*
.pimgs{display:flex;flex-flow:row wrap;flex:1 auto;align-items:flex-start;justify-content: space-around;min-height: 200px}
.pimgs span{max-height:240px;position:relative}
.pimgs img{max-height:240px}
.pimgs .del{position: absolute; top:0;right:0}
*/

.mls .inside textarea{
    width:100%;
    height:100px;
    line-height: 1.5em;
    font-family: inherit;
    font-size: 1em;
    border:1px solid var(--mdc40)
}
.mls .pgn {
    display:inherit;
    padding:0;
    margin-top:48px;
    width:100%;
    justify-content: space-between;
}

/*
.mls .card .card-content{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}
*/


.adminNB{position:fixed;cursor:pointer;bottom:0;left:8px;background-color:#D9FAC8;padding:5px 15px;border:1px solid #ccc;font-weight:bold;color:#00e;width:140px;border-top-right-radius:6px;border-top-left-radius:6px;z-index:999;text-align:center}

.tooltip{position:relative;display:block}
.tooltip .tooltiptext{visibility:hidden;width:320px;background-color:black !important;color:#fff;text-align:left;direction:ltr;border-radius:6px;padding:5px;position:absolute;z-index:100;}
.tooltip:hover .tooltiptext{visibility:visible;}

.mySlides{display:none;height: 100%;width:100%;text-align:center;justify-content: center;align-items: center;}
.mySlides img{max-width:1024px;max-height:768px;filter:brightness(1.1)}

.slideshow {width:100%;height:100%;position:fixed;margin:auto;z-index:10;top:0;left:0;right:0;background-color:black;direction:ltr!important}
.slideshow header, .slideshow footer{width:100%;height:24px;min-height:auto;position:absolute;}
.slideshow header{background-color:inherit}
.slideshow footer{bottom:28px;text-align:center;}
.slideshow section{height: 100%;}
.slideshow .close{right:8px;top:0}
.slideshow .prev, .next{cursor:pointer;position:absolute;top:50%;width:auto;padding:16px;color:white;font-weight:bold;font-size:2em;transition:0.6s ease;border-radius:0 3px 3px 0;user-select:none;}
.slideshow .next{right:0;border-radius:3px 0 0 3px;}
.slideshow .prev{left:0;}
.slideshow .prev:hover, .next:hover{background-color:rgba(0,0,0,0.8);}

/* Caption text */
.text{color:#f2f2f2;font-size:15px;padding:8px 12px;position:absolute;bottom:8px;width:100%;text-align:center;}
/* Number text (1/3 etc) */
.numbertext{color:#f2f2f2;font-size:12px;padding:8px 12px;position:absolute;top:0;}

.dot{cursor:pointer;height:15px;width:15px;margin:0 2px;background-color:#bbb;border-radius:50%;display:inline-block;transition:background-color 0.6s ease;}
.active, .dot:hover{background-color:#717171;}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;animation-duration:1.5s;}

.loader{
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.adstatus {
    display: inherit;
    flex-flow: row;
}
.btn.state {
    display: inherit;
    height: 88px;
    flex-basis: 100%;
    border-radius: 8px;
    background-color: var(--mdc10);
    box-shadow:none;
    color:var(--mdc50);
    font-size: 18px;
    align-items: center;
    /*justify-content: center;*/
    padding-inline-start:72px;
}
.btn.state+.btn.state{
    margin-inline-start:4px;
}
.btn.state.current {
    background: var(--mlc);
    color:white;
    opacity: 1;
    font-weight: 500;
}
.btn.state.current::before {
    filter:invert(1);
}

.btn.state::before {
    content: "";
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    width: 40px;
    height: 40px;
    filter: var(--mseFilter);
}

.btn.state.online::before {
    background:url(/web/css/1.0/assets/state-7.svg) no-repeat center;
}
.btn.state.penging::before {
    background:url(/web/css/1.0/assets/state-3.svg) no-repeat center;
}
.btn.state.draft::before {
    background:url(/web/css/1.0/assets/state-0.svg) no-repeat center;
}
.btn.state.archive::before {
    background:url(/web/css/1.0/assets/state-9.svg) no-repeat center;
}


body[dir=rtl] .btn.state::before {
    left:auto;
    right: 24px;
}


body[dir=rtl] aside li.on i:after {
    left: auto;
    right: 100%;
}

body[dir=rtl] aside li.on b:after {
    left:auto;
    right: 0;
}

@keyframes spin{0% {transform: rotate(0deg);} 100% {transform:rotate(360deg);}}

@-webkit-keyframes fade{from{opacity:.4} to{opacity:1}}
@keyframes fade{from{opacity:.4} to{opacity:1}}
@media only screen and (max-width:300px){.prev, .next,.text {font-size:11px}}

