.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.body{
    display:none;
    position:fixed;
    top:0;
    left:0;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    background:#eee;
    overflow:hidden;
}
.popup-container{
    display:grid;
    max-width:350px;
    height:600px;
    margin:0 auto;
    filter:drop-shadow(0 2px 0 rgba(0,0,0,.15) );
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-gap: 10px;
    
}
.sign{
    grid-template-areas: "signup ... ... close" "... title title ..." "form form form form" "facebook twitter ... login";
}
.okcancel{
    grid-template-areas: "... ... ... close" "... title title ..." "form form form form" "facebook twitter login login";
}
.button-with-icon{
    display: flex;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    grid-template-areas:"icon title";
    min-width: 80px;
}
.button-with-icon i {
    left: 8px;
}
.button-with-icon span {
    grid-area:title;
}
.popup{
    background:#333;
    background-position: center top;
    background-size: cover;
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 528px;
    grid-column: 1 / 5;
    grid-row: 1 / 6;
    column-gap: 30px;
    z-index: -1;
}
form{
    grid-area:form;
    background:white;
    border-radius:15px;
    margin:1em;
    padding:1em;
    box-shadow:0 2px 0 rgba(0,0,0,.08);    
}
form h2{
    text-align:center;
    font-family:sans-serif;
    margin-bottom:0;
}
form > input{
    display:block;
    padding:1em 1em 1em 1.5em;
    margin:2em auto;
    width:90%;
    border:0;
    background:#eee;
    border-radius:50px;
}

button{
    width:56px;
    height:56px;
    padding:0;
    display:block;
    border-radius:50%;
    border:0;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

button > svg {
    height:3em;
    width:3em;
    fill:white;
}

.login-button{
    background:#f8f8f8;
    grid-area:login;
    margin-right:2.5em;
}
.login-button svg {
    fill:#333;
    height:32px;
    width:auto;
}
.facebook{
    background:#3b5998;
    color:white;
    grid-area:facebook;
    margin-left:2.5em;
}

.twitter{
    grid-area:twitter;
    background:#1dcaff;
}

.signup{
    grid-area:signup;
    text-decoration:none;
    color:white; /* #333;*/
    vertical-align:center;
    font-family:sans-serif;
    padding:2em 1em;
    font-size:14px;
    font-weight:600;
}

.xbtn{
    grid-area:close;
    background:#e95950;
    opacity:.7;
    border-radius:50%;
    height:24px;
    width:24px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:1em;
    margin-top:1em;
    justify-self:right;
    transform:opacity 250ms ease;
}
.xbtn svg{
    fill:white;
    height:18px;
    width:auto;
}

a.xbtn:hover{ opacity:1; }

/*
.button{background-color:#999999;display:inline-block;padding:6px 12px;margin-bottom:0;
     font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;
     vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;
     -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;
     border:1px solid transparent;border-radius:4px;
     box-shadow:0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);}
*/
.button {    
    grid-area:login;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: flex !important;
    white-space: nowrap;
    background: #47c;
    border-radius: 3px;
    border: 0px solid #444;
    border-width: 0px 0px 0px 0px;
    padding: 10px 15px 10px 41px;
    box-shadow: 0px 2px 0px #25a;
    color: #fff;
    font-size: 1em;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    height: 48px;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3)
}

/*
.button > i {
    font-size: 1em;
   
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 14px 7px 14px 7px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 25%;
    left: 0px;
    bottom: 0px;
    width: 34px
}*/
/*
.button > .ld {
    font-size: initial
}*/
/*----*/
.button {
    width: auto;
    position: relative;
    display: grid;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);  
    background-color: #2ecc71;
    color: #ecf0f1;  
    transition: background-color .3s;
}

.button:hover, .button:focus { background-color: #27ae60; }

.button > * { position: relative; }
.button span { display: block; padding: 12px 24px; }

.button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button:active:before {
    width: 120%;
    padding-top: 120%;  
    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}
.button.orange { background-color: #e67e22; }
.button.orange:hover, .button.orange:focus { background-color: #d35400; }
.button.red { background-color: #e74c3c; }
.button.red:hover, .button.red:focus { background-color: #c0392b; }

-webkit-keyframes bounceInUp{
    0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}
    0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}
    60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
    75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
    90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
    to{-webkit-transform:translateZ(0);transform:translateZ(0)}}
@keyframes bounceInUp{
    0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}
    0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}
    60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
    75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
    90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
    to{-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp}
