#main {width: 100%;display:flex;flex:1 auto;flex-flow: column}
#main .card{margin: 12px 0}
#main .card-header{display: flex;align-items: center;background-color: white;padding: 0;height:40px; min-width: 240px}
#main .card .card-title{margin: 0 44px !important}
#main .card .card-content{padding-top: 24px}
#main h5{margin: 0;font-size: 1.1rem}
.btn.blue{background-color: #007bff; color:white!important}
.card .pictures{display: flex; flex: 1 auto; flex-flow: row wrap; align-items: center; justify-content: space-between;}
#main .pix {display:inline-flex; width: 306px; height: 192px; border: 1px solid lightgray;margin-bottom:8px;cursor: pointer; align-items: center; justify-content: center}
#main .pix > input {display:none}
#main .pix > img {display:block; object-fit: cover; object-position: center;height: 100%;width: 100%}
.card textarea{width: 100%; height: 120px;border: 1px solid lightgray;font-size: 1em;padding: 6px}
#main .card ul{padding:15px 20px}

@media screen and (max-width: 768px) {    
    .modal{position:absolute;top:0;left:0;width:100%;height:100%;bottom:0;-webkit-overflow-scrolling:touch;background-color: white}
    .modal *{-webkit-overflow-scrolling: auto;overflow-y: auto;}
    .close{right:8px;top:4px;}
    .nopix{position: relative;}
    .modal div:first-child{padding-top:0}
}

.modal h6{margin: 24px 0 12px}
.modal li{cursor: pointer}

.pictures span.icn-camera{background-color:lightgrey !important;-webkit-mask:url(/web/css/1.0/fa/regular/camera-retro.svg) no-repeat 50% 50%;}
.modal .card .card-footer{display: flex; flex-flow: row; flex: 1 auto; justify-content: space-around}
.modal .pix {display:inline-flex; width: 100%; align-items: center; justify-content: center}
.modal .pix > img {display:block; object-fit: cover; object-position: center;height: 100%;width: 100%}


.select{margin-top: 0;width:auto}
.select select{width:180px}
.select .select-text{border-bottom:0}

#main .field {height: 1.5em;font-size: 1.1rem;
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: #444;
    outline: 0;
    border: none;

    border-bottom: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	   -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	     -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
			transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
}
#main .field:error{
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f44336 4%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f44336 4%);
        background-position: 0 0;
        background-size: 400px 100%;
        background-repeat: no-repeat;
}
#main .field:required{
     box-shadow: none;
}
#main .field:invalid{
     color: red;
}
#main .field:focus{
    background-position: 0 0;
    color: #444;
    -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

#main .card li {align-items: center}
