.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: 1em;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  max-height: 40px;
  max-width: 26px;
 
}
.flag-icon:before {
  content: "\00a0";

}

.flag-icon-ae {
  background-image: url(../flags/4x3/ae.svg);
}
.flag-icon-bh {
  background-image: url(../flags/4x3/bh.svg);
}
