.install .rating.en {
    background: url(i/rating-en.webp) no-repeat top left
}
.install .rating.en {
    background: url(i/rating-en.webp) no-repeat top left
}
.install .rating.ar {
    background: url(i/rating-ar.webp) no-repeat top right
}
.install .rating.ios {
    background: url(i/rating-ios.webp) no-repeat top right
}
.install .ilogo {
    background: url(i/store.webp) no-repeat center
}
.vpdi.en {
    background: url(./i/mpd.webp) no-repeat left center
}
.vpdi.ar {
    background: url(./i/mpde.webp) no-repeat right center
}
.ybx {
    background: transparent url(./i/eye-watch.webp) no-repeat center
}
.play {
    background: transparent url(./i/play.webp) no-repeat center
}
/*.cf {
    background-image: url(./i/f/all.webp)
}*/
span.na {
    background-image: url(./i/na.webp)
}
.z {
    background-image: url(./i/cars.webp)
}
.x {
    background-image: url(./i/realestate.webp)
}
.y {
    background-image: url(./i/service.webp)
}
.u {
    background-image: url(./i/misc.webp)
}
.v {
    background-image: url(./i/jobs.webp)
}
.som {
    background: url(./i/som.webp) no-repeat center
}
.bwzen .boa {
    background: transparent url(./i/bwz_en.webp) no-repeat -388px 0
}
.bwzen .poa {
    background: transparent url(./i/bwz_en.webp) no-repeat 15px 0
}
.bwzar .boa {
    background: transparent url(./i/bwz_ar.webp) no-repeat -255px 0
}
.bwzar .poa {
    background: transparent url(./i/bwz_ar.webp) no-repeat -645px 0
}
.ovp.en {
    background-image: url(./i/ftroe.webp)
}
.ovp.ar {
    background-image: url(./i/ftro.webp)
}
@media all and (min-width: 443px) {
    .ad_r #ad-1,
    .ad_r #ad-2,
    .ad_r #ad-3 {
        background: url(./i/ofi.webp) no-repeat bottom left
    }
    .ad_l #ad-1,
    .ad_l #ad-2,
    .ad_l #ad-3 {
        background: url(./i/ofie.webp) no-repeat bottom right
    }
}


.z10 {
    background-position: -3px 0px
}
.z11 {
    background-position: -163px 0px
}
.z13 {
    background-position: -203px 0px
}
.z15 {
    background-position: -243px 0px
}
.z21 {
    background-position: -283px 0px
}
.z22 {
    background-position: -323px 0px
}
.z23 {
    background-position: -363px 0px
}
.z24 {
    background-position: -3px -40px
}
.z26 {
    background-position: -43px -40px
}
.z27 {
    background-position: -83px -40px
}
.z28 {
    background-position: -43px 0px
}
.z30 {
    background-position: -123px -40px
}
.z32 {
    background-position: -163px -40px
}
.z33 {
    background-position: -203px -40px
}
.z34 {
    background-position: -243px -40px
}
.z35 {
    background-position: -283px -40px
}
.z37 {
    background-position: -323px -40px
}
.z38 {
    background-position: -363px -40px
}
.z39 {
    background-position: -3px -80px
}
.z40 {
    background-position: -43px -80px
}
.z44 {
    background-position: -83px 0px
}
.z48 {
    background-position: -83px -80px
}
.z49 {
    background-position: -123px -80px
}
.z50 {
    background-position: -163px -80px
}
.z51 {
    background-position: -203px -80px
}
.z52 {
    background-position: -243px -80px
}
.z53 {
    background-position: -283px -80px
}
.z54 {
    background-position: -323px -80px
}
.z55 {
    background-position: -363px -80px
}
.z56 {
    background-position: -3px -120px
}
.z57 {
    background-position: -123px 0px
}
.z58 {
    background-position: -43px -120px
}
.z59 {
    background-position: -83px -120px
}
.z60 {
    background-position: -123px -120px
}
.z67 {
    background-position: -163px -120px
}
.z71 {
    background-position: -203px -120px
}
.z73 {
    background-position: -243px -120px
}
.z74 {
    background-position: -283px -120px
}
.z75 {
    background-position: -323px -120px
}
.z76 {
    background-position: -363px -120px
}
.z77 {
    background-position: -3px -160px
}
.z78 {
    background-position: -43px -160px
}
.z79 {
    background-position: -83px -160px
}
.z80 {
    background-position: -123px -160px
}
.z81 {
    background-position: -163px -160px
}
.z82 {
    background-position: -203px -160px
}
.z87 {
    background-position: -243px -160px
}
.z88 {
    background-position: -283px -160px
}
.z89 {
    background-position: -323px -160px
}
.z90 {
    background-position: -363px -160px
}
.z91 {
    background-position: -3px -200px
}
.z92 {
    background-position: -43px -200px
}
.z93 {
    background-position: -83px -200px
}
.z94 {
    background-position: -123px -200px
}
.z95 {
    background-position: -163px -200px
}
.z96 {
    background-position: -203px -200px
}
.z97 {
    background-position: -243px -200px
}
.z98 {
    background-position: -283px -200px
}
.z99 {
    background-position: -323px -200px
}
.z100 {
    background-position: -363px -200px
}
.z101 {
    background-position: -3px -240px
}
.z102 {
    background-position: -43px -240px
}
.z103 {
    background-position: -83px -240px
}
.z104 {
    background-position: -123px -240px
}
.z117 {
    background-position: -163px -240px
}
.z118 {
    background-position: -203px -240px
}
.z119 {
    background-position: -243px -240px
}
.z120 {
    background-position: -283px -240px
}
.z384 {
    background-position: -323px -240px
}
.z385 {
    background-position: -363px -240px
}
.z386 {
    background-position: -3px -280px
}
.z387 {
    background-position: -43px -280px
}
.z1515 {
    background-position: -83px -280px
}
.z1517 {
    background-position: -123px -280px
}
.z1518 {
    background-position: -163px -280px
}
.z1519 {
    background-position: -203px -280px
}
.z1520 {
    background-position: -243px -280px
}


.x1 {
    background-position: -3px 0
}
.x2,
.x106,
.x122 {
    background-position: -43px 0
}
.x3,
.x121,
.x131 {
    background-position: -83px 0
}
.x5 {
    background-position: -123px 0
}
.x4 {
    background-position: -163px 0
}
.x6 {
    background-position: -203px 0
}
.x7,
.x9 {
    background-position: -243px 0
}
.x8 {
    background-position: -283px 0
}
.x111 {
    background-position: -323px 0
}
.x162 {
    background-position: -363px 0
}
.x294 {
    background-position: -3px -40px
}
.x346 {
    background-position: -43px -40px
}
.x367 {
    background-position: -83px -40px
}
.x419 {
    background-position: -123px -40px
}
.x498 {
    background-position: -163px -40px
}
.x748 {
    background-position: -203px -40px
}
.x1000 {
    background-position: -243px -40px
}
.x1341 {
    background-position: -283px -40px
}
.x1458 {
    background-position: -323px -40px
}
.x105 {
    background-position: -363px -40px
}


.y185,
.y1201 {
    background-position: -3px 0
}
.y189 {
    background-position: -43px 0
}
.y190 {
    background-position: -83px 0
}
.y191 {
    background-position: -123px 0
}
.y192 {
    background-position: -163px 0
}
.y193 {
    background-position: -203px 0
}
.y194,
.y321 {
    background-position: -243px 0
}
.y195 {
    background-position: -283px 0
}
.y196 {
    background-position: -323px 0
}
.y197 {
    background-position: -363px 0
}
.y198 {
    background-position: -3px -40px
}
.y199 {
    background-position: -43px -40px
}
.y215 {
    background-position: -83px -40px
}
.y224 {
    background-position: -123px -40px
}
.y229 {
    background-position: -163px -40px
}
.y253 {
    background-position: -203px -40px
}
.y260 {
    background-position: -243px -40px
}
.y283 {
    background-position: -283px -40px
}
.y324 {
    background-position: -323px -40px
}
.y371 {
    background-position: -363px -40px
}
.y431 {
    background-position: -3px -80px
}
.y438 {
    background-position: -43px -80px
}
.y540 {
    background-position: -83px -80px
}
.y586 {
    background-position: -123px -80px
}
.y721 {
    background-position: -163px -80px
}
.y730 {
    background-position: -203px -80px
}
.y754,
.y934 {
    background-position: -243px -80px
}
.y1114 {
    background-position: -283px -80px
}
.y1179 {
    background-position: -323px -80px
}
.y1487 {
    background-position: -363px -80px
}
.y1437 {
    background-position: -3px -120px
}
.y1030 {
    background-position: -43px -120px
}
.y1514 {
    background-position: -83px -120px
}
.y391 {
    background-position: -123px -120px
}
.y19 {
    background-position: -163px -120px
}
.y1521 {
    background-position: -243px -120px
}


.u62 {
    background-position: -3px 0
}
.u63 {
    background-position: -43px 0
}
.u65 {
    background-position: -83px 0
}
.u69 {
    background-position: -123px 0
}
.u84 {
    background-position: -163px 0
}
.u85 {
    background-position: -203px 0
}
.u107 {
    background-position: -243px 0
}
.u108 {
    background-position: -283px 0
}
.u113 {
    background-position: -323px 0
}
.u114 {
    background-position: -363px 0
}
.u116 {
    background-position: -3px -40px
}
.u123 {
    background-position: -43px -40px
}
.u124 {
    background-position: -83px -40px
}
.u125 {
    background-position: -123px -40px
}
.u132 {
    background-position: -163px -40px
}
.u135 {
    background-position: -203px -40px
}
.u144 {
    background-position: -243px -40px
}
.u155 {
    background-position: -283px -40px
}
.u214 {
    background-position: -323px -40px
}
.u223 {
    background-position: -363px -40px
}
.u236 {
    background-position: -3px -80px
}
.u279 {
    background-position: -43px -80px
}
.u291 {
    background-position: -83px -80px
}
.u293 {
    background-position: -123px -80px
}
.u296 {
    background-position: -163px -80px
}
.u297 {
    background-position: -203px -80px
}
.u298 {
    background-position: -243px -80px
}
.u325 {
    background-position: -283px -80px
}
.u343 {
    background-position: -323px -80px
}
.u350 {
    background-position: -363px -80px
}
.u363 {
    background-position: -3px -120px
}
.u392 {
    background-position: -43px -120px
}
.u513 {
    background-position: -83px -120px
}
.u515 {
    background-position: -123px -120px
}
.u534 {
    background-position: -163px -120px
}
.u539 {
    background-position: -203px -120px
}
.u617 {
    background-position: -243px -120px
}
.u766 {
    background-position: -283px -120px
}
.u834 {
    background-position: -323px -120px
}
.u864 {
    background-position: -363px -120px
}
.u924 {
    background-position: -3px -160px
}
.u1061 {
    background-position: -43px -160px
}
.u1079 {
    background-position: -83px -160px
}
.u1112 {
    background-position: -123px -160px
}
.u1314 {
    background-position: -163px -160px
}


.v12,
.v463 {
    background-position: -3px 0
}
.v14 {
    background-position: -43px 0
}
.v16 {
    background-position: -83px 0
}
.v17 {
    background-position: -123px 0
}
.v18 {
    background-position: -163px 0
}
.v19,
.v20 {
    background-position: -203px 0
}
.v29 {
    background-position: -243px 0
}
.v36 {
    background-position: -283px 0
}
.v41 {
    background-position: -323px 0
}
.v42 {
    background-position: -363px 0
}
.v43 {
    background-position: -3px -40px
}
.v45 {
    background-position: -43px -40px
}
.v46 {
    background-position: -83px -40px
}
.v47,
.v339 {
    background-position: -123px -40px
}
.v109 {
    background-position: -163px -40px
}
.v110 {
    background-position: -203px -40px
}
.v112 {
    background-position: -243px -40px
}
.v115 {
    background-position: -283px -40px
}
.v126 {
    background-position: -323px -40px
}
.v129 {
    background-position: -363px -40px
}
.v134 {
    background-position: -3px -80px
}
.v137 {
    background-position: -43px -80px
}
.v146 {
    background-position: -83px -80px
}
.v150 {
    background-position: -123px -80px
}
.v152 {
    background-position: -163px -80px
}
.v170 {
    background-position: -203px -80px
}
.v213 {
    background-position: -243px -80px
}
.v278 {
    background-position: -283px -80px
}
.v292 {
    background-position: -323px -80px
}
.v326 {
    background-position: -363px -80px
}
.v327 {
    background-position: -3px -120px
}
.v328 {
    background-position: -43px -120px
}
.v329 {
    background-position: -83px -120px
}
.v332 {
    background-position: -123px -120px
}
.v334 {
    background-position: -163px -120px
}
.v345 {
    background-position: -203px -120px
}
.v389 {
    background-position: -243px -120px
}
.v744 {
    background-position: -283px -120px
}
.v1058 {
    background-position: -323px -120px
}