.x {
    background-image: url(./i/realestate.png)
}
.x1 {
    background-position: -3px 0
}
.x2,
.x106,
.x122 {
    background-position: -43px 0
}
.x3,
.x121,
.x131 {
    background-position: -83px 0
}
.x5 {
    background-position: -123px 0
}
.x4 {
    background-position: -163px 0
}
.x6 {
    background-position: -203px 0
}
.x7,
.x9 {
    background-position: -243px 0
}
.x8 {
    background-position: -283px 0
}
.x111 {
    background-position: -323px 0
}
.x162 {
    background-position: -363px 0
}
.x294 {
    background-position: -3px -40px
}
.x346 {
    background-position: -43px -40px
}
.x367 {
    background-position: -83px -40px
}
.x419 {
    background-position: -123px -40px
}
.x498 {
    background-position: -163px -40px
}
.x748 {
    background-position: -203px -40px
}
.x1000 {
    background-position: -243px -40px
}
.x1341 {
    background-position: -283px -40px
}
.x1458 {
    background-position: -323px -40px
}
.x105 {
    background-position: -363px -40px
}