.v {
    background-image: url(./i/jobs.png)
}
.wbp .v {
    background-image: url(./i/jobs.webp)
}
.v12,
.v463 {
    background-position: -3px 0
}
.v14 {
    background-position: -43px 0
}
.v16 {
    background-position: -83px 0
}
.v17 {
    background-position: -123px 0
}
.v18 {
    background-position: -163px 0
}
.v19,
.v20 {
    background-position: -203px 0
}
.v29 {
    background-position: -243px 0
}
.v36 {
    background-position: -283px 0
}
.v41 {
    background-position: -323px 0
}
.v42 {
    background-position: -363px 0
}
.v43 {
    background-position: -3px -40px
}
.v45 {
    background-position: -43px -40px
}
.v46 {
    background-position: -83px -40px
}
.v47,
.v339 {
    background-position: -123px -40px
}
.v109 {
    background-position: -163px -40px
}
.v110 {
    background-position: -203px -40px
}
.v112 {
    background-position: -243px -40px
}
.v115 {
    background-position: -283px -40px
}
.v126 {
    background-position: -323px -40px
}
.v129 {
    background-position: -363px -40px
}
.v134 {
    background-position: -3px -80px
}
.v137 {
    background-position: -43px -80px
}
.v146 {
    background-position: -83px -80px
}
.v150 {
    background-position: -123px -80px
}
.v152 {
    background-position: -163px -80px
}
.v170 {
    background-position: -203px -80px
}
.v213 {
    background-position: -243px -80px
}
.v278 {
    background-position: -283px -80px
}
.v292 {
    background-position: -323px -80px
}
.v326 {
    background-position: -363px -80px
}
.v327 {
    background-position: -3px -120px
}
.v328 {
    background-position: -43px -120px
}
.v329 {
    background-position: -83px -120px
}
.v332 {
    background-position: -123px -120px
}
.v334 {
    background-position: -163px -120px
}
.v345 {
    background-position: -203px -120px
}
.v389 {
    background-position: -243px -120px
}
.v744 {
    background-position: -283px -120px
}
.v1058 {
    background-position: -323px -120px
}