.ic.k.fav.on {
    background-position: -34px -20px
}
.aon {
    background-position: -164px 2px;
}
.aedi {
    background-position: -121px -205px
}
.aon {
    background-position: -164px 2px
}
.afd {
    background-position: -163px -28px
}
.apd {
    background-position: -158px -58px
}
.apb {
    background-position: -159px -92px
}
.us li {
    background-color: #FFFF9F;
    margin: 0!important;
    padding-bottom: 0px
}