.ic.k.fav.on {
    background-position: -34px -20px!important;
}
.aon {
    background-position: -164px 2px!important;
}
.aedi {
    background-position: -121px -205px!important;
}
.aon {
    background-position: -164px 2px!important;
}
.afd {
    background-position: -163px -28px!important;
}
.apd {
    background-position: -158px -58px!important;
}
.apb {
    background-position: -159px -92px!important;
}
.us li {
    background-color: #FFFF9F;
    margin: 0!important;
    padding-bottom: 0px
}